<div class="panel">
	<div class="panel-body">
		<div class="filter-hero">
			<div class="filter-label semibold show">Hide Filter</div>							
			<div class="filter-area">
				<div class="clearfix">
					<form name="queryForm" role="form" novalidate>
						<div class="pull-left col-md-5 no-pad">
							<div class="pull-left col-md-6 no-lpad">
								<div class="form-group">
									<div class="custom-label semibold">Carrier</div>
									<input type="text" class="form-control" name="carrier" id="carrier" ng-model="vm.queryParams.carrier" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Source</div>
									<select class="form-control" name="source" id="source" ng-init="vm.queryParams.source = 'A'" ng-model="vm.queryParams.source">
										<option value="{{value.key}}" ng-repeat="value in vm.sources track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Public/Private</div>
									<select class="form-control" name="publicPrivate" id="publicPrivate" ng-disabled="true" ng-model="vm.queryParams.publicPrivate">
										<option value="{{value.key}}" ng-repeat="value in vm.publicPrivate track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Tariff</div>
									<input autocomplete="off" type="text" name="tariff" ng-model="vm.queryParams.tariff" class="form-control"
            							uib-typeahead="o.tarNo as o.tarNo + ' - ' + o.tarCd for o in vm.tariffs | filter:{tarNo: $viewValue} | limitTo:5">
								</div>
								<div class="form-group">
									<div class="custom-label semibold">GA Fare Type</div>
									<select title="Only available for Market fares" class="form-control" name="gaFareType" id="gaFareType" ng-disabled="vm.queryParams.source != '' && vm.queryParams.source != 'M'" ng-model="vm.queryParams.gaFareType">
										<option value="{{value.code}}" ng-repeat="value in vm.gaFareTypes track by $index">{{value.code}} - {{value.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Fare Type</div>
									<select class="form-control" name="fareType" id="fareType" ng-model="vm.queryParams.fareType">
										<option value="">Select Type Code</option>
										<option value="{{value.typeCode}}" ng-repeat="value in vm.fareTypes track by $index">{{value.typeCode}} - {{value.definition}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Fare Basis</div>
									<input type="text" class="form-control" name="fareBasis" id="fareBasis" ng-model="vm.queryParams.fareBasis" farebasis/>
								</div>
							</div>
							<div class="pull-left col-md-6 no-lpad">
								<div class="form-group">
									<div class="custom-label semibold">Origin</div>
									<span class="input-group">
										<input type="text" class="form-control" name="origin" id="origin" ng-model="vm.queryParams.origin" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Origin')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Destination</div>
									<span class="input-group">
										<input type="text" class="form-control" name="destination" id="destination" ng-model="vm.queryParams.destination" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Destination')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Global Indicator</div>
									<select class="form-control" name="globalIndicator" id="globalIndicator" ng-model="vm.queryParams.globalIndicator">
										<option value="">Select Global Indicator</option>
										<option value="{{value.global}}" ng-repeat="value in vm.globalIndicators track by $index">{{value.global}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">OW/RT</div>
									<select class="form-control" name="owrt" id="owrt" ng-model="vm.queryParams.owrt">
										<option value="{{value.key}}" ng-repeat="value in vm.owrts track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Footnote</div>
									<input type="text" class="form-control" name="footnote" id="footnote" ng-model="vm.queryParams.footnote" maxlength="2" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Rule No</div>
									<input type="text" class="form-control" name="ruleNo" id="ruleNo" ng-model="vm.queryParams.ruleNo" maxlength="4" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Routing No</div>
									<input type="text" class="form-control" name="routingNo" id="routingNo" ng-model="vm.queryParams.routingNo" maxlength="4" uppercase/>
								</div>
							</div>
						</div>
						<div class="pull-left col-md-7 no-pad">
							<div class="col-md-8 no-lpad">
								<div class="form-group">
									<div class="custom-label semibold">Effective Date</div>
									<div class="row no-mar">
										<div class="col-md-4 no-lpad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'effectiveDateFrom')" 
												is-open="vm.datePickerOpenStatus['effectiveDateFrom']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="effectiveDateFrom" id="datepicker" 
												ng-model="vm.effectiveDateFrom" placeholder="From"/>
										</div>
										<div class="col-md-4 no-pad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'effectiveDateTo')"
												is-open="vm.datePickerOpenStatus['effectiveDateTo']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="effectiveDateTo" id="datepicker" 
												ng-model="vm.effectiveDateTo" placeholder="To"/>
										</div>
										<div class="col-md-4 no-rpad">
											<select class="form-control" name="effectiveDateOption" id="effectiveDateOption" ng-init="vm.queryParams.effectiveDateOption = vm.dateOptions[0].key" ng-model="vm.queryParams.effectiveDateOption">
												<option value="{{value.key}}" ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Sale Date</div>
									<div class="row no-mar">
										<div class="col-md-4 no-lpad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'saleDateFrom')"
												is-open="vm.datePickerOpenStatus['saleDateFrom']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="saleDateFrom" id="datepicker" 
												ng-model="vm.saleDateFrom" placeholder="From"/>
										</div>
										<div class="col-md-4 no-pad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'saleDateTo')"
												is-open="vm.datePickerOpenStatus['saleDateTo']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="saleDateTo" id="datepicker" 
												ng-model="vm.saleDateTo" placeholder="To"/>
										</div>
										<div class="col-md-4 no-rpad">
											<select class="form-control" name="saleDateOption" id="saleDateOption" ng-init="vm.queryParams.saleDateOption = vm.dateOptions[0].key" ng-model="vm.queryParams.saleDateOption">
												<option value="{{value.key}}" ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Travel Date</div>
									<div class="row no-mar">
										<div class="col-md-4 no-lpad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'travelDateFrom')"
												is-open="vm.datePickerOpenStatus['travelDateFrom']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="travelDateFrom" id="datepicker" 
												ng-model="vm.travelDateFrom" placeholder="From"/>
										</div>
										<div class="col-md-4 no-pad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'travelDateTo')"
												is-open="vm.datePickerOpenStatus['travelDateTo']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="travelDateTo" id="datepicker" 
												ng-model="vm.travelDateTo" placeholder="To"/>
										</div>
										<div class="col-md-4 no-rpad">
											<select class="form-control" name="travelDateOption" id="travelDateOption" ng-init="vm.queryParams.travelDateOption = vm.dateOptions[0].key" ng-model="vm.queryParams.travelDateOption">
												<option value="{{value.key}}" ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Season Date</div>
									<div class="row no-mar">
										<div class="col-md-4 no-lpad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'seasonDateFrom')"
												is-open="vm.datePickerOpenStatus['seasonDateFrom']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="seasonDateFrom" id="datepicker" 
												ng-model="vm.seasonDateFrom" placeholder="From"/>
										</div>
										<div class="col-md-4 no-pad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'seasonDateTo')"
												is-open="vm.datePickerOpenStatus['seasonDateTo']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="seasonDateTo" id="datepicker" 
												ng-model="vm.seasonDateTo" placeholder="To"/>
										</div>
										<div class="col-md-4 no-rpad">
											<select class="form-control" name="seasonDateOption" id="seasonDateOption" ng-init="vm.queryParams.seasonDateOption = vm.dateOptions[0].key" ng-model="vm.queryParams.seasonDateOption">
												<option value="{{value.key}}" ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Amount Range</div>
									<span class="input-group">
										<input type="text" class="form-control" name="amountRange" id="amountRange" ng-model="vm.queryParams.amountRange"/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.showInfoModal('Use the following format\n=X means equal to X\n>  means greater than X\n>= means greater than or equal to X\n<  means less than X\n<= means less than or equal to X\n')">
											<i class="fa fa-question"></i>
										</span>
									</span>
								</div>
								<div class="row no-mar">
									<div class="col-md-6 no-lpad">
										<div class="form-group">
											<div class="custom-label semibold">WO ID</div>
											<input type="number" class="form-control" name="woId" id="woId" ng-model="vm.queryParams.woId" ng-disabled="vm.queryParams.source != '' && vm.queryParams.source != 'M'"/>
										</div>
									</div>
									<div class="col-md-6 no-pad">
										<div class="form-group">
											<div class="custom-label semibold">Tour Code</div>
											<input type="text" class="form-control" name="tourCode" id="tourCode" ng-model="vm.queryParams.tourCode"/>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 no-pad">
								<div class="form-group">
									<div class="custom-label semibold">Pax Type</div>
									<select class="form-control" name="paxType" id="paxType" ng-model="vm.queryParams.paxType">
										<option value="{{value.code}}" ng-repeat="value in vm.paxTypes track by $index">{{value.code}} - {{value.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Cabin</div>
									<select class="form-control" name="cabin" id="cabin" ng-model="vm.queryParams.cabin">
										<option value="{{value.key}}" ng-repeat="value in vm.cabins track by $index">{{value.key}} - {{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Booking Class</div>
									<input type="text" class="form-control" name="bookingClass" id="bookingClass" ng-model="vm.queryParams.bookingClass"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Advance Purchase</div>
									<input type="text" class="form-control" name="advancePurchase" id="advancePurchase" ng-model="vm.queryParams.advancePurchase"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Minimum Stay</div>
									<input type="text" class="form-control" name="minStay" id="minStay" ng-model="vm.queryParams.minStay"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Maximum Stay</div>
									<input type="text" class="form-control" name="maxStay" id="maxStay" ng-model="vm.queryParams.maxStay"/>
								</div>
							</div>
							<div class="col-md-12 no-lpad">
								<div class="form-group">
									<div class="custom-label semibold">Additional Options</div>
									<div class="checkbox-wrapper">
										<label>
											<input type="checkbox" name="includeConstructed" ng-model="vm.queryParams.includeConstructed"> 
											Include Constructed
										</label>
<!-- 										<label> -->
<!-- 											<input type="checkbox" name="appendResults" ng-model="vm.queryParams.appendResults" ng-disabled="true">  -->
<!-- 											Append Results -->
<!-- 										</label> -->
										<label>
											<input type="checkbox" name="biDirectional" ng-model="vm.queryParams.biDirectional" ng-disabled="true"> 
											Bi-directional
										</label>
<!-- 										<label> -->
<!-- 											<input type="checkbox" name="calculateTfc" ng-model="vm.queryParams.calculateTfc" ng-disabled="true">  -->
<!-- 											Calculate TFC -->
<!-- 										</label> -->
									</div>
								</div>
							</div>
							<div class="clearfix">
								<div class="pull-right pv1">
									<button type="button" class="btn btn-default small" ng-click="vm.categoryRules = null; vm.query()" id="btn-afd-query">Query</button>
									<button type="reset" ng-click="vm.reset()" class="btn btn-default small">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="table-wrapper table-afd mb2">
			<div class="datatable-wrapper form-inline">
				<div class="clearfix">
					<div class="pull-right w50">
						<div class="clearfix">
							<div class="pull-right datatable-button">
								<button class="btn btn-default small" ng-click="vm.showDerivedFaresModal()">Derived Fares</button>
								<div class="button-group dropdown custom">
									<button class="btn btn-default small">Action <i class="fa fa-caret-down"></i></button>
									<ul class="dropdown-menu custom right-dropdown" role="menu">
<!-- 									    <li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">TFC Override Parameters</a> -->
<!-- 									    </li> -->
<!-- 									    <li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">Clear TFC Overrides</a> -->
<!-- 									    </li> -->
<!-- 									    <li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">TFC Details</a> -->
<!-- 									    </li> -->
									    <li>
									    	<a ng-click="vm.copyAfdQueryFares()" ng-disabled="vm.selectedRows.length == 0">Copy</a>
									    </li>
									    <li>
									    	<a ng-click="vm.showFareDetail()" ng-disabled="vm.selectedFares.length == 0">Fare Details</a>
									    </li>
<!-- 									    <li> -->
<!-- 									    	<a ng-click="">Compare Fares</a> -->
<!-- 									    </li> -->
<!-- 									    <li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">Print/Export</a> -->
<!-- 									    </li> -->
<!-- 									    <li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">Advanced Filter/Sort</a> -->
<!-- 									    </li> -->
<!-- 									    <li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">Route Map</a> -->
<!-- 									    </li> -->
<!-- 									  	<li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">RBD</a> -->
<!-- 									    </li> -->
<!-- 										<li> -->
<!-- 									    	<a ng-click="" ng-disabled="true">Ref Currency</a> -->
<!-- 									    </li> -->
									    <li>
									    	<a ng-click="vm.selectAll()">Select All</a>
									    </li>
									</ul>
								</div>	
							</div>
						</div>																						
					</div>
				</div>
				<br/>
				<div class="table-responsive" style="overflow-y:hidden; max-height: initial; padding-bottom: 0">
					<div class="absolute-table">
						<table class="table table-striped table-bordered datatable table-header-fixed">
				            <thead class="thead-fixed">
				                <tr>
				                    <th class="th-fixed">ID</th>
				                    <th class="th-fixed">Source</th>
				                    <th class="th-fixed">S/C</th>
				                    <th class="th-fixed">Tar No</th>
				                    <th class="th-fixed">Tar Cd</th>
				                    <th class="th-fixed">Cxr</th>
				                    <th class="th-fixed">Orig</th>
				                    <th class="th-fixed">Orig Cn</th>
				                    <th class="th-fixed">Dest</th>
				                    <th class="th-fixed">Dest Cn</th>
				                    <th class="th-fixed">Fare Cls</th>
				                    <th class="th-fixed">Bkg Cls</th> 
				                    <th class="th-fixed">Cabin</th>
				                    <th class="th-fixed">OW/RT</th>
				                    <th class="th-fixed">Ftnt</th>
				                    <th class="th-fixed">Rtg No</th>
				                    <th class="th-fixed">Rule No</th>
				                    <th class="th-fixed">MPM</th>
				                    <th class="th-fixed">Curr</th>
				                    <th class="th-fixed">Base Amt</th>
	<!-- 			                    <th ng-if="vm.showTFC">Error</th> -->
	<!-- 			                    <th ng-if="vm.showTFC">TFC Calc Date</th> -->
	<!-- 			                    <th ng-if="vm.showTFC">TFC Focus Date</th> -->
	<!-- 			                    <th ng-if="vm.showTFC">YQYR</th> -->
	<!-- 			                    <th ng-if="vm.showTFC">Taxes</th> -->
	<!-- 			                    <th class="th-fixed">TFC <span ng-click="vm.showTFC = !vm.showTFC"><i ng-if="vm.showTFC" class="glyphicon glyphicon-minus"></i><i ng-if="!vm.showTFC" class="glyphicon glyphicon-plus"></i></span></th> -->
	<!-- 			                    <th class="th-fixed">AIF</th> -->
	<!-- 			                    <th class="th-fixed">Itinerary</th> -->
				                    <th class="th-fixed">Override Ind</th>
				                    <th class="th-fixed">Eff Date</th>
				                    <th class="th-fixed">Disc Date</th>
				                    <th class="th-fixed">GFS Ref</th>
				                    <th class="th-fixed">Global</th>
				                    <th class="th-fixed">Rule Focus Date</th>
				                    <th class="th-fixed">Sellable</th>
				                    <th class="th-fixed">Travel Start</th>
				                    <th class="th-fixed">Travel End</th>
				                    <th class="th-fixed">Travel Complete</th>
				                    <th class="th-fixed">Sale Start</th>
				                    <th class="th-fixed">Sale End</th>
				                    <th class="th-fixed">Res Start</th>
				                    <th class="th-fixed">Res End</th>
				                    <th class="th-fixed">Min Stay</th>
				                    <th class="th-fixed">Max Stay</th>
				                    <th class="th-fixed">Adv Pur</th>
				                    <th class="th-fixed">DOW In</th>
				                    <th class="th-fixed">DOW Out</th>
				                    <th class="th-fixed">Season</th>
				                    <th class="th-fixed">F Season Date</th>
				                    <th class="th-fixed">L Season Date</th>
				                    <th class="th-fixed">Travel Date Ranges</th>
				                    <th class="th-fixed">Fare Type</th>
				                    <th class="th-fixed">Pax Type</th>
				                    <th class="th-fixed">WO Id</th>
				                    <th class="th-fixed">WO Name</th>
				                    <th class="th-fixed">Tour Code</th>
				                    <th class="th-fixed">Cat 50 Title</th>
				                    <th class="th-fixed">Group Fare</th>
	<!-- 			                    <th class="th-fixed">Ref Amt</th> -->
	<!-- 			                    <th class="th-fixed">Ref YQYR</th> -->
	<!-- 			                    <th class="th-fixed">Ref Taxes</th> -->
	<!-- 			                    <th class="th-fixed">Ref TFC</th> -->
	<!-- 			                    <th class="th-fixed">Ref AIF</th> -->
				                </tr>
				            </thead>
				            <tbody id="tbody-afd" class="tbody-fixed">
				                <tr class="tr-afd" ng-repeat="afdQuery in vm.afdQueries track by afdQuery.fareId" ng-click="vm.setSelectedRow($index, afdQuery); vm.getRules(afdQuery)" ng-class="{'selected': vm.selectedRows[$index] == afdQuery}">
				                    <td>{{$index + 1}}</td>
				                    <td>{{afdQuery.source}}</td>
				                    <td>{{afdQuery.sc}}</td>
				                    <td>{{afdQuery.tariffNo}}</td>
				                    <td>{{afdQuery.tariffCode}}</td>
				                    <td>{{afdQuery.carrierCode}}</td>
				                    <td>{{afdQuery.originCity}}</td>
				                    <td>{{afdQuery.originCountry}}</td>
				                    <td>{{afdQuery.destinationCity}}</td>
				                    <td>{{afdQuery.destinationCountry}}</td>
				                    <td>{{afdQuery.fareClassCode}}</td>
				                    <td><span ng-repeat="value in afdQuery.bookingClass track by $index">{{value}}<span ng-if="$index < afdQuery.bookingClass.length - 1">, </span></span></td>
				                    <td>{{afdQuery.cabin}}</td>
				                    <td><span ng-if="afdQuery.owrt == '1'">OW</span><span ng-if="afdQuery.owrt == '2'">RT</span><span ng-if="afdQuery.owrt == '3'">OO</span></td>
				                    <td>{{afdQuery.footnote}}</td>
				                    <td>{{afdQuery.routingNo}}</td>
				                    <td>{{afdQuery.ruleNo}}</td>
				                    <td>{{afdQuery.maximumPermittedMileage}}</td>
				                    <td>{{afdQuery.currencyCode}}</td>
				                    <td>{{afdQuery.baseAmount}}</td>
	<!-- 			                    <td ng-if="vm.showTFC"></td> -->
	<!-- 			                    <td ng-if="vm.showTFC"></td> -->
	<!-- 			                    <td ng-if="vm.showTFC"></td> -->
	<!-- 			                    <td ng-if="vm.showTFC"></td> -->
	<!-- 			                    <td ng-if="vm.showTFC"></td> -->
	<!-- 			                    <td></td> -->
	<!-- 			                    <td></td> -->
	<!-- 			                    <td></td> -->
				                    <td></td>
				                    <td><span ng-if="afdQuery.effectiveDate != 'indef'">{{afdQuery.effectiveDate | date:vm.dateFormat:vm.timezone}}</span></td>
				                	<td><span ng-if="afdQuery.discontinueDate != 'indef'">{{afdQuery.discontinueDate | date:vm.dateFormat:vm.timezone}}</span></td>
				                	<td><span ng-if="afdQuery.gfsDate != undefined && afdQuery.gfsDate != null">{{afdQuery.gfsDate | date:vm.dateFormat:vm.timezone}} - {{afdQuery.gfsReference}}</span></td>
				                	<td>{{afdQuery.globalIndicator}}</td>
				                	<td><span ng-if="afdQuery.focusDate != 'indef'">{{afdQuery.focusDate | date:vm.dateFormat:vm.timezone}}</span></td>
				                	<td></td>
				                	<td>
				                		<span ng-if="afdQuery.firstTravelDate != null && afdQuery.firstTravelDate != ''">{{afdQuery.firstTravelDate | date:vm.dateFormat:vm.timezone}}</span>
				                	</td>
				                	<td>
				                		<span ng-if="afdQuery.lastTravelDate != null && afdQuery.lastTravelDate != ''">{{afdQuery.lastTravelDate | date:vm.dateFormat:vm.timezone}}</span>
				                	</td>
				                	<td>
				                		<span ng-repeat="value in afdQuery.travelDates track by $index">{{value.completeDate | date:vm.dateFormat:vm.timezone}}<span ng-if="$index < afdQuery.travelDates.length - 1">, </span></span>
				                	</td>
				                	<td>
				                		<span ng-if="afdQuery.firstSaleDate != null && afdQuery.firstSaleDate != ''">{{afdQuery.firstSaleDate | date:vm.dateFormat:vm.timezone}}</span>
				                	</td>
				                	<td>
				                		<span ng-if="afdQuery.lastSaleDate != null && afdQuery.lastSaleDate != ''">{{afdQuery.lastSaleDate | date:vm.dateFormat:vm.timezone}}</span>
				                	</td>
				                	<td>
				                		<span ng-if="afdQuery.firstResDate != null && afdQuery.firstResDate != ''">{{afdQuery.firstResDate | date:vm.dateFormat:vm.timezone}}</span>
				                	</td>
				                	<td>
				                		<span ng-if="afdQuery.lastResDate != null && afdQuery.lastResDate != ''">{{afdQuery.lastResDate | date:vm.dateFormat:vm.timezone}}</span>
				                	</td>
				                	<td><span ng-repeat="value in afdQuery.minStay track by $index">{{value}}<span ng-if="$index < afdQuery.minStay.length - 1">, </span></span></td>
				                	<td><span ng-repeat="value in afdQuery.maxStay track by $index">{{value}}<span ng-if="$index < afdQuery.maxStay.length - 1">, </span></span></td>
				                	<td><span ng-repeat="value in afdQuery.advancePurchase track by $index">{{value}}<span ng-if="$index < afdQuery.advancePurchase.length - 1">, </span></span></td>
				                	<td></td>
				                	<td></td>
				                	<td>{{afdQuery.season}}</td>
				                	<td><span ng-if="afdQuery.firstSeasonDate != 'indef'">{{afdQuery.firstSeasonDate | date:vm.dateFormat:vm.timezone}}</span></td>
				                	<td><span ng-if="afdQuery.lastSeasonDate != 'indef'">{{afdQuery.lastSeasonDate | date:vm.dateFormat:vm.timezone}}</span></td>
				                	<td>
				                		<span ng-if="afdQuery.firstTravelDate == null || afdQuery.firstTravelDate == ''">XXXXXXXX</span><span ng-if="afdQuery.firstTravelDate != null && afdQuery.firstTravelDate != ''">{{afdQuery.firstTravelDate | date:vm.dateFormat:vm.timezone}}</span>
				                		<span ng-if="afdQuery.lastTravelDate == null || afdQuery.lastTravelDate == ''"> - XXXXXXXX</span><span ng-if="afdQuery.lastTravelDate != null && afdQuery.lastTravelDate != ''"> - {{afdQuery.lastTravelDate | date:vm.dateFormat:vm.timezone}}</span>
				                	</td>
				               		<td>{{afdQuery.fareType}}</td>
				                	<td><span ng-repeat="value in afdQuery.paxType track by $index">{{value}}<span ng-if="$index < afdQuery.paxType.length - 1">, </span></span></td>
				                	<td><a ui-sref="work-package-detail({id:afdQuery.wpObjectId})">{{afdQuery.wpId}}</a></td>
				                	<td>{{afdQuery.wpName}}</td>
				                	<td><span ng-repeat="value in afdQuery.tourCode track by $index">{{value}}<span ng-if="$index < afdQuery.tourCode.length - 1">, </span></span></td>
				                	<td><span ng-repeat="value in afdQuery.cat50Title track by $index">{{value}}<span ng-if="$index < afdQuery.cat50Title.length - 1">, </span></span></td>
				                	<td></td>
	<!-- 			                	<td></td> -->
	<!-- 			                	<td></td> -->
	<!-- 			                	<td></td> -->
	<!-- 			                	<td></td> -->
	<!-- 			                	<td></td> -->
				                </tr>
				                <tr infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.disableInfiniteScroll || vm.isLastPage || vm.isLoading" infinite-scroll-container="'#tbody-afd'"></tr>
				            </tbody>
				        </table>
					</div>
			        <div class="text-center fixed-wrapper-inside">
						<div class="spinner" ng-if="vm.isLoading">
							<div class="rect1"></div>
							<div class="rect2"></div>
							<div class="rect3"></div>
							<div class="rect4"></div>
							<div class="rect5"></div>
						</div>
						<div class="center-div" ng-if="(vm.noDataAvailable || vm.afdQueries.length == 0) && !vm.isLoading">No Data Available</div>
						<div class="center-div" ng-if="vm.isLastPage && !vm.noDataAvailable">You have reached the end of the page &nbsp;<i style="font-size: 8px !important; top: 0" class="glyphicon glyphicon-chevron-up"></i></div>
					</div>
			    </div>
			</div>
		</div>
		<div class="col-md-12 text-center" style="margin-top: -10px">
			<div class="spinner" ng-if="vm.isLoadingRule">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
			</div>
		</div>
		<div class="additional-info-wrapper" ng-if="vm.categoryRules">
			<div class="clearfix">
				<div class="pull-left ph5px additional-container" ng-repeat="cat in vm.categoryRules track by cat.catNo">
					<div class="additional-info" ng-click="vm.showCategoryDetail(cat)" ng-class="{'lightyellow': cat.type.includes('F'), 'yellow': cat.type.includes('R'), 'blue': cat.type == 'G'}">
	        			{{cat.catNo}} {{cat.catName}} <span ng-if="cat.type != undefined && cat.type != ''">({{cat.type}})</span>
		      		</div>
				</div>
				<div class="pull-left ph5px additional-container">
					<div class="additional-info action dropdown custom" ng-click="vm.actionClicked = !vm.actionClicked">
		      			Action <i class="fa fa-caret-down pull-right"></i>
		      			<div class="action-wrapper" ng-if="vm.actionClicked">
		      				<a ng-click="vm.showLegend()">Show Legend</a>
		      				<a ng-click="vm.viewFullText()">View Full Text</a>
		      			</div>
		      		</div>
	      		</div>
			</div>
   		</div>
	</div>
</div>