<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 no-pad text-right">
                <button class="btn btn-default" ui-sref="df-fare-basis-group-mapping.new">
                    <span>
                        Create new DF Fare Basis Group Mapping
                    </span>
                </button>
            </div>
		</div>
	</div>
	<br />
	<div class="table-wrapper">
		<div class="table-responsive">
			<table class="jh-table table table-striped table-bordered">
				<thead>
					<tr jh-sort="vm.predicate" ascending="vm.reverse"
						callback="vm.transition()">
						<th jh-sort-by="id"><span>ID</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="originCity"><span>Origin City</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="originCountry"><span>Origin Country</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="destinationCity"><span>Destination City</span>
							<span class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="destinationCountry"><span>Destination
								Country</span> <span class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="rbd"><span>Rbd</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="fareBasisCode"><span>Fare Basis Code</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="fareBasisGroup"><span>Fare Basis Group</span>
							<span class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="priority"><span>Priority</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="dFFareBasisGroupMapping in vm.dFFareBasisGroupMappings track by dFFareBasisGroupMapping.id">
						<td>{{$index + 1}}</td>
						<td>{{dFFareBasisGroupMapping.originCity}}</td>
						<td>{{dFFareBasisGroupMapping.originCountry}}</td>
						<td>{{dFFareBasisGroupMapping.destinationCity}}</td>
						<td>{{dFFareBasisGroupMapping.destinationCountry}}</td>
						<td>{{dFFareBasisGroupMapping.rbd}}</td>
						<td>{{dFFareBasisGroupMapping.fareBasisCode}}</td>
						<td>{{dFFareBasisGroupMapping.fareBasisGroup}}</td>
						<td>{{dFFareBasisGroupMapping.priority}}</td>
						<td class="text-right">
							<div class="btn-group flex-btn-group-container">
								<button type="submit"
									ui-sref="df-fare-basis-group-mapping.edit({id:dFFareBasisGroupMapping.id})"
									class="btn btn-primary btn-sm">
									<span class="glyphicon glyphicon-pencil"></span> <span
										class="hidden-sm-down"></span>
								</button>
								<button type="submit"
									ui-sref="df-fare-basis-group-mapping.delete({id:dFFareBasisGroupMapping.id})"
									class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove-circle"></span> <span
										class="hidden-sm-down"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems"
			items-per-page="vm.itemsPerPage" ng-model="vm.page"
			ng-change="vm.loadAll()"></uib-pagination>
	</div>
</div>
