<style>
.ui-select-dropdown{
	min-width:30px;
}
.highlighted{
	background-color:rgba(222, 255, 94, .7) !important;
}
</style>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCityGroupLabel">Create or edit a City Group</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.cityGroup.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cityGroup.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.cityGroup.code" required ng-class="{'must-fill': editForm.$invalid}"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.cityGroup.description"
                    />
        </div>
		<div class="form-group">
			<label class="control-label" for="field_description">Search City/Country</label>            

			<input autocomplete="off" type="text" name="select_city" ng-model="vm.selectCity" class="form-control"
			 ng-change="vm.search()" >
           		
           		<!-- <input autocomplete="off" type="text" name="select_city" ng-model="vm.selectCity" class="form-control"
			 ng-change="vm.search()"
           		uib-typeahead="o as o.cityCode for o in vm.cities | filter:{cityCode:$viewValue} | limitTo:5"> -->
           	<span class="input-group-addon add-agent" ng-click="vm.searchCities()">
           		<i class="fa fa-search"></i>
             </span>
		</div>
		<div class="form-group">
			<div class="pull-left w40 two-column">
				<div class="box-detail">
      				<div class="box-header">List Cities</div>	
      				<div class="box-body">
      					<div class="table-wrapper">
							<div class="datatable-wrapper form-inline">
								<div class="table-responsive">
									<table class="table table-stripped table-bordered datatable">
										<thead>
											<tr role="row">
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortType = 'cityName'; vm.sortReverse = !vm.sortReverse">
										            City Name
										            <span ng-show="vm.sortType == 'cityName' && !vm.sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortType == 'cityName' && vm.sortReverse" class="fa fa-caret-up"></span>
												</th>
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortType = 'cityCode'; vm.sortReverse = !vm.sortReverse">
										            City Code
										            <span ng-show="vm.sortType == 'cityCode' && !vm.sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortType == 'cityCode' && vm.sortReverse" class="fa fa-caret-up"></span>
												</th>
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortType = 'countryName'; vm.sortReverse = !vm.sortReverse">
										            Country Name
										            <span ng-show="vm.sortType == 'countryName' && !vm.sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortType == 'countryName' && vm.sortReverse" class="fa fa-caret-up"></span>
												</th>
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortType = 'countryCode'; vm.sortReverse = !vm.sortReverse">
										            Country Code
										            <span ng-show="vm.sortType == 'countryCode' && !vm.sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortType == 'countryCode' && vm.sortReverse" class="fa fa-caret-up"></span>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr role="row" ng-class="{highlighted: city === vm.selectedCityRow}"
											ng-click="vm.rowListCityHighlighted(city)"
											class="datatable-row" ng-repeat="city in (vm.filteredCities = (vm.cities | filter:vm.selectCity | orderBy:vm.sortType:vm.sortReverse))  track by $index">
												<td>
													{{city.cityName}}
												</td>
												<td>
													{{city.cityCode}}
												</td>
												<td>
													{{city.countryName}}
												</td>
												<td>
													{{city.countryCode}}
												</td>	
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
      				</div>		      				
      			</div>
  			</div>
  			
  			<div class="pull-left w20">
				<div class="ph5px">
					<div class="text-center action-ratesheet-wrapper">
						<div class="action-ratesheet js-addAll-ratesheet" ng-click="vm.addAll()">ADD ALL</div>
						<div class="action-ratesheet js-add-ratesheet" ng-click="vm.add()">ADD</div>
						<div class="action-ratesheet js-removeAll-ratesheet" ng-click="vm.removeAll()">REMOVE ALL</div>
						<div class="action-ratesheet js-remove-ratesheet" ng-click="vm.remove()">REMOVE</div>
					</div>
				</div>									
			</div>
			
  			<div class="pull-left w40 two-column">
				<div class="box-detail">
      				<div class="box-header">List Selected Cities</div>	
      				<div class="box-body">
      					<div class="table-wrapper">
							<div class="datatable-wrapper form-inline">
								<div class="table-responsive">
									<table class="table table-stripped table-bordered datatable">
										<thead>
											<tr role="row">
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortCityType = 'cityName'; vm.sortCityReverse = !vm.sortCityReverse">
										            City Name
										            <span ng-show="vm.sortCityType == 'cityName' && !vm.sortReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortCityType == 'cityName' && vm.sortReverse" class="fa fa-caret-up"></span>
												</th>
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortCityType = 'cityCode'; vm.sortCityReverse = !vm.sortCityReverse">
										            City Code
										            <span ng-show="vm.sortCityType == 'cityCode' && !vm.sortCityReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortCityType == 'cityCode' && vm.sortCityReverse" class="fa fa-caret-up"></span>
												</th>
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortCityType = 'countryName'; vm.sortCityReverse = !vm.sortCityReverse">
										            Country Name
										            <span ng-show="vm.sortCityType == 'countryName' && !vm.sortCityReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortCityType == 'countryName' && vm.sortCityReverse" class="fa fa-caret-up"></span>
												</th>
												<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" ng-click="vm.sortCityType = 'countryCode'; vm.sortCityReverse = !vm.sortCityReverse">
										            Country Code
										            <span ng-show="vm.sortCityType == 'countryCode' && !vm.sortCityReverse" class="fa fa-caret-down"></span>
										            <span ng-show="vm.sortCityType == 'countryCode' && vm.sortCityReverse" class="fa fa-caret-up"></span>
												</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr role="row" 
											ng-click="vm.rowHighlighted(city)" ng-class="{highlighted: city === vm.selectedRow}"
											class="datatable-row" ng-repeat="city in (vm.filteredCities = (vm.cityGroup.cities | orderBy:vm.sortType:vm.sortReverse)) track by $index">
												<td>
													{{city.cityName}}
												</td>
												<td>
													{{city.cityCode}}
												</td>
												<td>
													{{city.countryName}}
												</td>
												<td>
													{{city.countryCode}}
												</td>												
												<td>
													<button type="button" ng-click="vm.removeCities(city)"><i class="fa fa-remove" style="color:red"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
      				</div>		      				
      			</div>
  			</div>
  			
		</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-back" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-secondary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
