<div>
	<div class="content-title">
		<h2>City Groups</h2>
    	<jhi-alert></jhi-alert>
	</div>
	<div class="panel">
		<div class="panel-body">
			<!-- filter -->
					<div class="filter-hero">
						<div class="filter-label semibold show">Hide Filter</div>
						<div class="filter-area">
							<div class="clearfix">
								<div class="pull-left w35 ph5px">
									<div class="form-group">
										<div class="custom-label semibold">City Group Code</div>
										<input type="text" class="form-control" ng-model="vm.cityGroupCode"  />
									</div>
									<div class="form-group">
										<div class="checkbox-wrapper mb5px">
										</div>
									</div>
									<div class="form-group">
										<div class="custom-label semibold">City Group Description</div>
										<input type="text" class="form-control" ng-model="vm.cityGroupDescription"  />
									</div>
								</div>
								<div class="pull-left w35 ph5px">
									<div class="form-group">
										<div class="custom-label semibold">City Code</div>
										<input type="text" class="form-control" ng-model="vm.cityCode"  />
									</div>
									<div class="form-group text-center" style="margin-top: -4px">
										<div class="checkbox-wrapper">
											<label class="white">
										     	<input type="radio" ng-model="vm.operator" value="and"> And
										    </label>
										    <label class="white">
										     	<input type="radio" ng-model="vm.operator" value="or"> Or
										    </label>
										</div>
									</div>
									<div class="form-group" style="margin-top: -16px">
										<div class="custom-label semibold">Country</div>
										<input type="text" class="form-control" ng-model="vm.countryCode"  />
									</div>
								</div>
								<div class="pull-left w30 ph1" style="margin-top: 21px">
									<div class="form-group">
										<button class="btn btn-default" ng-click = "vm.queryFilter()">
						                    <span >
						                        Query
						                    </span>
						                </button>
						                <button class="btn btn-default" ng-click = "vm.clearFilter()">
						                    <span >
						                        Clear
						                    </span>
						                </button>
						                <button class="btn btn-default" ng-click = "vm.resetFilter()">
						                    <span >
						                        Reset
						                    </span>
						                </button>
									</div>
								</div>
							</div>
						</div>
					</div>
			<!-- end of filter -->
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-md-12 no-pad text-right">
		                <button class="btn btn-default" ui-sref="city-group.new" >
		                    <span >
		                        Create new City Group
		                    </span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <div class="table-wrapper">
		    	<div class="table-responsive">
			        <table class="jh-table table table-striped table-bordered">
			            <thead>
			                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
			                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
			                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
			                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
			                    <th><span>Cities</span></th>
			                    <th></th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr ng-repeat="cityGroup in vm.cityGroups track by cityGroup.id">
			                    <td><a ui-sref="city-group-detail({id:cityGroup.id})">{{cityGroup.id}}</a></td>
			                    <td>{{cityGroup.code}}</td>
			                    <td>{{cityGroup.description}}</td>
			                    <td>
			                    	<div>
				                    	<table class="sub-table">
				                    		<thead>
				                    			<tr><th colspan="2"><center>Code</center></th></tr>
				                    			<tr class="sub-second-th">
				                    				<th>City</th>
				                    				<th>Country</th>
				                    			</tr>
				                    		</thead>
				                    		<tbody>
				                    			<tr ng-repeat="city in cityGroup.cities track by $index">
				                    				<td>{{city.cityCode}}</td>
				                    				<td>
				                    					{{city.countryCode}}
				                    				</td>
				                    			</tr>
				                    		</tbody>
				                    	</table>
			                    	</div>
			                    </td>
			                    <td class="text-right">
			                        <div class="btn-group flex-btn-group-container">
			                            <button type="submit"
			                                    ui-sref="city-group-detail({id:cityGroup.id})"
			                                    class="btn btn-info btn-sm linkClick">
			                                <span class="glyphicon glyphicon-eye-open"></span>
			                                <span class="hidden-sm-down"></span>
			                            </button>
			                            <button type="submit"
			                                    ui-sref="city-group.edit({id:cityGroup.id})"
			                                    class="btn btn-primary btn-sm">
			                                <span class="glyphicon glyphicon-pencil"></span>
			                                <span class="hidden-sm-down"></span>
			                            </button>
			                            <button type="submit"
			                                    ui-sref="city-group.delete({id:cityGroup.id})"
			                                    class="btn btn-danger btn-sm">
			                                <span class="glyphicon glyphicon-remove-circle"></span>
			                                <span class="hidden-sm-down"></span>
			                            </button>
			                        </div>
			                    </td>
			                </tr>
			            </tbody>
			        </table>
			    </div>
		    </div>
		    
		    <div class="text-center">
		        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
		    </div>
		</div>
	</div>
</div>
