
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRbdMappingLabel">Create or edit a RBD Mapping</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.rbdMapping.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.rbdMapping.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_oalCxr">OAL Carrier</label>
            <input type="text" class="form-control" name="oalCxr" id="field_oalCxr"
                    ng-model="vm.rbdMapping.oalCxr" uppercase
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_oalCabin">OAL Cabin</label>
            <input type="text" class="form-control" name="oalCabin" id="field_oalCabin"
                    ng-model="vm.rbdMapping.oalCabin" uppercase
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ownCabin">GA Cabin</label>
            <input type="text" class="form-control" name="ownCabin" id="field_ownCabin"
                    ng-model="vm.rbdMapping.ownCabin" uppercase
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_oalRbd">OAL Rbd</label>
            <input type="text" class="form-control" name="oalRbd" id="field_oalRbd"
                    ng-model="vm.rbdMapping.oalRbd" uppercase
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ownRbd">GA Rbd</label>
            <input type="text" class="form-control" name="ownRbd" id="field_ownRbd"
                    ng-model="vm.rbdMapping.ownRbd" uppercase
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
