
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
	
      		<div class="modal-header">
		        <h5 class="modal-title" id="addNewsheetLabel">Approve</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
      		</div>
      		<div class="modal-body">
      			<div class="box-detail">
      				<div class="box-header">
						Approve Configuration
					</div>
					
      				<div class="box-body">
      					<!-- <div class="form-group">
							<label class="control-label" for="field_include">Include Attachment?</label>
							<input type="checkbox" ng-model="vm.option.attachment">
							Attachment
						</div> -->
      					<div class="form-group">
							<label class="control-label" for="field_email">Email</label>
				            <div class="input-group">
				            	<input autocomplete="off" type="email" name="email" ng-model="vm.email" class="form-control" />
				            	<span class="input-group-btn">
				                    <button type="button" class="btn btn-default" ng-click="vm.addEmail()" ng-disabled="vm.email == null || editForm.email.$error.email"><i class="glyphicon glyphicon-plus"></i></button>
				                </span>
				            </div>
				            <div ng-show="editForm.email.$invalid">
								<p class="help-block" ng-show="editForm.email.$error.required">
									This field is required.</p>
				
								<p class="help-block" ng-show="editForm.email.$error.maxlength">
									This field cannot be longer than 100 characters.</p>
								<p class="help-block" ng-show="editForm.email.$error.email">
									Your email is invalid.</p>
							</div>
				            <div class="multi-values" >
								<span ng-repeat="email in vm.option.email track by $index">
				           		<label name="remove_email" >
				           			{{email}}<span class="delete"  ng-click="vm.removeEmail()"><i class="glyphicon glyphicon-remove-sign"></i></span>
				           		</label>
				           		<br/><br/>
				           		</span>
				           	</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="field_email">Cc Email</label>
				            <div class="input-group">
				            	<input type="email" name="ccEmail" ng-model="vm.ccEmail" class="form-control" />
				            	<span class="input-group-btn">
				                    <button type="button" class="btn btn-default" ng-click="vm.addCcEmail()" ng-disabled="vm.ccEmail == null || editForm.ccEmail.$error.email"><i class="glyphicon glyphicon-plus"></i></button>
				                </span>
				            </div>
				            <div ng-show="editForm.ccEmail.$invalid">
								<p class="help-block" ng-show="editForm.ccEmail.$error.required">
									This field is required.</p>
				
								<p class="help-block" ng-show="editForm.ccEmail.$error.maxlength">
									This field cannot be longer than 100 characters.</p>
								<p class="help-block" ng-show="editForm.ccEmail.$error.email">
									Your email is invalid.</p>
							</div>
				            <div class="multi-values" >
								<span ng-repeat="email in vm.option.ccEmail track by $index">
				           		<label name="remove_email" >
				           			{{email}}<span class="delete"  ng-click="vm.removeCcEmail()"><i class="glyphicon glyphicon-remove-sign"></i></span>
				           		</label>
				           		<br/><br/>
				           		</span>
				           	</div>
						</div>
      				</div>
      			</div>						
	      	</div>		      		
      		<div class="modal-footer">				        
		        <button type="submit" class="btn btn-secondary" ng-disabled="editForm.$invalid || vm.isSaving">Save</button>
		        <button type="button" class="btn btn-back" data-dismiss="modal" ng-click="vm.clear()">Close</button>
      		</div>
</form>
