<style>
	.locked{
		background-color:yellow;
	}
</style>
			<!-- table panel -->
			<div class="panel">
				<div class="panel-body">

					<!-- filter -->
					<div class="filter-hero">
						<div class="filter-label semibold show">Hide Filter</div>
						<div class="filter-area">
							<div class="clearfix">
								<div class="pull-left w50 ph5px">
									<div class="form-group">
										<div class="custom-label semibold">Review Level</div>
										<div class="checkbox-wrapper">
											<label>
												<input type="checkbox" ng-disabled="vm.workPackageFilter.reviewLevel.lso!=true && vm.reviewLevelLSO==null" ng-model="vm.workPackageFilter.reviewLevel.lso">
												LSO
											</label>
											<label>
												<input type="checkbox" ng-disabled="vm.workPackageFilter.reviewLevel.ho!=true && vm.reviewLevelHO==null" ng-model="vm.workPackageFilter.reviewLevel.ho">
												HO
											</label>
											<label>
												<input type="checkbox" ng-disabled="vm.workPackageFilter.reviewLevel.distribution!=true && vm.reviewLevelDISTRIBUTION==null" ng-model="vm.workPackageFilter.reviewLevel.distribution">
												Distribution
											</label>
											<label>
												<input type="checkbox" ng-disabled="vm.workPackageFilter.reviewLevel.routeManagement!=true && vm.reviewLevelROUTEMANAGEMENT==null" ng-model="vm.workPackageFilter.reviewLevel.routeManagement">
												Route Management
											</label>
										</div>
									</div>
									<div class="form-group mb0">
										<div class="custom-label semibold">Distribution Type</div>
										<div class="checkbox-wrapper">
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.distributionType.atpco">
												ATPCO
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.distributionType.market">
												Market
											</label>
										</div>
									</div>
									<div class="form-group mb0">
										<div class="custom-label semibold">WO Type</div>
										<div class="checkbox-wrapper">
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.type.regular">
												Regular
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.type.discount">
												Discount
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.type.waiver">
												Waiver
											</label>
										</div>
									</div>
									<div class="form-group mb0">
										<div class="custom-label semibold">Approval Reference</div>
										<input type="text" class="form-control" ng-model="vm.workPackageFilter.approvalReference"  />
									</div>
								</div>
								<div class="pull-left w50 ph5px">
									<div class="form-group">
										<div class="custom-label semibold">WO Status</div>
										<div class="clearfix">
											<div class="pull-left multi-option-checkbox">
												<div class="checkbox-wrapper">
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.new">
														New
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.pending">
														Pending
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.reviewing">
														Reviewing
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.readyToRelease">
														Ready to Release
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.distributed">
														Distributed
													</label>
												</div>
											</div>
											<div class="pull-left multi-option-checkbox">
												<div class="checkbox-wrapper">
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.withdrawn">
														Withdrawn
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.referred">
														Referred
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.discontinue">
														Discontinued
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="clearfix">
										<div class="pull-left">
											<div class="form-group">
												<div class="custom-label semibold">Reuse/Replace</div>
												<div class="multi-option-checkbox">
													<div class="checkbox-wrapper">
														<label>
															<input type="checkbox" ng-model="vm.workPackageFilter.status.replace">
																Replace
														</label>
														<label>
															<input type="checkbox" ng-model="vm.workPackageFilter.status.reuse">
																Reuse
														</label>
													</div>
												</div>
											</div>
										</div>
										<div class="pull-left ml2">
											<div class="form-group">
												<div class="rangeslider-wrapper">
													<div class="custom-label semibold">Created Time</div>
													<div class="clearfix">
														<div class="pull-left ph5px">
															<input type="range" class="custom-range-slider" name="" value="10" min="1" max="24">
														</div>
														<div class="pull-left ph5px">
															<div class="range-slider-time">1 Month</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end of filter -->

					<!-- table -->
					<div class="table-wrapper">
						<div class="datatable-wrapper form-inline">
							<div class="clearfix">
								<div class="pull-left w50">
									<div class="datatable-length">
										<label>
											<select class="form-control" ng-model="vm.itemsPerPage" ng-change="vm.changeItemsPerPage()">
												<option value="10">10</option>
												<option value="15">15</option>
												<option value="20">20</option>
											</select>
											 records per page
										</label>
									</div>
								</div>
								<div class="pull-right w50">
									<div class="clearfix">
										<div class="pull-right datatable-button">
											<div class="button-group dropdown custom">
												<button class="btn btn-default small">New <i class="fa fa-caret-down"></i></button>
												<ul class="dropdown-menu custom" role="menu">
												    <li>
												    	<a ui-sref="work-package.new({type:'reguler'})">Regular Work Order</a>
												    </li>
												    <li>
												    	<a ui-sref="work-package.new({type:'discount'})">Discount Work Order</a>
												    </li>
												    <li>
												    	<a ui-sref="work-package.new({type:'waiver'})">Waiver Work Order</a>
												    </li>
												</ul>
											</div>
											<button class="btn btn-default small" ng-click="vm.refresh()">Refresh</button>
											<button class="btn btn-default small" ng-click="vm.printExport()">Print/Export</button>
											<button class="btn btn-default small">Discontinue</button>
										</div>
									</div>
								</div>
							</div>
							<div class="table-responsive main-table">
								<table class="table table-stripped table-bordered datatable" jq-slider>
									<thead>
										<tr role="row" jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
											<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Action</th>
											<th class="sorting_asc" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" aria-sort="ascending">No</th>
											<th jh-sort-by="type" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">WO Type <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="targetDistribution" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Distribution Type <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="status" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Status <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="wpid" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">WO ID <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="name" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">WO Name <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="businessArea" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Business Area <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="reviewLevel" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Review Level <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="approvalReference" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Approval Reference <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="reuseFrom" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Reuse from <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="replaceFrom" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Replace from <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="priority" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Priority <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="filingDate" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Filing Date <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="distributionDate" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Distribution Date <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="fareType" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Fare Types <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="createdDate" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Created Date <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="createdBy" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Created By <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="lockedBy" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Locked By <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="lockedSince" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Locked Since <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="lastModifiedDate" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Last Modified Date <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="lastModifiedBy" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Last Modified By <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="groupFare" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Group Fare<span class="glyphicon glyphicon-sort"></span></th>
										</tr>
									</thead>
									<tbody ng-repeat="workPackage in vm.workPackages track by $index" >
										<tr role="row" class="datatable-row"
											ng-click="vm.rowSelected($index, workPackage)">
											<td class="text-right" ng-class="{selected: workPackage === vm.selectedRow, locked: workPackage.locked}">
						                        <div class="btn-group edit-btn entities flex-btn-group-container">
						                            <button type="submit" title="Edit" ng-disabled="workPackage.locked"
						                                    ui-sref="work-package-detail({id:workPackage.id})"
						                                    class="btn btn-primary btn-tiny mb0">
						                                <span class="glyphicon glyphicon-pencil"></span>
						                            </button>
						                        </div>
						                    </td>
						                    <td><a ui-sref="work-package-detail({id:workPackage.id})">{{$index+1}}</a></td>
						                    <td>{{workPackage.type}}</td>
						                    <td>{{workPackage.targetDistribution}}</td>
						                    <td>{{workPackage.status}}</td>
						                    <td>{{workPackage.wpid}}</td>
						                    <td>{{workPackage.name}}</td>
						                    <td>{{workPackage.businessArea}}</td>
						                    <td>{{workPackage.reviewLevel}}</td>
						                    <td>
						                    	<div>
							                    	<table ng-if="workPackage.specifiedFares" class="sub-table">
							                    		<thead>
							                    			<tr><th  colspan="2"><center>Fare</center></th></tr>
							                    			<tr class="sub-second-th">
							                    				<th>Sheet</th>
							                    				<th>Tour Code</th>
							                    			</tr>
							                    		</thead>
							                    		<tbody>
							                    			<tr ng-repeat="fareSheet in workPackage.fareSheet track by $index">
							                    				<td>{{$index+1}}</td>
							                    				<td>
							                    					{{fareSheet.approvalReference}}
							                    				</td>
							                    			</tr>
							                    		</tbody>
							                    	</table>
						                    	</div>
						                    </td>
						                    <td>{{workPackage.reuseFrom}}</td>
						                    <td>{{workPackage.replaceFrom}}</td>
						                    <td>{{workPackage.priority}}</td>
						                    <td>{{workPackage.filingDate | date:'ddMMMyyyy'}}</td>
						                    <td>{{workPackage.distributionDate | date:'ddMMMyyyy'}}</td>
						                    <td>
						                    	<div>
							                    	<table ng-if="workPackage.specifiedFares" class="sub-table">
							                    		<thead>
							                    			<tr><th  colspan="2"><center>Fare</center></th></tr>
							                    			<tr class="sub-second-th">
							                    				<th>Sheet</th>
							                    				<th>Fare Type</th>
							                    			</tr>
							                    		</thead>
							                    		<tbody>
							                    			<tr ng-repeat="fareSheet in workPackage.fareSheet track by $index">
							                    				<td>{{$index+1}}</td>
							                    				<td>
							                    					{{fareSheet.fareType}}
							                    				</td>
							                    			</tr>
							                    		</tbody>
							                    	</table>
						                    	</div>

						                    	<table ng-if="workPackage.discount" class="sub-table">
						                    		<thead>
						                    			<tr><th  colspan="2"><center>Discount Fare</center></th></tr>
						                    			<tr class="sub-second-th">
						                    				<th>Sheet</th>
						                    				<th>Fare Type</th>
						                    			</tr>
						                    		</thead>
						                    		<tbody>
						                    			<tr ng-repeat="fareSheet in workPackage.discountFareSheet track by $index">
						                    				<td>{{$index+1}}</td>
						                    				<td>
						                    					{{fareSheet.fareType}}
						                    				</td>
						                    			</tr>
						                    		</tbody>
						                    	</table>

						                    	<table ng-if="workPackage.marketFares" class="sub-table">
						                    		<thead>
						                    			<tr><th  colspan="2"><center>Market Fare</center></th></tr>
						                    			<tr class="sub-second-th">
						                    				<th>Sheet</th>
						                    				<th>Fare Type</th>
						                    			</tr>
						                    		</thead>
						                    		<tbody>
						                    			<tr ng-repeat="fareSheet in workPackage.marketFareSheet track by $index">
						                    				<td>{{$index+1}}</td>
						                    				<td>
						                    					{{fareSheet.fareType}}
						                    				</td>
						                    			</tr>
						                    		</tbody>
						                    	</table>

						                    	<table ng-if="workPackage.waiverFares" class="sub-table">
						                    		<thead>
						                    			<tr><th  colspan="2"><center>Waiver Fare</center></th></tr>
						                    			<tr class="sub-second-th">
						                    				<th>Sheet</th>
						                    				<th>Fare Type</th>
						                    			</tr>
						                    		</thead>
						                    		<tbody>
						                    			<tr ng-repeat="fareSheet in workPackage.addonFareSheet track by $index">
						                    				<td>{{$index+1}}</td>
						                    				<td>
						                    					{{fareSheet.fareType}}
						                    				</td>
						                    			</tr>
						                    		</tbody>
						                    	</table>
						                    </td>
						                    <td>{{workPackage.createdDate | date:'medium'}}</td>
						                    <td>{{workPackage.createdBy}}</td>
						                    <td>{{workPackage.lockedBy}}</td>
						                    <td>{{workPackage.lockedSince | date:'medium'}}</td>
						                    <td>{{workPackage.lastModifiedDate | date:'medium'}}</td>
						                    <td>{{workPackage.lastModifiedBy}}</td>
						                    <td><input type="checkbox" disabled ng-model="workPackage.marketFareSheet[0].groupFares"/></td>
										</tr>
										<tr ng-show="vm.workPackageActionButton[$index]">
											<td colspan="18" style="text-align: left !important; padding-left: 40px">
												<div class="btn btn-app" ng-click="vm.unlock($index)" ng-if="workPackage.locked">
													<i class="fa fa-unlock"></i>Unlock
												</div>
												<div class="btn btn-app" ng-click="vm.reuse($index)">
													<i class="fa fa-recycle"></i>Reuse
												</div>
												<div class="btn btn-app" ng-click="vm.replace($index)" ng-show="workPackage.targetDistribution != 'ATPCO'">
													<i class="fa fa-reply"></i>Replace
												</div>
												<div class="btn btn-app" ng-click="vm.withdraw($index)">
													<i class="fa fa-ban"></i>Withdraw
												</div>
												<div class="btn btn-app" ng-click="vm.showHistory($index)">
													<i class="fa fa-history"></i>History
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="text-center">
						        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
						        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
						         ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
						    </div>
							<div class="clearfix data-on">
								<div class="pull-left dataTables_info">
									Showing 1 to 10 of 57 entries
								</div>
								<div class="pull-right dataTables_paginate">
									<ul class="pagination">
									    <li class="previous disabled"><a href="#">Previous</a></li>
									    <li class="active"><a href="#">1</a></li>
									    <li><a href="#">2</a></li>
									    <li><a href="#">3</a></li>
								      	<li><a href="#">4</a></li>
								      	<li><a href="#">5</a></li>
								      	<li class="next"><a href="#">Next</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- end of table -->
				</div>
			</div>

