<style>
.ui-select-dropdown{
	min-width:30px;
}
.highlighted{
	background-color:rgba(222, 255, 94, .7) !important;
}
</style>

<form name="editForm" role="form" novalidate>	
	<div class="panel panel-detail">
		<div class="panel-body">
			<button class="btn btn-default small btn-back back js-back" data-id="0" ng-click="vm.close()"><i class="fa fa-arrow-left"></i>Close</button>

			<!-- details -->
			<div class="clearfix">
				<div class="pull-left w50 two-column">
					<div class="box-detail">
						<div class="box-header">
							Details
						</div>
						<div class="box-body" 
						ng-class="{'poiv-none' : vm.disabledField(vm.workPackage)||(vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.reviewLevel == 'LSO' && vm.workPackage.status=='DISTRIBUTED') || (vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT') || vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)} " >
							<div class="clearfix">
								<div class="pull-left w50 two-column">
									<div class="form-group">
										<label for="field_wpid">WO ID</label>
										<input type="text" name="wpid" id="field_wpid" class="form-control" disabled ng-model="vm.workPackage.wpid"/>
									</div>
									<div class="form-group">
										<label for="field_businessArea">Business Area</label>
										 <select class="form-control" 
										 name="businessArea"
										 ng-class="{'must-fill': !editForm.businessArea.$valid}"							      				
										 ng-model="vm.workPackage.businessArea" 
					       						ng-options="key as value for (key , value) in vm.businessArea"
					       						ng-required="vm.isRequired('businessArea')" 
					       						ng-disabled="!vm.isEditable('businessArea') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)"
					       						ng-class="{'must-fill': editForm.businessArea.$error.required}" >
					       						</select>
									</div>
									<div class="form-group">
										<label for="field_priority">Priority</label>	
										<input ng-if="vm.workPackage.targetDistribution == 'ATPCO'" class="form-control" type="text" ng-model="vm.workPackage.priority" disabled/>
										 <select ng-if="vm.workPackage.targetDistribution != 'ATPCO'"  class="form-control" 
										 name="priority"
										 ng-disabled="vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)"
										 ng-class="{'must-fill': !editForm.priority.$valid}"							      				
										 ng-model="vm.workPackage.priority" 
			       						 ng-options="key as value for (key , value) in vm.priority"></select>
									</div>
									<div class="form-group">
										<label for="field_status">Status</label>
										
										<input 
										ng-class="{'must-fill': editForm.status.$error.required}" 
										    name="status"
											ng-required="vm.isRequired('status')" 
                   								autocomplete="off" type="text" name="businessArea" ng-model="vm.workPackage.status" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label for="field_reviewLevel">Review Level</label>
										<input autocomplete="off" ng-required="vm.isRequired('reviewLevel')"  type="text" name="review_level" ng-model="vm.workPackage.reviewLevel" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label for="field_distributionType">Distribution Type</label>
										<input type="text" ng-required="vm.isRequired('reviewLevel')" name="distributionType" class="form-control" disabled ng-model="vm.workPackage.targetDistribution">
									</div>
								</div>
								<div class="pull-left w50 two-column">
									<div class="form-group">
										<label for="field_name">WO Name</label>
										<input type="text" name="name" class="form-control"name="name" id="field_name" 
											ng-class="{'must-fill': editForm.name.$error.required}" 
                    						ng-model="vm.workPackage.name" 
                   							ng-required="vm.isRequired('workpackageName')" 
                    						ng-disabled="!vm.isEditable('workpackageName') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)"/>
									</div>
									<div class="form-group">
										<label for="field_createdBy">Created By</label>
										<input type="text" class="form-control" name="createdBy" id="field_createdBy" ng-disabled="true"
                    						ng-model="vm.workPackage.createdBy"/>
									</div>
									<div class="form-group">
										<label for="field_createdDate">Created Date</label>
										<div class="input-group">
											<input id="field_createdDate" type="text" ng-disabled="true" name="createdDate" class="form-control" datetime-picker="{{dateformat}}" ng-model="vm.workPackage.newCreatedDate" is-open="vm.datePickerOpenStatus.createdDate">
											<span class="input-group-addon disabled">
												<i ng-disabled="true" class="fa fa-calendar"></i>
											</span>
										</div>
									</div>
									<div class="form-group" ng-if="vm.workPackage.targetDistribution != 'MARKET'">
										<label for="field_fillingDate">Filing Date</label>
										<div class="input-group">
											<input type="text" id="field_fillingDate" name="filingDate" class="form-control"
											ng-class="{'must-fill': editForm.filingDate.$error.required}" 
											ng-required="vm.isRequired('filingDate')" 
											enable-time="false"
											datetime-picker="{{dateformat}}" ng-model="vm.workPackage.filingDate" is-open="vm.datePickerOpenStatus.filingDate"  
											ng-disabled="!vm.isEditable('filingDate') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)"/>
											<span ng-click="vm.openCalendar('filingDate')" class="input-group-addon" ng-class="{'poiv-none': !vm.isEditable('filingDate')  || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)}">
												<i class="fa fa-calendar" ng-disabled="!vm.isEditable('filingDate')"></i>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="field_expPax">Exp Pax</label>
										<input type="text" name="expPax" class="form-control"name="name" id="field_expPax"
                    						ng-model="vm.workPackage.expPax" ng-disabled="!vm.isEditable('expPax') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)"/>
									</div>
									<div class="form-group">
										<label for="field_expRev">Exp Rev</label>
										<input type="text" name="expPax" class="form-control"name="name" id="field_expRev"
                    						ng-model="vm.workPackage.expRev" ng-disabled="!vm.isEditable('expRev') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)"/>
									</div>
									<div class="form-group" ng-if="vm.workPackage.targetDistribution != 'MARKET'">
										<label for="field_saleDate">Sale Start Date</label>
										<div class="input-group">
											<input id="field_saleDate" type="text" 
												ng-class="{'must-fill': editForm.saleDate.$error.required}" 
                   								ng-required="vm.isRequired('saleDate')" 
                   								name="saleDate" 
                   								ng-disabled="!vm.isEditable('saleDate') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)" 
                   								datetime-picker="{{dateformat}}" 
                   								enable-time="false"
                   								ng-model="vm.workPackage.saleDate" 
                   								is-open="vm.datePickerOpenStatus.saleDate" class="form-control">
                   								
											<span ng-click="vm.openCalendar('saleDate')" class="input-group-addon" ng-class="{'poiv-none': !vm.isEditable('saleDate') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)}">
												<i class="fa fa-calendar" ng-disabled="!vm.isEditable('saleDate')"></i>
											</span>
										</div>
									</div>
									<div class="form-group">
										<label for="field_distributionDate">Distribution Date</label>
										<div class="input-group">
											<input id="field_distributionDate" type="text" 
												ng-class="{'must-fill': editForm.distributionDate.$error.required}" 
                   								ng-required="vm.isRequired('distributionDate')" 
                   								name="distributionDate" 
                   								ng-disabled="!vm.isEditable('distributionDate') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)" 
                   								datetime-picker="{{dateformat}}" 
                   								enable-time="false"
                   								ng-model="vm.workPackage.distributionDate" 
                   								is-open="vm.datePickerOpenStatus.distributionDate" class="form-control">
                   								
											<span ng-click="vm.openCalendar('distributionDate')" class="input-group-addon" ng-class="{'poiv-none': !vm.isEditable('distributionDate') || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'|| vm.disabledField(vm.workPackage)}">
												<i class="fa fa-calendar" ng-disabled="!vm.isEditable('distributionDate')"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pull-left w50 two-column">
					<div class="box-detail box-comment">
						<div class="box-header">Comment</div>
						<div class="box-body bbgrey">
							<div class="clearfix tab-body">
								<ul class="clearfix nav-responsive nav nav-tabs">
								    <li ng-class="{active:vm.currentTabComment}"><a ng-click="vm.selectCommentTab('comment')">Comment</a></li>
								    <li ng-class="{active:vm.currentTabInterofficeComment}"><a ng-click="vm.selectCommentTab('interofficeComment')">Inter Office</a></li>
								    <li ng-class="{active:vm.currentTabRatesheetComment}"><a ng-click="vm.selectCommentTab('ratesheetComment')">Rate Sheet Comment</a></li>
								</ul>
								<div class="tab-content">
									<div ng-class="{active:vm.currentTabComment}" class="tab-pane" id="comment">																		
										<div class="form-group" ng-class="{'poiv-none' :vm.workPackage.status =='DISCONTINUED' || vm.disabledField(vm.workPackage)}">
											<wysiwyg-edit content="vm.commentString" config="vm.editorConfig"></wysiwyg-edit>
										</div>
										<div class="clearfix">
											<div class="pull-right">
												<button class="btn btn-default small btn-secondary" ng-click="vm.addComment()" ng-disabled="vm.workPackage.status =='DISCONTINUED' || vm.disabledField(vm.workPackage)">Send</button>
											</div>
										</div>										
										
							        	 <div class="box-body">
							        	 	<div class="comment-container">
							        	 		<div class="comment-wrapper">
									    			<div class="comment-list" ng-repeat="comment in vm.workPackage.comment.slice().reverse() track by $index">
												    	<div class="clearfix">
												    		<div class="pull-left comment-detail">{{comment.username}}</div>
												    		<div class="pull-right comment-detail">{{comment.createdTime | date: 'short'}}</div>
												    	</div>
												    	<div class="comment-message" data-ng-bind-html="trustAsHtml(comment.comment)"></div>
												    </div>
									    		</div>
							        	 	</div>
							        	</div>
									</div>

									<div ng-class="{active:vm.currentTabInterofficeComment, 'poiv-none' : (vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT') 
											|| (vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.reviewLevel == 'LSO'&& vm.workPackage.status=='DISTRIBUTED')  || vm.workPackage.status=='WITHDRAWN'||vm.workPackage.status =='DISCONTINUED'}" class="tab-pane" id="inter-office">
										<div class="form-group" ng-class="{'poiv-none' :vm.workPackage.status =='DISCONTINUED' || vm.workPackage.reviewLevel == 'DISTRIBUTION'|| vm.disabledField(vm.workPackage)}">
											<wysiwyg-edit content="vm.ioString" config="vm.editorConfig"></wysiwyg-edit>
										</div> 
										<div class="clearfix">
											<div class="pull-right">
												<button class="btn btn-default small btn-secondary" id="btn-inter-office" ng-click="vm.addInterOffice()" ng-disabled="!vm.isEditable('ioComment') || vm.workPackage.status=='WITHDRAWN' || vm.workPackage.status =='DISCONTINUED' || vm.disabledField(vm.workPackage)">Send</button>
											</div>
										</div>										
										<div class="box-body">
											<div class="comment-container">
												<div class="comment-wrapper">
									    			<div class="comment-list" ng-repeat="comment in vm.workPackage.interofficeComment.slice().reverse() track by $index">
												    	<div class="clearfix">
												    		<div class="pull-left comment-detail">{{comment.username}}</div>
												    		<div class="pull-right comment-detail">{{comment.createdTime | date: 'short'}}</div>
												    	</div>
												    	<div class="comment-message" data-ng-bind-html="trustAsHtml(comment.comment)"></div>
												    </div>
									    		</div>
											</div>
							        	</div>
									</div>
									
									<div ng-class="{active:vm.currentTabRatesheetComment, 'poiv-none' : vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT'}" class="tab-pane" id="rate-sheet-comment">
										<div class="box-body">
											<div class="form-group">
												<label>Rate Sheet Comment</label>
												<textarea class="form-control" rows="3" id="ratesheetComment" ng-model="vm.workPackage.ratesheetComment" name="ratesheetComment"
							                    ng-disabled="!vm.isEditable('ratesheetComment') || vm.workPackage.status=='WITHDRAWN' || vm.disabledField(vm.workPackage)" 
							                    ng-class="{'must-fill': editForm.ratesheetComment.$error.required}"
							                    ng-required="vm.isRequired('ratesheetComment')"></textarea>
											</div>								
										</div>	 
									</div>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>						
			<!-- end of details -->
		</div>
	</div>

	<div class="panel panel-tabs">
		<div class="panel-body">
			<div class="clearfix mb1">
				<div class="pull-right" ng-class="{'poiv-none' : (vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.reviewLevel == 'LSO' 
						&& vm.workPackage.status=='DISTRIBUTED') || vm.disabledField(vm.workPackage)}">
					<button class="btn btn-default small" ng-click="vm.resendApprove()" ng-if="vm.workPackage.reviewLevel == 'DISTRIBUTION' && vm.user.reviewLevels.indexOf('HO') > -1">Generate IN</button>
					<button class="btn btn-default small" ng-click="vm.viewRecipients()" ng-if="vm.workPackage.reviewLevel == 'DISTRIBUTION' && vm.user.reviewLevels.indexOf('HO') > -1">View IN Recipients</button>
					<div class="button-group dropdown custom">
						<button class="btn btn-default small" ng-disabled="(vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.reviewLevel == 'LSO' 
						&& vm.workPackage.status=='DISTRIBUTED')  || vm.workPackage.status=='WITHDRAWN'|| vm.workPackage.status =='DISCONTINUED' ">
						Workflow<i class="fa fa-caret-down" ng-class="{'poiv-none' :(vm.workPackage.targetDistribution == 'MARKET' && vm.workPackage.reviewLevel == 'LSO' 
						&& vm.workPackage.status=='DISTRIBUTED')  || vm.workPackage.status=='WITHDRAWN'|| vm.workPackage.status =='DISCONTINUED'}"></i></button>
						<ul class="dropdown-menu custom" role="menu">
						    <li><a ng-click="vm.passUp()" 
					        ng-show="vm.workPackage.reviewLevel != 'HO' && vm.workPackage.reviewLevel != 'DISTRIBUTION' && vm.workPackage.reviewLevel != 'ROUTE_MANAGEMENT'" 
					        ng-class="{'poiv-none' :(vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT')}">Pass Up</a></li>
					        <li><a ng-click="vm.passDown()" 
					        ng-show="vm.workPackage.reviewLevel != 'LSO'  && vm.workPackage.reviewLevel != 'ROUTE_MANAGEMENT' && vm.workPackage.reviewLevel != 'DISTRIBUTION'"
					        ng-class="{'poiv-none' :(vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT')}">Pass Down</a></li>
					        <li><a ng-click="vm.passSideway()" 
					        ng-class="{disabled : editForm.$invalid }" 
					        ng-show="vm.workPackage.reviewLevel == 'HO' || vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT'">Pass Sideways</a></li>
					        <li class="divider"></li>
					        <li><a ng-click="vm.approve()" 
					        ng-class="{disabled : editForm.$invalid,'poiv-none' :(vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT')}" 
					        ng-show="vm.workPackage.reviewLevel == 'HO'">Approve</a></li>
					        <li><a ng-click="vm.referback()" 
					        ng-show="vm.workPackage.reviewLevel == 'DISTRIBUTION'"
					        ng-class="{'poiv-none' :(vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT')}">Refer Back</a></li>
					        <li><a ng-click="vm.complete()" 
					        ng-show="vm.workPackage.reviewLevel == 'DISTRIBUTION' && vm.workPackage.targetDistribution == 'ATPCO' && vm.workPackage.type == 'DISCOUNT'"
					        ng-class="{'poiv-none' :(vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT')}">Complete</a></li>
						</ul>
					</div>
					<div class="button-group dropdown custom" ng-class="{'poiv-none' :(vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT')}">
						<button class="btn btn-default small" ng-disabled="vm.workPackage.status=='WITHDRAWN'|| vm.workPackage.status =='DISCONTINUED'">Action <i class="fa fa-caret-down" ng-class="{'poiv-none' :vm.workPackage.status=='WITHDRAWN'|| vm.workPackage.status =='DISCONTINUED'}"></i></button>
						<ul class="dropdown-menu custom" role="menu">
						    <li>
						    	<a ng-click="vm.save(true)">Save and Validate</a>
						    </li>
						</ul>
					</div>	
					<div class="button-group dropdown custom" ng-class="{'poiv-none' :(vm.user.reviewLevels.indexOf('ROUTE_MANAGEMENT')>-1 && vm.workPackage.reviewLevel == 'ROUTE_MANAGEMENT')}">
						<button class="btn btn-default small" ng-disabled="vm.workPackage.status=='WITHDRAWN'|| vm.workPackage.status =='DISCONTINUED'">Sheet <i class="fa fa-caret-down" ng-class="{'poiv-none' :vm.workPackage.status=='WITHDRAWN'|| vm.workPackage.status =='DISCONTINUED'}"></i></button>
						<ul class="dropdown-menu custom" role="menu">
						    <li>
						    	<a ng-click="vm.addSheet()" data-toggle="modal" data-target="#addNewsheet">Add</a>
						    </li>
						    <li>
						    	<a ng-click="vm.removeSheet()" ng-disabled="vm.workPackage.reviewLevel == 'DISTRIBUTION'">Remove</a>
						    </li>
						    <!-- <li>
						    	<a href="#">Rename</a>
						    </li> -->
						    <li>
						    	<a ng-click="vm.copySheet()">Copy</a>
						    </li>
						    <li>
						    	<a ng-click="vm.pasteSheet()" ng-disabled="vm.workPackage.reviewLevel == 'DISTRIBUTION'">Paste</a>
						    </li>
						</ul>
					</div>												
					<button class="btn btn-default small" ng-click="vm.save(false)">Save</button>
					<button class="btn btn-default small" ng-click="vm.close()">Close</button>
				</div>
			</div>
			
		
		</div>
	</div>
	<div class="panel panel-tabs">
		<div class="panel-body">
		
			<div class="tab-wrapper tab-validation">
				<div class="clearfix tab-body">
					<ul class="clearfix nav-responsive nav nav-tabs">
					    <li class="active"><a >Validations</a></li>
					    <li><a >Release Errors</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="validation">
							<ul class="tree">
								<li>
							    	<input type="checkbox" checked="checked" id="c1" />
							    	<label class="tree_label main-label" for="c1">There is {{vm.workPackage.validation.errorsCount}} error(s) and {{vm.workPackage.validation.warningsCount}} warning(s)</label>
								    <ul ng-repeat="workPackageTab in vm.workPackage.validation.tab track by $index">
								    	<li>
								        	<input type="checkbox" checked="checked" id="c2" />
								        	<label for="c2" class="tree_label second-label">{{workPackageTab.name}}</label>
									        <ul>
									          	<li ng-if="workPackageTab.warning.length > 0">
									          		<input type="checkbox" checked="checked" id="c3" />
								        			<label for="c3" class="tree_label warning-label">Warnings</label>
								        			<ul>
								        			    <li ng-repeat="warning in workPackageTab.warning track by $index">
								        			    	<span ng-click="vm.selectErrorField(workPackageTab.type, workPackageTab.index, warning.index, warning.field)" class="tree_label tree-detail">{{warning.message}}</span>
								        			    </li>
								        			</ul>
									          	</li>
									          	<li ng-if="workPackageTab.error.length > 0">
									          		<input type="checkbox" checked="checked" id="c5" />
								        			<label for="c5" class="tree_label error-label">Errors</label>
								        			<ul>
								        			    <li ng-repeat="error in workPackageTab.error track by $index">
								        			    	<span ng-click="vm.selectErrorField(workPackageTab.type, workPackageTab.index, error.index, error.field)" class="tree_label tree-detail">{{error.message}}</span>
								        			    </li>
								        			</ul>
									          	</li>
									        </ul>
								      	</li>
								      	<!-- <li>
								        	<input type="checkbox" checked="checked" id="c4" />
								        	<label for="c4" class="tree_label second-label">Attachments</label>
									        <ul>
									          	<li>
									          		<input type="checkbox" checked="checked" id="c5" />
								        			<label for="c5" class="tree_label error-label">Errors</label>
								        			<ul>
								        			    <li><span class="tree_label tree-detail">Error 1</span></li>
								        			    <li><span class="tree_label tree-detail">Error 2</span></li>
								        			</ul>
									          	</li>
									        </ul>
								      	</li> -->
								    </ul>
							  	</li>
							  										  
							</ul>
						</div>
						<div class="tab-pane" id="release-errors">
							
						</div>
					</div>
				</div>							
			</div>
		</div>
	</div>
</form>