<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWorkPackageLabel">Create Work Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <div class="tab-content afd">
        	<div class="row">
	        	<div class="col-md-12">	
	        		<div class="form-group">
			            <label>Workorder Name</label>
			            <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.workPackage.name"/>
			        </div>
			        
			        <div class="form-group">
			            <label for="field_businessArea">Business Area</label>
			            <select class="form-control" name="businessArea" ng-model="vm.workPackage.businessArea" id="field_businessArea">
							<option ng-repeat="x in vm.businessAreas track by $index">{{x}}</option>
						</select>
			        </div>
			        
			        <div class="form-group" ng-show="vm.workPackage.type=='REGULAR' || vm.workPackage.type=='DISCOUNT' || vm.workPackage.type=='WAIVER'">
			        	<label>Distribution Type</label>
			        	<select class="form-control" name="distributionType" ng-model="vm.workPackage.targetDistribution" id="field_distributionType">
							<option ng-repeat="x in vm.distributionTypes track by $index">{{x}}</option>
						</select>
			        </div>
	        	</div>
	        </div>
	        
	        <div ng-show="vm.workPackage.type=='REGULAR' && vm.workPackage.targetDistribution != null">
	        	
	        	<div class="row pm0 mb5px" ng-show="vm.workPackage.targetDistribution == 'MARKET'">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.marketFares" ng-change="vm.checkMarketRules('marketFares')">Market Fares</label>
					        </div>
						</div>
					</div>
					
					 <div class="row pm0 mb5px" ng-show="vm.workPackage.marketFares"> 
					    <div class="col-xs-2">
					    	<div class="form-group pm0 mb5px">
								<label class="normal-weight">Name</label>
						     	<input type="text" class="form-control" name="name" id="field_name" ng-model="vm.workPackage.marketFareSheet[0].marketFaresName"/>
					        	<input type="hidden" class="form-control" name="carrier" id="field_carrier" ng-model="vm.workPackage.marketFareSheet[0].fareCarrier"/>
							</div>
					    </div>
					    <div class="col-xs-2">
					    	<div class="form-group pm0 mb5px">
								<label class="normal-weight">Fare Type</label>
							<!-- 	<select class="form-control" ng-model="vm.workPackage.marketFareSheet[0].fareType" 
					       		ng-options="key as value for (key , value) in vm.fareType">
					       </select> -->
					       <select class="form-control" ng-model="vm.workPackage.marketFareSheet[0].fareType">
								<option ng-repeat="fare in vm.optionFare track by $index" value="{{fare.name}}">
									{{fare.code}} | {{fare.name}}
								</option>
							</select>
							</div>
					    </div>
					     <div class="col-xs-2">
					    	<div class="form-group pm0 mb5px">
								<label class="normal-weight"><input type="checkbox" ng-model="vm.workPackage.marketFareSheet[0].groupFares">Group Fares</label>
							</div>
					    </div>
					 </div>
	        	</div>
	        	
	        	<div class="row pm0 mb5px" ng-show="vm.workPackage.targetDistribution == 'ATPCO'">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.specifiedFares">Specified Fares</label>
					        </div>
						</div>
					</div>
					
					 <div class="row pm0 mb5px" ng-show="vm.workPackage.specifiedFares"> 
					 	<div class="col-xs-3">
					    	<div class="form-group pm0 mb5px">
								<label class="normal-weight">Name</label>
						     	<input type="text" class="form-control" name="name" id="field_name" ng-model="vm.workPackage.fareSheet[0].specifiedFaresName"/>
					        <input type="hidden" class="form-control" name="carrier" id="field_carrier" ng-model="vm.workPackage.fareSheet[0].fareCarrier"/>
							</div>
					    </div>
					    <div class="col-xs-3">
					    	<div class="form-group pm0 mb5px">
								<label class="normal-weight">Fare Type</label>
					        <select class="form-control" ng-model="vm.workPackage.fareSheet[0].fareType">
								<option ng-repeat="fare in vm.optionFare track by $index" value="{{fare.name}}">
									{{fare.code}} | {{fare.name}}
								</option>
							</select>
							</div>
					    </div>
					</div>
	        	</div>
	        	
		        <div class="row pm0 mb5px" ng-show="vm.workPackage.targetDistribution == 'ATPCO'">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.addon" value="">Add Ons</label>
					        </div>
						</div>
					</div>
					<div class="col-md-8" ng-show="vm.workPackage.addon">
						<div class="form-group pm0 mb5px">
							<label class="normal-weight">Name</label>
					     	<input type="text" class="form-control" name="name" id="field_name" ng-model="vm.workPackage.addonFareSheet[0].addonFaresName"/>
						</div>
					</div>
	        	</div>
	        	
	        	<div class="row pm0 mb5px" ng-show="vm.workPackage.targetDistribution == 'MARKET'">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.addon" ng-change="vm.checkMarketRules('addon')" value="">Add Ons</label>
					        </div>
						</div>
					</div>
					<div class="col-md-8" ng-show="vm.workPackage.addon">
						<div class="form-group pm0 mb5px">
							<label class="normal-weight">Name</label>
					     	<input type="text" class="form-control" name="name" id="field_name" ng-model="vm.workPackage.addonFareSheet[0].addonFaresName"/>
						</div>
					</div>
	        	</div>
	        	<div class="row pm0 mb5px" ng-show="vm.workPackage.targetDistribution == 'MARKET'">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.marketRules" disabled>Market Rules</label>
					        </div>
						</div>
					</div>
	        	</div>
				<div class="row pm0 mb5px" ng-show="vm.workPackage.targetDistribution == 'ATPCO'">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.filingInstruction" value="">Filing Instructions</label>
					        </div>
						</div>
					</div>
	        	</div>
	        	<div class="row pm0 mb5px">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.attachment" value="">Attachments</label>
					        </div>
						</div>
					</div>
	        	</div>
			</div>
			<div ng-show="vm.workPackage.type=='DISCOUNT' && vm.workPackage.targetDistribution != null">
				<div class="row pm0 mb5px">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.discount" value="">Discount</label>
					        </div>
						</div>
					</div>
					
					<div class="row pm0 mb5px" ng-show="vm.workPackage.discount"> 
					    <div class="col-xs-3">
					        Name
					        <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.workPackage.discountFareSheet[0].discountFaresName"/>
					    </div>
					    <div class="col-xs-3">
					       Fare Type
							<select class="form-control" ng-model="vm.workPackage.discountFareSheet[0].fareType">
								<option ng-repeat="fare in vm.optionFare track by $index" value="{{fare.name}}">
									{{fare.code}} | {{fare.name}}
								</option>
							</select>
					    </div>
					  </div>
	        	</div>
				<div class="row pm0 mb5px">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-disabled="vm.workPackage.targetDistribution== 'MARKET'" ng-model="vm.workPackage.filingInstruction" value="">Filing Instructions</label>
					        </div>
						</div>
					</div>
	        	</div>
				<div class="row pm0 mb5px">
	        		<div class="col-md-4">	
	        			<div class="form-group pm0 mb5px">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.attachment" value="">Attachments</label>
					        </div>
						</div>
					</div>
	        	</div>
			</div>
        	<div ng-show="vm.workPackage.type=='WAIVER'  && vm.workPackage.targetDistribution != null">
	        	<div class="row">
	        		<div class="col-md-4">	
	        			<div class="form-group">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.waiverFares">Waiver Fares</label>
					        </div>
						</div>
					</div>
				</div>
				
				<div class="row" ng-show="vm.workPackage.waiverFares"> 
				    <div class="col-xs-3">
				        Name
				        <input type="text" class="form-control" name="name" id="field_name" ng-model="vm.workPackage.waiverFareSheet[0].waiverFaresName"/>
				    </div>
				    <div class="col-xs-3">
				       Fare Type
				        <select class="form-control" ng-model="vm.workPackage.waiverFareSheet[0].waiverFareType">
							<option ng-repeat="fare in vm.optionFare track by $index" value="{{fare.name}}">
								{{fare.code}} | {{fare.name}}
							</option>
						</select>
				    </div>
				</div>	    
				    	
	        	<div class="row">
	        		<div class="col-md-4">	
	        			<div class="form-group">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.waiverRules" value="">Waiver Rules</label>
					        </div>
						</div>
					</div>
	        	</div>				
	        	<div class="row">
	        		<div class="col-md-4">	
	        			<div class="form-group">
					        <div class="col-md-12 no-pad checkbox auto">	
								<label><input type="checkbox" ng-model="vm.workPackage.attachment" value="">Attachments</label>
					        </div>
						</div>
					</div>
	        	</div>
			</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-secondary">Create</button>
        <button type="button" ng-click="vm.clear()" class="btn btn-back" data-dismiss="modal" data-translate="entity.action.cancel">Cancel</button>
    </div>
</form>
