<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
    	<h5 class="modal-title" id="myWorkPackageLabel">Reuse/Replace Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">    	
   		<div class="clearfix">
			
		   		<div class="form-group">
				<!-- 	<div class="custom-label semibold">Include Attachment</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" ng-model="vm.option.attachment">
						Attachment
					</div> -->
				</div>
				
				<div class="form-group">
					<div class="box-detail">
      				<div class="box-header">Work Package Parameters</div>	
      				<div class="box-body">
      					<div class="form-group row">
				            <label class="col-md-4">Workorder Name</label>
				            <input type="text" class="col-md-8" name="name" id="field_name" ng-model="vm.workPackage.name"/>
				        </div>
				        
				        <div class="form-group row">
				            <label class="col-md-4" for="field_businessArea">Business Area</label>
				            <div class="col-md-8 no-pad select">	
				            	<!-- <select class="col-md-12" name="priority" ng-model="vm.workPackage.businessArea" id="field_businessArea">
					                <option value="">Select Business Area</option>
					                <option value="JKT" >JKT</option>
					            </select> -->
					            <select class="col-md-12" name="businessArea" ng-model="vm.workPackage.businessArea" id="field_businessArea">
									<option ng-repeat="x in vm.businessAreas track by $index">{{x}}</option>
								</select>
				            </div>
				        </div>
      				</div>
				</div>
				
				<div class="form-group">
					<div class="box-detail">
      				<div class="box-header">Work Sheet Parameters</div>	
      				<div class="box-body">
      					 <form name="outerForm" class="tab-form-demo">
						    <uib-tabset active="activeForm">
						      <uib-tab ng-if="vm.workPackage.fareSheet.length > 0" ng-repeat="workPackageFareSheet in vm.workPackage.fareSheet track by $index" heading="{{workPackageFareSheet.specifiedFaresName}}">
						        <ng-form name="nestedForm">
						          <div class="form-group">
						            <label>Worksheet Type</label>
						            <input type="text" class="form-control" required disabled value="Fares"/>
						          </div>
						          <div class="form-group">
						            <label>Worksheet Name</label>
						            <input type="text" class="form-control" required ng-model="workPackageFareSheet.specifiedFaresName"/>
						          </div>
						        </ng-form>
						      </uib-tab>	
						      <uib-tab ng-if="vm.workPackage.addonFareSheet.length > 0" ng-repeat="workPackageFareSheet in vm.workPackage.addonFareSheet track by $index" heading="{{workPackageFareSheet.addonFaresName}}">
						        <ng-form name="nestedForm">
						          <div class="form-group">
						            <label>Worksheet Type</label>
						            <input type="text" class="form-control" required disabled value="Addon Fares"/>
						          </div>
						          <div class="form-group">
						            <label>Worksheet Name</label>
						            <input type="text" class="form-control" required ng-model="workPackageFareSheet.addonFaresName"/>
						          </div>
						        </ng-form>
						      </uib-tab>
						      <uib-tab ng-if="vm.workPackage.discountFareSheet.length > 0" ng-repeat="workPackageFareSheet in vm.workPackage.discountFareSheet track by $index" heading="{{workPackageFareSheet.discountFaresName}}">
						        <ng-form name="nestedForm">
						          <div class="form-group">
						            <label>Worksheet Type</label>
						            <input type="text" class="form-control" required disabled value="Discount Fares"/>
						          </div>
						          <div class="form-group">
						            <label>Worksheet Name</label>
						            <input type="text" class="form-control" required ng-model="workPackageFareSheet.discountFaresName"/>
						          </div>
						        </ng-form>
						      </uib-tab>
						      <uib-tab ng-if="vm.workPackage.marketFareSheet.length > 0" ng-repeat="workPackageFareSheet in vm.workPackage.marketFareSheet track by $index" heading="{{workPackageFareSheet.marketFaresName}}">
						        <ng-form name="nestedForm">
						          <div class="form-group">
						            <label>Worksheet Type</label>
						            <input type="text" class="form-control" required disabled value="Market Fares"/>
						          </div>
						          <div class="form-group">
						            <label>Worksheet Name</label>
						            <input type="text" class="form-control" required ng-model="workPackageFareSheet.marketFaresName"/>
						          </div>
						        </ng-form>
						      </uib-tab>
						      <uib-tab ng-if="vm.workPackage.waiverFareSheet.length > 0" ng-repeat="workPackageFareSheet in vm.workPackage.waiverFareSheet track by $index" heading="{{workPackageFareSheet.waiverFaresName}}">
						        <ng-form name="nestedForm">
						          <div class="form-group">
						            <label>Worksheet Type</label>
						            <input type="text" class="form-control" required disabled value="Waiver Fares"/>
						          </div>
						          <div class="form-group">
						            <label>Worksheet Name</label>
						            <input type="text" class="form-control" required ng-model="workPackageFareSheet.waiverFaresName"/>
						          </div>
						        </ng-form>
						      </uib-tab>						      
						    </uib-tabset>
						  </form>
      				</div>
				</div>
			</div>
    </div>
    <div class="modal-footer">
    	<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-secondary" data-translate="entity.action.save">Save changes</button>
        <button type="button" ng-click="vm.clear()" class="btn btn-back" data-dismiss="modal">Close</button>
    </div>
</form>



