	<!-- main container -->
	<div class="main-container clearfix">
		<div class="page-wrapper">
			
			<div class="page-content page--current">
				<div class="content-header">
					<div class="clearfix">
						<a href="#" class="sidebar-toggle pull-left showLeftPush" data-toggle="push-menu" role="button">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				      	</a>
					</div>	
				</div>
				
				<div class="panel panel-detail">
					<div class="panel-body">
						<button class="btn btn-default small btn-back back js-back" data-id="0"><i class="fa fa-arrow-left"></i> Back</button>

						<!-- details -->
						<div class="clearfix">
							<div class="pull-left w50 two-column">
								<div class="box-detail">
									<div class="box-header">
										Details
									</div>
									<div class="box-body">
										<div class="clearfix">
											<div class="pull-left w50 two-column">
												<div class="form-group">
													<label for="field_wpid">WO ID</label>
													<input type="text" name="wpid" id="field_wpid" class="form-control" disabled ng-model="vm.workPackage.wpid"/>
												</div>
												<div class="form-group">
													<label for="field_businessArea">Business Area</label>
													<input ng-style="editForm.businessArea.$error.required && vm.errorStyle" ng-required="vm.checkRequiredField('businessArea')" 
		                    								autocomplete="off" type="text" name="businessArea" ng-model="vm.workPackage.businessArea" class="form-control" value="JKT"
			            									uib-typeahead="o as o.name for o in vm.businessAreas | filter:{name:$viewValue} | limitTo:5">
												</div>
												<div class="form-group">
													<label for="field_priority">Priority</label>
													<select class="form-control" name="priorityData" ng-model="vm.workPackage.priority" id="field_priority" ng-disabled="vm.isFieldDisable('priority')">
														<option value="">Select Priority</option>
										                <option value="LOW" data-translate="fmpApp.Priority.LOW">Low</option>
										                <option value="URGENT" data-translate="fmpApp.Priority.URGENT">Urgent</option>
										                <option value="TOP_URGENT" data-translate="fmpApp.Priority.TOP_URGENT">Top Urgent</option>
				            						</select>
												</div>
												<div class="form-group">
													<label for="field_status">Status</label>
													<select class="form-control" name="status" ng-model="vm.workPackage.status" id="field_status"  ng-disabled="true">
														 <option value="">Select Status</option>
										                <option value="COMPLETED">Completed</option>
										                <option value="NEW">New</option>
										                <option value="REVIEWING" >Reviewing</option>
										                <option value="READY_TO_RELEASE">ReadyToRelease</option>
										                <option value="PENDING">Pending</option>
										                <option value="MARKET_DISTRIBUTED">Market Distributed</option>
													</select>
												</div>
												<div class="form-group">
													<label for="field_reviewLevel">Review Level</label>
													<input autocomplete="off" type="text" name="review_level" ng-model="vm.workPackage.reviewLevel" class="form-control" disabled>
												</div>
												<div class="form-group">
													<label for="field_distributionType">Distribution Type</label>
													<input type="text" name="distributionType" class="form-control" disabled ng-model="vm.workPackage.targetDistribution">
												</div>
											</div>
											<div class="pull-left w50 two-column">
												<div class="form-group">
													<label for="field_name">WO Name</label>
													<input type="text" name="wo name" class="form-control"name="name" id="field_name" ng-style="editForm.name.$error.required && vm.errorStyle"
			                    						ng-model="vm.workPackage.name" 
		                    							ng-required="vm.checkRequiredField('workpackageName')" 
			                    						ng-disabled="vm.isFieldDisable('name')"/>
												</div>
												<div class="form-group">
													<label for="field_createdBy">Created By</label>
													<input type="text" class="form-control" name="createdBy" id="field_createdBy" ng-disabled="true"
			                    						ng-model="vm.workPackage.createdBy"/>
												</div>
												<div class="form-group">
													<label for="field_createdDate">Created Date</label>
													<div class="input-group">
														<input id="field_createdDate" type="text" ng-disabled="true" name="createdDate" class="form-control" datetime-picker="{{dateformat}}" ng-model="vm.workPackage.createdDate" is-open="vm.datePickerOpenStatus.createdDate">
														<span class="input-group-addon disabled">
															<i ng-disabled="true" ng-click="vm.openCalendar('createdDate')" class="fa fa-calendar"></i>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label for="field_fillingDate">Filling Date</label>
													<div class="input-group">
														<input type="text" id="field_fillingDate" name="filingDate" class="form-control"
														ng-style="editForm.filingDate.$error.required && vm.errorStyle" ng-required="vm.checkRequiredField('filingDate')" 
														datetime-picker="{{dateformat}}" ng-model="vm.workPackage.filingDate" is-open="vm.datePickerOpenStatus.filingDate"  ng-disabled="vm.isFieldDisable('filingDate')"/>
														<span class="input-group-addon">
															<i class="fa fa-calendar" ng-click="vm.openCalendar('filingDate')" ng-disabled="vm.isFieldDisable('filingDate')"></i>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label for="field_expPax">Exp Pax</label>
													<input type="text" name="expPax" class="form-control"name="name" id="field_expPax"
			                    						ng-model="vm.workPackage.expPax" />
												</div>
												<div class="form-group">
													<label for="field_expRev">Exp Rev</label>
													<input type="text" name="expPax" class="form-control"name="name" id="field_expRev"
			                    						ng-model="vm.workPackage.expRev" />
												</div>
												<div class="form-group">
													<label for="field_saleDate">Sale Start Date</label>
													<div class="input-group">
														<input id="field_saleDate" type="text" ng-style="editForm.saleDate.$error.required && vm.errorStyle"
		                    								ng-required="vm.checkRequiredField('saleDate')" name="saleDate" ng-disabled="vm.isFieldDisable('saleDate')" datetime-picker="{{dateformat}}" ng-model="vm.workPackage.saleDate" is-open="vm.datePickerOpenStatus.saleDate" class="form-control">
														<span class="input-group-addon">
															<i class="fa fa-calendar" ng-click="vm.openCalendar('saleDate')" ng-disabled="vm.isFieldDisable('saleDate')"></i>
														</span>
													</div>
												</div>
												
												<div class="form-group">
													<label for="field_distributionDate">Distribution Date</label>
													<div class="input-group">
														<input type="text" id="field_distributionDate" name="distributionDate" class="form-control" ng-disabled="vm.isFieldDisable('distributionDate')" datetime-picker="{{dateformat}}" ng-model="vm.workPackage.distributionDate" is-open="vm.datePickerOpenStatus.distributionDate">
														<span class="input-group-addon disabled">
															<i class="fa fa-calendar" ng-click="vm.openCalendar('distributionDate')" ng-disabled="vm.isFieldDisable('distributionDate')"></i>
														</span>
													</div>
												</div>
												<div class="form-group">
													<label for="field_discExpiryDate">Disc/Expiry Date</label>
													<div class="input-group">
														<input type="text" id="field_discExpiryDate" name="discExpiryDate" class="form-control" datetime-picker="{{dateformat}}" ng-model="vm.workPackage.discExpiryDate" is-open="vm.datePickerOpenStatus.discExpiryDate"/>
														<span class="input-group-addon disabled">
															<i class="fa fa-calendar" ng-click="vm.openCalendar('discExpiryDate')" ng-disabled="true"></i>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="pull-left w50 two-column">
								<div class="box-detail box-comment">
									<div class="box-header">
										Comment
									</div>
									<div class="box-body bbgrey">
										<div class="form-group">
											<label>Comment</label>
											<textarea class="form-control" rows="3" placeholder="Enter ..." id="comment-area"></textarea>
										</div>
										<div class="clearfix">
											<div class="pull-right">
												<button class="btn btn-default small btn-secondary" id="btn-comment"></i>Send</button>
											</div>
										</div>										
									</div>
									<div class="box-body">
										<div class="comment-wrapper"></div>
									</div>
								</div>
							</div>
						</div>						
						<!-- end of details -->
					</div>
				</div>

				<div class="panel panel-tabs">
					<div class="panel-body">
						<div class="clearfix mb1">
							<div class="pull-right">
								<div class="button-group dropdown">
									<button class="btn btn-default small">Workflow <i class="fa fa-caret-down"></i></button>
									<ul class="dropdown-menu" role="menu">
									    <li>
									    	<a href="#">Pass Up</a>
									    </li>
									</ul>
								</div>
								<div class="button-group dropdown">
									<button class="btn btn-default small">Action <i class="fa fa-caret-down"></i></button>
									<ul class="dropdown-menu" role="menu">
									    <li>
									    	<a href="#">Save and Validate</a>
									    </li>
									</ul>
								</div>	
								<div class="button-group dropdown">
									<button class="btn btn-default small">Sheet <i class="fa fa-caret-down"></i></button>
									<ul class="dropdown-menu" role="menu">
									    <li>
									    	<a href="#" data-toggle="modal" data-target="#addNewsheet">Add</a>
									    </li>
									    <li>
									    	<a href="#">Remove</a>
									    </li>
									    <li>
									    	<a href="#">Rename</a>
									    </li>
									    <li>
									    	<a href="#">Copy</a>
									    </li>
									</ul>
								</div>												
								<button class="btn btn-default small">Save</button>
							</div>
						</div>
						<div class="tab-wrapper" id="distribution-market">
							<div class="clearfix tab-body">
								<ul class="clearfix nav-responsive nav nav-tabs">
								    <li><a href="#market-fares">Market Fares</a></li>
								    <li><a href="#market-rules">Market Rules</a></li>
								    <li><a href="#attachment-market">Attachment</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="market-fares">
										<div class="pb1 mb1 bbgrey">
											<div class="clearfix">
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>CXR</label>
														<input type="text" name="cxr" class="form-control" value="GA">
													</div>
												</div>
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>Approval Reference</label>
														<input type="text" name="Approval Reference" class="form-control">
													</div>
												</div>
											</div>
											<div class="clearfix">
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>Description</label>
														<input type="text" name="Description" class="form-control" value="JKT 48">
													</div>
												</div>
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>Version</label>
														<select class="form-control">
															<option>Select Version</option>
															<option>Current</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										
										<!-- table details-->
										<div class="table-wrapper">
											<div class="datatable-wrapper form-inline">
												<div class="clearfix">
													<div class="pull-left">
														<div class="clearfix">
															<div class="pull-right datatable-button">
																<div class="button-group dropdown">
																	<button class="btn btn-default small btn-secondary">Edit <i class="fa fa-caret-down"></i></button>
																	<ul class="dropdown-menu" role="menu">
																	    <li>
																	    	<a href="#">Clear Selectio</a>
																	    </li>
																	    <li>
																	    	<a href="#">Fill Down</a>
																	    </li>
																	    <li>
																	    	<a href="#">Search/Replace</a>
																	    </li>
																	    <li>
																	    	<a href="#">Add Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Delete Selected Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Duplicate Selected Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Copy Selected Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Paste</a>
																	    </li>
																	    <li>
																	    	<a href="#">Paste As Cancel</a>
																	    </li>
																	</ul>
																</div>													
																<button class="btn btn-default small btn-secondary">Import</button>
																<button class="btn btn-default small btn-secondary">Export</button>
																<button class="btn btn-default small btn-secondary">Publish</button>
																<button class="btn btn-default small btn-secondary" data-toggle="modal" data-target="#modalAgent">Agents</button>
																<button class="btn btn-default small btn-secondary" data-toggle="modal" data-target="#modalRatesheet">Rate Sheet</button>
															</div>
														</div>																						
													</div>
												</div>
												<div class="table-responsive">
													<table class="table table-stripped table-bordered datatable">
														<thead>
															<tr role="row">
																<th class="sorting_asc" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" aria-sort="ascending">No</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Status</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Carrier</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Action</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Origin</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Dest</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Cabin</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">OW/RT</th>
															</tr>
														</thead>
														<tbody>
															<tr role="row" class="datatable-row">
																<td>1</td>
																<td>
																	<select class="form-control inside-table">
																		<option>Select Priority</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
																<td>
																	<input type="text" name="carrier" class="form-control" value="GA">
																</td>																
																<td>New</td>
																<td>
																	<input type="text" name="origin" class="form-control must-fill">
																</td>
																<td>
																	<input type="text" name="destination" class="form-control must-fill">
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select Cabin</option>
																		<option>Y - Economy</option>
																		<option>F - First Class</option>
																		<option>C - Business</option>
																		<option>R - Premium Economy</option>
																	</select>
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select OW/RT</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
															</tr>
															<tr class="datatable-action">
																<td colspan="18" class="">
																	<div class="btn btn-app">
																		<i class="fa fa-level-up"></i>Move Up
																	</div>
																	<div class="btn btn-app">
																		<i class="fa fa-level-down"></i>Move Down
																	</div>	
																</td>
															</tr>
															<tr role="row" class="datatable-row">
																<td>2</td>
																<td>
																	<select class="form-control inside-table">
																		<option>Select Priority</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
																<td>
																	<input type="text" name="carrier" class="form-control" value="GA">
																</td>																
																<td>New</td>
																<td>
																	<input type="text" name="origin" class="form-control must-fill">
																</td>
																<td>
																	<input type="text" name="destination" class="form-control must-fill">
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select Cabin</option>
																		<option>Y - Economy</option>
																		<option>F - First Class</option>
																		<option>C - Business</option>
																		<option>R - Premium Economy</option>
																	</select>
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select OW/RT</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
															</tr>
															<tr class="datatable-action">
																<td colspan="18" class="">
																	<div class="btn btn-app">
																		<i class="fa fa-level-up"></i>Move Up
																	</div>
																	<div class="btn btn-app">
																		<i class="fa fa-level-down"></i>Move Down
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix">
													<div class="pull-left dataTables_info italic">
														* Field can not be empty.
													</div>
												</div>	
											</div>
										</div>
									</div>
									<div class="tab-pane" id="market-rules">
										<div class="text-center no-data">No Data Available</div>
									</div>
									<div class="tab-pane" id="attachment-market">
										<div class="text-center no-data">No Attachment Available</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-wrapper" id="distribution-ATPCO">
							<div class="clearfix tab-body">
								<ul class="clearfix nav-responsive nav nav-tabs">
								    <li><a href="#ga-fares">GA Fares : SF</a></li>
								    <li><a href="#add-on">Add Ons</a></li>
								    <li><a href="#filling-instruction">Filling Instruction</a></li>
								    <li><a href="#attachment-atpco">Attachment</a></li>
								    <li><a href="#filling-details">Filling Details</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="ga-fares">
										<div class="pb1 mb1 bbgrey">
											<div class="clearfix">
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>CXR</label>
														<input type="text" name="cxr" class="form-control" value="GA">
													</div>
												</div>
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>Approval Reference</label>
														<input type="text" name="Approval Reference" class="form-control">
													</div>
												</div>
											</div>
											<div class="clearfix">
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>Description</label>
														<input type="text" name="Description" class="form-control" value="JKT 48">
													</div>
												</div>
												<div class="pull-left w50 two-column">
													<div class="form-group">
														<label>Version</label>
														<select class="form-control">
															<option>Select Version</option>
															<option>Current</option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<!-- table details-->
										<div class="table-wrapper">
											<div class="datatable-wrapper form-inline">
												<div class="clearfix">
													<div class="pull-left">
														<div class="clearfix">
															<div class="pull-right datatable-button">
																<div class="button-group dropdown">
																	<button class="btn btn-default small btn-secondary">Edit <i class="fa fa-caret-down"></i></button>
																	<ul class="dropdown-menu" role="menu">
																	    <li>
																	    	<a href="#">Clear Selectio</a>
																	    </li>
																	    <li>
																	    	<a href="#">Fill Down</a>
																	    </li>
																	    <li>
																	    	<a href="#">Search/Replace</a>
																	    </li>
																	    <li>
																	    	<a href="#">Add Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Delete Selected Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Duplicate Selected Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Copy Selected Rows</a>
																	    </li>
																	    <li>
																	    	<a href="#">Paste</a>
																	    </li>
																	    <li>
																	    	<a href="#">Paste As Cancel</a>
																	    </li>
																	</ul>
																</div>													
																<button class="btn btn-default small btn-secondary">Import</button>
																<button class="btn btn-default small btn-secondary">Export</button>
																<button class="btn btn-default small btn-secondary">Publish</button>
																<button class="btn btn-default small btn-secondary" data-toggle="modal" data-target="#modalAgent">Agents</button>
																<button class="btn btn-default small btn-secondary" data-toggle="modal" data-target="#modalRatesheet">Rate Sheet</button>
															</div>
														</div>																						
													</div>
												</div>
												<div class="table-responsive">
													<table class="table table-stripped table-bordered datatable">
														<thead>
															<tr role="row">
																<th class="sorting_asc" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" aria-sort="ascending">No</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Status</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Carrier</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Action</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Origin</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Dest</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Cabin</th>
																<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">OW/RT</th>
															</tr>
														</thead>
														<tbody>
															<tr role="row" class="datatable-row">
																<td>1</td>
																<td>
																	<select class="form-control inside-table">
																		<option>Select Priority</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
																<td>
																	<input type="text" name="carrier" class="form-control" value="GA">
																</td>																
																<td>New</td>
																<td>
																	<input type="text" name="origin" class="form-control must-fill">
																</td>
																<td>
																	<input type="text" name="destination" class="form-control must-fill">
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select Cabin</option>
																		<option>Y - Economy</option>
																		<option>F - First Class</option>
																		<option>C - Business</option>
																		<option>R - Premium Economy</option>
																	</select>
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select OW/RT</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
															</tr>
															<tr class="datatable-action">
																<td colspan="18" class="">
																	<div class="btn btn-app">
																		<i class="fa fa-level-up"></i>Move Up
																	</div>
																	<div class="btn btn-app">
																		<i class="fa fa-level-down"></i>Move Down
																	</div>	
																	<div class="btn btn-app">
																		<i class="fa fa-stack-exchange"></i>Derived Fares
																	</div>
																</td>
															</tr>
															<tr role="row" class="datatable-row">
																<td>2</td>
																<td>
																	<select class="form-control inside-table">
																		<option>Select Priority</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
																<td>
																	<input type="text" name="carrier" class="form-control" value="GA">
																</td>																
																<td>New</td>
																<td>
																	<input type="text" name="origin" class="form-control must-fill">
																</td>
																<td>
																	<input type="text" name="destination" class="form-control must-fill">
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select Cabin</option>
																		<option>Y - Economy</option>
																		<option>F - First Class</option>
																		<option>C - Business</option>
																		<option>R - Premium Economy</option>
																	</select>
																</td>
																<td>
																	<select class="form-control inside-table must-fill">
																		<option>Select OW/RT</option>
																		<option>Pending</option>
																		<option>Approve</option>
																		<option>Reject</option>
																	</select>
																</td>
															</tr>
															<tr class="datatable-action">
																<td colspan="18" class="">																	
																	<div class="btn btn-app">
																		<i class="fa fa-level-up"></i>Move Up
																	</div>
																	<div class="btn btn-app">
																		<i class="fa fa-level-down"></i>Move Down
																	</div>
																	<div class="btn btn-app">
																		<i class="fa fa-stack-exchange"></i>Derived Fares
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="clearfix">
													<div class="pull-left dataTables_info italic">
														* Field can not be empty.
													</div>
												</div>	
											</div>
										</div>
									</div>
									<div class="tab-pane" id="add-on">
										<div class="text-center no-data">No Data Available</div>
									</div>
									<div class="tab-pane" id="filling-instruction">
										<div class="text-center no-data">No Data Available</div>
									</div>
									<div class="tab-pane" id="attachment-atpco">
										<div class="text-center no-data">No Attachment Available</div>
									</div>
									<div class="tab-pane" id="filling-details">
										<div class="text-center no-data">No Attachment Available</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>

		<!-- Modals -->
		<!-- modal agent -->
		<div class="modal fade" id="modalAgent" tabindex="-1" role="dialog" aria-labelledby="modalAgentLabel" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
				        <h5 class="modal-title" id="modalAgentLabel">Add Agent</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
		      		</div>
		      		<div class="modal-body">
			        	<div class="form-group mb5px">
							<label>Agent</label>
							<div class="input-group">
								<input type="text" name="Agent" class="form-control" id="input-agent">
								<span class="input-group-addon add-agent">
									<i class="fa fa-plus"></i>
								</span>
							</div>
							<div class="form-validation-msg validate-agent">Please fill agent name</div>
						</div>
						<div class="agent-list-wrapper">
						</div>
			      	</div>
		      		<div class="modal-footer">				        
				        <button type="button" class="btn btn-secondary">Save changes</button>
				        <button type="button" class="btn btn-back" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div>

		<!-- modal rate sheet -->
		<div class="modal fade" id="modalRatesheet" tabindex="-1" role="dialog" aria-labelledby="modalRatesheetLabel" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
				        <h5 class="modal-title" id="modalRatesheetLabel">Rate Sheet</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
		      		</div>
		      		<div class="modal-body">
			        	<div class="form-group mb5px">
							<label>Select Fields</label>
							<div class="clearfix mb1">
								<div class="pull-left w35">
									<select multiple="" class="form-control left-select">
					                	<option>Status</option>
					                    <option>Carrier</option>
					                    <option>Action</option>
					                    <option>Tar No</option>
					                    <option>Tar CD</option>
					                    <option>Global</option>
					                    <option>Origin</option>
					                    <option>Destination</option>
					                    <option>Fare Class</option>
					                    <option>Booking Class</option>
					                    <option>Cabin</option>
					                    <option>OW/RT</option>
					                    <option>Footnote</option>
					                    <option>Routing No</option>
					                    <option>Rule No</option>
					                    <option>Curency</option>
					                    <option>Base Amount</option>
					                    <option>Amount Difference</option>
					                    <option>% Amount Difference</option>
					                    <option>YQYR</option>
					                    <option>CAT 12</option>
					                    <option>Taxes</option>
					                    <option>TFC</option>
					                    <option>Target AIF</option>
					                    <option>Itinerary</option>
					                    <option>Overide Indicator</option>
					                    <option>Travel Start</option>
					                    <option>Travel End</option>
					                    <option>Sales Start</option>
					                    <option>Sales End</option>
					                    <option>EFFDT</option>
					                    <option>Comment</option>
					                    <option>Travel Complete</option>
					                    <option>Travel Complete Indicator</option>
					                    <option>Rate Sheet Comment</option>
					                    <option>Deal Code</option>
				                  	</select>
								</div>
								<div class="pull-left w30">
									<div class="ph5px">
										<div class="text-center action-ratesheet-wrapper">
											<div class="action-ratesheet js-addAll-ratesheet">ADD ALL</div>
											<div class="action-ratesheet js-add-ratesheet">ADD</div>
											<div class="action-ratesheet js-removeAll-ratesheet">REMOVE ALL</div>
											<div class="action-ratesheet js-remove-ratesheet">REMOVE</div>
										</div>
									</div>									
								</div>
								<div class="pull-left w35">
									<select multiple="" class="form-control right-select">
									</select>
								</div>
							</div>
							<div class="form-validation-msg validate-add">Before add please select any option from the left field.</div>
							<div class="form-validation-msg validate-addAll">Left field has no data.</div>
							<div class="form-validation-msg validate-remove">Before remove please select any option from the right field.</div>
							<div class="form-validation-msg validate-removeAll">Right field has no data.</div>
						</div>
						<div class="form-group">
							<label>Rule Text</label>
							<textarea class="form-control" rows="3" placeholder="Enter rule here ..."></textarea>
						</div>
			      	</div>
		      		<div class="modal-footer">				        
				        <button type="button" class="btn btn-secondary">Submit</button>
				        <button type="button" class="btn btn-back" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div>

		<!-- modal rate sheet -->
		<div class="modal fade" id="addNewsheet" tabindex="-1" role="dialog" aria-labelledby="addNewsheetLabel" aria-hidden="true">
		  	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
				        <h5 class="modal-title" id="addNewsheetLabel">Add New Work Sheet</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
		      		</div>
		      		<div class="modal-body">
		      			<div class="box-detail">
		      				<div class="box-header">
								Work Sheet Parameter
							</div>
		      				<div class="box-body">
		      					<div class="form-group">
									<label>Work Sheet Type</label>
									<select class="form-control">
										<option>Fares</option>
										<option>Lorem Ipsum</option>
									</select>
								</div>
								<div class="form-group">
									<label>Work SHeet Name *</label>
									<input type="text" name="Work SHeet Name" class="form-control must-fill">
								</div>
								<div class="form-group">
									<label>Sales Country Group</label>
									<select class="form-control">
										<option>SCG 1</option>
										<option>SCG 2</option>
									</select>
								</div>
								<div class="form-group">
									<label>Product Type</label>
									<select class="form-control">
										<option>Product Type 1</option>
										<option>Product Type 2</option>
									</select>
								</div>
								<div class="form-group">
									<label>Product Sub Type</label>
									<select class="form-control">
										<option>Product Sub Type 1</option>
										<option>Product Sub Type 2</option>
									</select>
								</div>
		      				</div>
		      			</div>						
			      	</div>
		      		<div class="modal-footer">				        
				        <button type="button" class="btn btn-secondary">Submit</button>
				        <button type="button" class="btn btn-back" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	</div>