<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
    	<h5 class="modal-title" id="myWorkPackageLabel">Search/Replace</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
    </div>
    <div class="modal-body">    		
   		<div class="clearfix">
			<div class="pull-left w80 ph5px">
				<div class="box-detail">
	 				<div class="box-header">
					Search and Replace
					</div>
	 				<div class="box-body">
	 					<div class="clearfix">
	 						<div class="pull-left w30">
	 							<div class="clearfix">
	 								<div class="pull-left">
	 									<div class="form-group">
											<div class="checkbox-wrapper">
												<label class="black">
													<input type="radio" name="andor" value="and" ng-model="vm.filter.andor"></input>
													And
												</label>
											</div>
										</div>
	 								</div>
	 								<div class="pull-left">
	 									<div class="form-group">
											<div class="checkbox-wrapper">	
												<label class="black">
													<input type="radio" name="andor" value="or" ng-model="vm.filter.andor"></input>
													Or
												</label>
											</div>
										</div>
	 								</div>
	 							</div>		      																	
	 						</div>
	 						<div class="pull-left w35">
	 							<div class="text-left mt5px semibold">Search For</div>
	 						</div>
	 						<div class="pull-left w35">
	 							<div class="text-left mt5px semibold">Replace With</div>
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">No
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.no.check"/>													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" class="form-control inline" ng-disabled="!vm.filter.no.check" ng-model="vm.filter.no.search"/>
								
					 		</div>
	 						<div class="pull-left ph5px w5">
	 							<button ng-click="">...</button>
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
					 	</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Status
 						</div>
 						<div class="pull-left ph5px w5">
 							<div class="form-group mb0">
								<div class="checkbox-wrapper inline">
									<label>
										<input type="checkbox" ng-model="vm.filter.status.check">													
									</label>
								</div>
							</div>
	 					</div>
	 						<div class="pull-left ph5px w30">
								<select class="form-control" ng-disabled="!vm.filter.status.check" ng-model="vm.filter.status.search">
									<option>PENDING</option>
									<option>APPROVED</option>
									<option>REJECTED</option>
								</select>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
								<div class="checkbox-wrapper inline">
									<label>
										<input type="checkbox" ng-model="vm.filter.status.replace.check">													
									</label>
								</div>
							</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							<select class="form-control" ng-disabled="!vm.filter.status.replace.check" ng-model="vm.filter.status.replace.value">
									<option>PENDING</option>
									<option>APPROVED</option>
									<option>REJECTED</option>
								</select>
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Cxr
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.carrier.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" class="form-control inline" ng-disabled="!vm.filter.carrier.check" ng-model="vm.filter.carrier.search"/>								
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
								<div class="checkbox-wrapper inline">
									<label>
										<input type="checkbox" ng-model="vm.filter.carrier.replace.check" disabled>													
									</label>
								</div>
							</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							<input type="text" class="form-control inline" disabled ng-model="vm.filter.carrier.replace.value"/>		 								
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Action
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.action.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<select class="form-control" ng-disabled="!vm.filter.action.check" ng-model="vm.filter.action.replace.value">
									<option>NEW</option>
									<option>AUTO</option>
									<option>INCREASE</option>
									<option>DECREASE</option>
									<option>CANCEL</option>
								</select>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Tar No
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.tariffNumber.tarNo.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" class="form-control inline" uppercase ng-disabled="!vm.filter.tariffNumber.tarNo.check" ng-model="vm.filter.tariffNumber.tarNo.search"/>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Tar Cd
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.tariffNumber.tarCd.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
									<input type="text" class="form-control inline" uppercase ng-disabled="!vm.filter.tariffNumber.tarCd.check" ng-model="vm.filter.tariffNumber.tarCd.search"/>	 						
	 						</div>
	 						<div class="pull-left ph5px w5">
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Global
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.tariffNumber.global.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
									<input type="text" class="form-control inline" uppercase ng-disabled="!vm.filter.tariffNumber.global.check" ng-model="vm.filter.tariffNumber.global.search"/>	 						
	 						</div>
	 						<div class="pull-left ph5px w5">
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Origin
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.origin.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.origin.check" ng-model="vm.filter.origin.search">
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" name="">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							<input type="text" name="" class="form-control inline" disabled="">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Dest
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.destination.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.destination.check" ng-model="vm.filter.destination.search">
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" name="">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							<input type="text" name="" class="form-control inline" disabled="">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Fare Class
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.fareBasis.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.fareBasis.check" ng-model="vm.filter.fareBasis.search">
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" name="">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							<input type="text" name="" class="form-control inline" disabled="">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Booking Class
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.bookingClass.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" class="form-control inline" uppercase ng-disabled="!vm.filter.bookingClass.check" ng-model="vm.filter.bookingClass.search">
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" name="">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							<input type="text" name="" class="form-control inline" disabled="">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Cabin
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.cabin.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<select class="form-control" ng-disabled="!vm.filter.cabin.check" ng-model="vm.filter.cabin.search">
									<option value="Y">Y - Economy</option>
									<option value="F">F - First Class</option>
									<option value="C">C - Business</option>
									<option value="R">R - Premium Economy</option>
								</select>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">OW/RT
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.typeOfJourney.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<select class="form-control" ng-disabled="!vm.filter.typeOfJourney.check" ng-model="vm.filter.typeOfJourney.search">
									<option>One Way</option>
									<option>Return</option>
									<option>One Way Only</option>
								</select>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Footnote
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.footnote.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.footnote.check" ng-model="vm.filter.footnote.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Rtg No
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.rtgno.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.rtgno.check" ng-model="vm.filter.rtgno.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Rule No
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.ruleno.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.ruleno.check" ng-model="vm.filter.ruleno.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Currency
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.currency.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.currency.check" ng-model="vm.filter.currency.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Amount
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.amount.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.amount.check" ng-model="vm.filter.amount.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Target AIF
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.aif.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" uppercase ng-disabled="!vm.filter.aif.check" ng-model="vm.filter.aif.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Travel Start
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.travelStart.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<div class="input-group">
								
									<input id="field_travelStartDate" 
										ng-disabled="!vm.filter.travelStart.check"
										type="text"
										name="travelStartDate" id="field_travelEndDate"
		                				class="form-control input-date"					                				
		                				ng-model="vm.filter.travelStart.search" 
							            datetime-picker="{{dateformat}}" 
							            enable-time="false"
							            is-open="vm.datePickerOpenStatus['travelStartDate']">
									
									<span ng-click="vm.openCalendar('travelStartDate')" class="input-group-addon disabled">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Travel End
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.travelEnd.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<div class="input-group">
								
									<input id="field_travelStartDate" 
										ng-disabled="!vm.filter.travelEnd.check"
										type="text"
										name="travelEndDate" id="field_travelEndDate"
		                				class="form-control input-date"					                				
		                				ng-model="vm.filter.travelEnd.search" 
							            datetime-picker="{{dateformat}}" 
							            enable-time="false"
							            is-open="vm.datePickerOpenStatus['travelEndDate']">
									
									<span ng-click="vm.openCalendar('travelEndDate')" class="input-group-addon disabled">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Sale Start
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.saleStart.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<div class="input-group">
								
									<input id="field_travelStartDate" 
										ng-disabled="!vm.filter.saleStart.check"
										type="text"
										name="saleStartDate" id="field_saleStartDate"
		                				class="form-control input-date"					                				
		                				ng-model="vm.filter.saleStart.search" 
							            datetime-picker="{{dateformat}}" 
							            enable-time="false"
							            is-open="vm.datePickerOpenStatus['saleStartDate']">
									
									<span ng-click="vm.openCalendar('saleStartDate')" class="input-group-addon disabled">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Sale End
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.saleEnd.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<div class="input-group">
								
									<input id="field_travelStartDate" 
										ng-disabled="!vm.filter.saleEnd.check"
										type="text"
										name="saleEndDate" id="field_saleEndDate"
		                				class="form-control input-date"					                				
		                				ng-model="vm.filter.saleEnd.search" 
							            datetime-picker="{{dateformat}}" 
							            enable-time="false"
							            is-open="vm.datePickerOpenStatus['saleEndDate']">
									
									<span ng-click="vm.openCalendar('saleEndDate')" class="input-group-addon disabled">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Comment
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.comment.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" ng-disabled="!vm.filter.comment.check" ng-model="vm.filter.comment.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Travel Complete
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.travelComplete.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<div class="input-group">
								
									<input id="field_travelStartDate" 
										ng-disabled="!vm.filter.travelComplete.check"
										type="text"
										name="travelCompleteDate" id="field_travelEndDate"
		                				class="form-control input-date"					                				
		                				ng-model="vm.filter.travelComplete.search" 
							            datetime-picker="{{dateformat}}" 
							            enable-time="false"
							            is-open="vm.datePickerOpenStatus['travelCompleteDate']">
									
									<span ng-click="vm.openCalendar('travelCompleteDate')" class="input-group-addon disabled">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							
	 						</div>
	 						<div class="pull-left ph5px w30">
	 							
	 						</div>
	 					</div>
	 					
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Travel Complete Indicator
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox" ng-model="vm.filter.travelCompleteIndicator.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<select class="form-control" ng-disabled="!vm.filter.travelCompleteIndicator.check" ng-model="vm.filter.travelCompleteIndicator.search">
									<option>Trip Completedy</option>
									<option>Trip Commence</option>
								</select>
	 						</div>
	 						<div class="pull-left ph5px w5">
	 						</div>
	 						<div class="pull-left ph5px w30">
	 						</div>
	 					</div>
	 					
	 					<div class="clearfix">
	 						<div class="pull-left ph5px w30 mt5px">Ratesheet Comment
	 						</div>
	 						<div class="pull-left ph5px w5">
	 							<div class="form-group mb0">
									<div class="checkbox-wrapper inline">
										<label>
											<input type="checkbox"  ng-model="vm.filter.retesheetComment.check">													
										</label>
									</div>
								</div>
	 						</div>
	 						<div class="pull-left ph5px w30">
								<input type="text" name="" class="form-control inline" ng-disabled="!vm.filter.retesheetComment.check" ng-model="vm.filter.retesheetComment.search">
	 						</div>
	 						<div class="pull-left ph5px w15">
	 							
	 						</div>
	 						<div class="pull-left ph5px w20">
	 							
	 						</div>
	 					</div>
	 				</div>
	 			</div>
			</div>
			<div class="pull-right w20 ph5px text-center" style="margin-top: 20px;">
				<button class="btn btn-default small btn-secondary btn-third mb5px" ng-click="vm.find()">Find</button>
				<button class="btn btn-default small btn-secondary btn-third mb5px" ng-click="vm.replace()">Replace</button>
				<button class="btn btn-default small btn-secondary btn-third mb1" style="margin-right: 5px;" ng-click="vm.replaceAll()">Replace All</button>
				<button class="btn btn-default small btn-secondary btn-third mb1" ng-click="vm.reset()" style="margin-right: 5px;">Reset</button>
				<button class="btn btn-default small btn-secondary btn-third mb1" style="margin-right: 5px;">Close</button>
				<div class="form-group">
					<div class="checkbox-wrapper">
						<label class="black fz10">
							<input type="checkbox" name="" checked="">
							Apply to Selected
						</label>
					</div>
				</div>
			</div>
    	</div>
    </div>
    <div class="modal-footer">
    	<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-secondary" data-translate="entity.action.save">Reset</button>
        <button type="button" ng-click="vm.clear()" class="btn btn-back" data-dismiss="modal">Close</button>
    </div>
</form>
