<!-- <div>
    <h2>Work Order Queue</h2>
    <label class="centered mb2">My Business Area: <b>JKT</b></label>
    <div class="tab-content wq">

    	<div class="no-pad filter-toggle js-filter-toggle">
    		<span class="filter_wording">Show Filter</span>
            <img src="content/images/ic_caret_blue.png" class="ic_caret_blue">
    	</div>
    	<div class="col-md-12 no-pad filter-area" style="padding: 10px 0 !important">
			
			<div class="clearfix">
				<div class="pull-left w50">
					<div class="form-group">
						<div class="custom-label">Review Level</div>
						<div class="checkbox-wrapper checkbox auto">	
							<label><input type="checkbox" ng-model="vm.reviewLevel" value="">LSO</label>
							<label><input type="checkbox" ng-model="vm.reviewLevel" value="">HO</label>
							<label><input type="checkbox" ng-model="vm.reviewLevel" value="">Distribution</label>
							<label><input type="checkbox" ng-model="vm.reviewLevel" value="">Route Management</label>
						</div>
					</div>
					<div class="form-group mb0">
						<div class="custom-label">Distribution Type</div>
				        <div class="checkbox-wrapper checkbox auto">	
							<label><input type="checkbox" ng-model="vm.distributionType" value="">ATPCO</label>
							<label><input type="checkbox" ng-model="vm.distributionType" value="">Market</label>
						</div>
			        </div>
				</div>
				<div class="pull-left w50">
					<div class="form-group">
						<div class="custom-label">WO Status</div>
				        <div class="checkbox-wrapper checkbox auto">
				        	<div class="clearfix">
				        		<div class="pull-left action-checkbox-wrapper">
				        			<label><input type="checkbox" ng-model="vm.woStatus" value="">New</label>
									<label><input type="checkbox" ng-model="vm.woStatus" value="">Pending</label>
									<label><input type="checkbox" ng-model="vm.woStatus" value="">Reviewing</label>
									<label><input type="checkbox" ng-model="vm.woStatus" value="">Ready to Release</label>
									<label><input type="checkbox" ng-model="vm.woStatus" value="">Distributed</label>
				        		</div>
				        		<div class="pull-left action-checkbox-wrapper">
				        			<label><input type="checkbox" ng-model="vm.woStatus" value="">Withdraw</label>
									<label><input type="checkbox" ng-model="vm.woStatus" value="">Referred</label>
									<label><input type="checkbox" ng-model="vm.woStatus" value="">Discontinued</label>
									<span class="vseparator"></span>
				        		</div>
				        	</div>					
							
						</div>
			        </div>
				</div>
			</div>

    	</div>
    </div>
    <div class="action-btn-wrapper no-pad">
    	<div class="clearfix">
    		<div class="pull-left left-action pr1">
    			<button type="button" class="btn btn-primary">
					Reuse
				</button>
				<button type="button" ng-click="vm.showHistory()" class="btn btn-primary">
					History
			 	</button>
				<button type="button" class="btn btn-primary">
					Unlock
				</button>
			 	<button type="button" class="btn btn-primary">
					Discontinue
				</button>
				<button type="button" class="btn btn-primary">
			 		Withdraw
			 	</button>
			    <button type="button" class="btn btn-primary">
			        Release
				</button>
			 	<button type="button" class="btn btn-primary">
			        Open
			  	</button>
			  	<button type="button" class="btn btn-primary">
			        Print/Export
			 	</button>
			 	<button type="button" class="btn btn-primary" ng-click="vm.reuse()" ng-disabled="vm.selectedRow == null">
			        Reuse
			 	</button>
			 	<button type="button" class="btn btn-primary" ng-click="vm.replace()" ng-disabled="vm.selectedRow == null || vm.selectedRow.targetDistribution  == 'ATPCO'">
			        Replace
			 	</button>
    		</div>
    		<div class="pull-left pl1 right-action text-right">
    			<div class="btn-group" uib-dropdown is-open="vm.editButton.isopen">
		      		<button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
		     			New 
			     		<span class="caret"></span>
			      	</button>
					<ul class="dropdown-menu" role="menu">
			        	<li><a ui-sref="work-package.new({type:'reguler'})" >Regular Work Order</a></li>
			        	<li><a ui-sref="work-package.new({type:'discount'})" >Discount Work Order</a></li>
			        	<li><a ui-sref="work-package.new({type:'waiver'})" >Waiver Work Order</a></li>
			      	</ul>
			    </div>
		     	<button class="btn btn-primary" ng-click="vm.refresh()">
		     		Refresh
		      	</button>
    		</div>
    	</div>
	</div>
    <div class="table-responsive">
        <table class="jh-table table table-striped" id="workorder">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th>Action</th>
                    <th jh-sort-by="id"><span>No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>WO Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Distribution Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="fmpApp.workPackage.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wpid"><span data-translate="fmpApp.workPackage.wpid">Wpid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="fmpApp.workPackage.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reviewLevel"><span>Review Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="priority"><span data-translate="fmpApp.workPackage.priority">Priority</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="targetSub"><span data-translate="fmpApp.workPackage.targetSub">Target Sub</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fillingDate"><span data-translate="fmpApp.workPackage.fillingDate">Filling Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="distributionDate"><span data-translate="fmpApp.workPackage.distributionDate">Distribution Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="discExpiryDate"><span data-translate="fmpApp.workPackage.discExpiryDate">Disc Expiry Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fillingStatus"><span data-translate="fmpApp.workPackage.fillingStatus">Filling Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fillingError"><span data-translate="fmpApp.workPackage.fillingError">Filling Error</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lockedBy"><span data-translate="fmpApp.workPackage.lockedBy">Locked By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lockedSince"><span data-translate="fmpApp.workPackage.lockedSince">Locked Since</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workPackage in vm.workPackages track by workPackage.id" ng-click="vm.rowSelected(workPackage)" ng-class="{selected: workPackage === vm.selectedRow}">
                    <td class="text-right">
                        <div class="btn-group entities flex-btn-group-container">
                            <button type="submit" title="Edit"
                                    ui-sref="work-package-detail({id:workPackage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                    </td>
                    <td><a ui-sref="work-package-detail({id:workPackage.id})">{{$index+1}}</a></td>
                    <td>{{workPackage.type}}</td>
                    <td>{{workPackage.targetDistribution}}</td>
                    <td>{{workPackage.status}}</td>
                    <td>{{workPackage.wpid}}</td>
                    <td>{{workPackage.name}}</td>
                    <td>{{workPackage.reviewLevel}}</td>
                    <td data-translate="{{'fmpApp.Priority.' + workPackage.priority}}">{{workPackage.priority}}</td>
                    <td>{{workPackage.targetSub}}</td>
                    <td>{{workPackage.fillingDate | date:'medium'}}</td>
                    <td>{{workPackage.distributionDate | date:'medium'}}</td>
                    <td>{{workPackage.discExpiryDate | date:'medium'}}</td>
                    <td data-translate="{{'fmpApp.Status.' + workPackage.fillingStatus}}">{{workPackage.fillingStatus}}</td>
                    <td>{{workPackage.fillingError}}</td>
                    <td>{{workPackage.lockedBy}}</td>
                    <td>{{workPackage.lockedSince | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-wrapper text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
 -->
 
 
 
 
 <!-- <div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Welcome, Java Hipster!</h1>
            <p class="lead">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p>
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span>If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!
            </p>
        </div>
    </div>
</div> -->


			<div class="content-header">
				<div class="clearfix">
					<a class="sidebar-toggle pull-left showLeftPush" data-toggle="push-menu" role="button">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</a>
				</div>	
			</div>
			<div class="content-title">
				<h2>Work Order Queue</h2>
				<p>My Business Area: <span>JKT</span></p>
			</div>

			<!-- table panel -->
			<div class="panel">
				<div class="panel-body">
					<!-- filter -->
					<div class="filter-hero">
						<div class="filter-label semibold show">Hide Filter</div>							
						<div class="filter-area">
							<div class="clearfix">
								<div class="pull-left w50">
									<div class="form-group">
										<div class="custom-label semibold">Review Level</div>
										<div class="checkbox-wrapper">
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.reviewLevel.lso">
												LSO
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.reviewLevel.ho">
												HO
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.reviewLevel.distribution">
												Distribution
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.reviewLevel.routeManagement">
												Route Management
											</label>
										</div>
									</div>
									<div class="form-group mb0">
										<div class="custom-label semibold">Distribution Type</div>
										<div class="checkbox-wrapper">
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.distributionType.atpco">
												ATPCO
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.distributionType.market">
												Market
											</label>
										</div>
									</div>
									<div class="form-group mb0">
										<div class="custom-label semibold">WO Type</div>
										<div class="checkbox-wrapper">
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.type.regular">
												Regular
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.type.discount">
												Discount
											</label>
											<label>
												<input type="checkbox" ng-model="vm.workPackageFilter.type.waiver">
												Waiver
											</label>
										</div>
									</div>
									<div class="form-group mb0">
										<div class="custom-label semibold">Approval Reference</div>
										<input type="text" class="form-control" ng-model="vm.workPackageFilter.approvalReference"  />
									</div>
								</div>
								<div class="pull-left w50">
									<div class="form-group">
										<div class="custom-label semibold">WO Status</div>
										<div class="clearfix">
											<div class="pull-left multi-option-checkbox">
												<div class="checkbox-wrapper">
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.new">
														New
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.pending">
														Pending
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.reviewing">
														Reviewing
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.readyToRelease">
														Ready to Release
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.distributed">
														Distributed
													</label>
												</div>
											</div>
											<div class="pull-left multi-option-checkbox">
												<div class="checkbox-wrapper">
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.withdraw">
														Withdraw
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.referred">
														Referred
													</label>
													<label>
														<input type="checkbox" ng-model="vm.workPackageFilter.status.discontinue">
														Discontinued
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>							
					</div>
					<!-- end of filter -->

					<!-- table -->
					<div class="table-wrapper">
						<div class="datatable-wrapper form-inline">
							<div class="clearfix">
								<div class="pull-left w50 data-on">
									<div class="datatable-length">
										<label>
											<select class="form-control">
												<option>10</option>
												<option>20</option>
												<option>30</option>
											</select>
											 records per page
										</label>
									</div>
								</div>
								<div class="pull-right w50">
									<div class="clearfix">
										<div class="pull-right datatable-button">
											<div class="button-group dropdown">
												<button class="btn btn-default small">New <i class="fa fa-caret-down"></i></button>
												<ul class="dropdown-menu" role="menu">
												    <li>
												    	<a ui-sref="work-package.new({type:'reguler'})">Regular Work Order</a>
												    </li>
												    <li>
												    	<a ui-sref="work-package.new({type:'discount'})">Discount Work Order</a>
												    </li>
												    <li>
												    	<a ui-sref="work-package.new({type:'waiver'})">Waiver Work Order</a>
												    </li>
												</ul>
											</div>													
											<button class="btn btn-default small" ng-click="vm.refresh()">Refresh</button>
										</div>
									</div>																						
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-stripped table-bordered datatable">
									<thead>
										<tr role="row" jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
											<th class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Action</th>
											<th class="sorting_asc" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1" aria-sort="ascending">No</th>
											<th jh-sort-by="type" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">WO Type <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="targetDistribution" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Distribution Type <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="status" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Status <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="wpid" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">WO ID <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="name" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">WO Name <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="reviewLevel" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Review Level <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="approvalReference" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Approval Reference <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="reuseFrom" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Reuse from <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="replaceFrom" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Replace from <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="priority" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Priority <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="fareType" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Fare Types <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="createdDate" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Created Date <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="createdBy" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Created By <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="lastModifiedDate" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Last Modified Date <span class="glyphicon glyphicon-sort"></span></th>
											<th jh-sort-by="lastModifiedBy" class="sorting" tabindex="0" aria-controls="datatable-tabletools" rowspan="1" colspan="1">Last Modified By <span class="glyphicon glyphicon-sort"></span></th>
										</tr>
									</thead>
									<tbody ng-repeat="workPackage in vm.workPackages track by $index" >
										<tr role="row" class="datatable-row" 
											ng-click="vm.rowSelected($index, workPackage)" ng-class="{selected: workPackage === vm.selectedRow}">
											<td class="text-right">
						                        <div class="btn-group entities flex-btn-group-container">
						                            <button type="submit" title="Edit"
						                                    ui-sref="work-package-detail({id:workPackage.id})"
						                                    class="btn btn-primary btn-sm">
						                                <span class="glyphicon glyphicon-pencil"></span>
						                            </button>
						                        </div>
						                    </td>
						                    <td><a ui-sref="work-package-detail({id:workPackage.id})">{{$index+1}}</a></td>
						                    <td>{{workPackage.type}}</td>
						                    <td>{{workPackage.targetDistribution}}</td>
						                    <td>{{workPackage.status}}</td>
						                    <td>{{workPackage.wpid}}</td>
						                    <td>{{workPackage.name}}</td>
						                    <td>{{workPackage.reviewLevel}}</td>
						                    <td>
						                    	<div>
							                    	<table ng-if="workPackage.specifiedFares">
							                    		<thead>
							                    			<tr><th  colspan="2"><center>Fare</center></th></tr>
							                    			<tr>
							                    				<th>Sheet</th>
							                    				<th>Value</th>
							                    			</tr>			                    			
							                    		</thead>
							                    		<tbody>
							                    			<tr ng-repeat="fareSheet in workPackage.fareSheet track by $index">
							                    				<td>{{$index+1}}</td>
							                    				<td>
							                    					{{fareSheet.approvalReference}}
							                    				</td>
							                    			</tr>
							                    		</tbody>
							                    	</table>							                    	
						                    	</div>
						                    </td>
						                    <td>{{workPackage.reuseFrom}}</td>
						                    <td>{{workPackage.replaceFrom}}</td>
						                    <td>{{workPackage.priority}}</td>
						                    <td>
						                    	<div>
							                    	<table ng-if="workPackage.specifiedFares">
							                    		<thead>
							                    			<tr><th  colspan="2"><center>Fare</center></th></tr>
							                    			<tr>
							                    				<th>Sheet</th>
							                    				<th>Fare Type</th>
							                    			</tr>			                    			
							                    		</thead>
							                    		<tbody>
							                    			<tr ng-repeat="fareSheet in workPackage.fareSheet track by $index">
							                    				<td>{{$index+1}}</td>
							                    				<td>
							                    					{{fareSheet.fareType}}
							                    				</td>
							                    			</tr>
							                    		</tbody>
							                    	</table>							                    	
						                    	</div>
						                    	
						                    	<table ng-if="workPackage.discount">
						                    		<thead>
						                    			<tr><th  colspan="2"><center>Discount Fare</center></th></tr>
						                    			<tr>
						                    				<th>Sheet</th>
						                    				<th>Fare Type</th>
						                    			</tr>			                    			
						                    		</thead>
						                    		<tbody>
						                    			<tr ng-repeat="fareSheet in workPackage.discountFareSheet track by $index">
						                    				<td>{{$index+1}}</td>
						                    				<td>
						                    					{{fareSheet.fareType}}
						                    				</td>
						                    			</tr>
						                    		</tbody>
						                    	</table>
						                    	
						                    	<table ng-if="workPackage.marketFares">
						                    		<thead>
						                    			<tr><th  colspan="2"><center>Market Fare</center></th></tr>
						                    			<tr>
						                    				<th>Sheet</th>
						                    				<th>Fare Type</th>
						                    			</tr>			                    			
						                    		</thead>
						                    		<tbody>
						                    			<tr ng-repeat="fareSheet in workPackage.marketFareSheet track by $index">
						                    				<td>{{$index+1}}</td>
						                    				<td>
						                    					{{fareSheet.fareType}}
						                    				</td>
						                    			</tr>
						                    		</tbody>
						                    	</table>
						                    	
						                    	<table ng-if="workPackage.waiverFares">
						                    		<thead>
						                    			<tr><th  colspan="2"><center>Waiver Fare</center></th></tr>
						                    			<tr>
						                    				<th>Sheet</th>
						                    				<th>Fare Type</th>
						                    			</tr>			                    			
						                    		</thead>
						                    		<tbody>
						                    			<tr ng-repeat="fareSheet in workPackage.addonFareSheet track by $index">
						                    				<td>{{$index+1}}</td>
						                    				<td>
						                    					{{fareSheet.fareType}}
						                    				</td>
						                    			</tr>
						                    		</tbody>
						                    	</table>
						                    </td>
						                    <td>{{workPackage.createdDate | date:'medium'}}</td>
						                    <td>{{workPackage.createdBy}}</td>
						                    <td>{{workPackage.lastModifiedDate | date:'medium'}}</td>
						                    <td>{{workPackage.lastModifiedBy}}</td>
										</tr>
										<tr ng-show="vm.workPackageActionButton[$index]">
											<td colspan="18" class="">
												<div class="btn btn-app" ng-click="vm.reuse($index)">
													<i class="fa fa-trash"></i>Reuse
												</div>
												<div class="btn btn-app" ng-click="vm.replace($index)" ng-show="workPackage.targetDistribution == 'ATPCO'">
													<i class="fa fa-level-up"></i>Replace
												</div>
												<div class="btn btn-app" ng-click="vm.withdraw($index)">
													<i class="fa fa-level-up"></i>Withdraw
												</div>
											</td>
										</tr>										
									</tbody>	
								</table>
							</div>
							<div class="clearfix data-on">
								<div class="pull-left dataTables_info">
									Showing 1 to 10 of 57 entries
								</div>
								<div class="pull-right dataTables_paginate">
									<ul class="pagination">
									    <li class="previous disabled"><a href="#">Previous</a></li>
									    <li class="active"><a href="#">1</a></li>
									    <li><a href="#">2</a></li>
									    <li><a href="#">3</a></li>
								      	<li><a href="#">4</a></li>
								      	<li><a href="#">5</a></li>
								      	<li class="next"><a href="#">Next</a></li>
									</ul>
								</div>
							</div>								
						</div>
					</div>
					<!-- end of table -->
				</div>
			</div>

