<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title">Rule Category Source Indicator Legend</h4>
</div>
<div class="modal-body">
	<div class="panel">
		<div class="panel-body">
			<p>
				The following letters are used to indicate the source of rule conditions
			</p>
			<br/>
			<p>
				  B: Fare by Rule
			</p>
			<p>
				  F: Footnote
			</p>
			<p>
				  R: Rule
			</p>
			<p>
				  G: General Rule
			</p>
			<p>
				  A: Alternate General Rule
			</p>
			<br/>
			<p>
				Multiple values indicate multiple sources.
			</p>
			<br/>
			<br/>
			<button type="submit" class="btn btn-info" ng-click="vm.clear()">
		        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Close</span>
		    </button>
		</div>
	</div>
</div>
   	
    