<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myUserLabel">Create or edit a User</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.user.id">
			<label>ID</label> <input type="text" class="form-control" name="id"
				ng-model="vm.user.id" readonly>
		</div>

		<div class="form-group">
			<label class="control-label">Login</label> <input type="text"
				class="form-control" name="login" ng-model="vm.user.login" required
				ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

			<div ng-show="editForm.login.$invalid">
				<p class="help-block" ng-show="editForm.login.$error.required">
					This field is required.</p>

				<p class="help-block" ng-show="editForm.login.$error.maxlength">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
				<div class="form-group">
			<label class="control-label">Password</label> <input type="text"
				class="form-control" name="password" ng-model="vm.user.password"
				ng-maxlength="30" ng-minlength="8"
				ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/">

			<div ng-show="editForm.email.$invalid">
				<p class="help-block" ng-show="editForm.password.$error.maxlength">
					This field cannot be longer than 30 characters.</p>
				<p class="help-block" ng-show="editForm.password.$error.minlength">
					This field at least 8 characters.</p>
				<p class="help-block" ng-show="editForm.password.$error.pattern">
					This field at least 1 Lowercase characters, Uppercase characters, Digit, Symbol.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">First Name</label> <input type="text"
				class="form-control" name="firstName" ng-model="vm.user.firstName"
				ng-maxlength="50">

			<div ng-show="editForm.firstName.$invalid">
				<p class="help-block" ng-show="editForm.firstName.$error.maxlength">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label>Last Name</label> <input type="text" class="form-control"
				name="lastName" ng-model="vm.user.lastName" ng-maxlength="50">

			<div ng-show="editForm.lastName.$invalid">
				<p class="help-block" ng-show="editForm.lastName.$error.maxlength">
					This field cannot be longer than 50 characters.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Email</label> <input type="email"
				class="form-control" name="email" ng-model="vm.user.email" required
				ng-maxlength="100">

			<div ng-show="editForm.email.$invalid">
				<p class="help-block" ng-show="editForm.email.$error.required">
					This field is required.</p>

				<p class="help-block" ng-show="editForm.email.$error.maxlength">
					This field cannot be longer than 100 characters.</p>
				<p class="help-block" ng-show="editForm.email.$error.email">
					Your email is invalid.</p>
			</div>
		</div>
		<div class="form-group">
            <label class="control-label" for="field_reviewLevel">Review Level</label>
            <div class="input-group">
            	<input autocomplete="off" type="text" name="review_level" ng-model="vm.reviewLevel" class="form-control"
            		uib-typeahead="o as o.name for o in vm.reviewLevels | filter:{name:$viewValue} | limitTo:5">
            	<span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.addReviewLevel()"><i class="glyphicon glyphicon-plus"></i></button>
                </span>
            </div>
           	<div class="multi-values">
           		<label ng-repeat="reviewLevel in vm.user.reviewLevels" ng-click="vm.removeReviewLevel()">{{reviewLevel}}<span class="delete"><i class="glyphicon glyphicon-remove-sign"></i></span></label>
           	</div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_businessArea">Business Area</label>
            <div class="input-group">
            	<input autocomplete="off" type="text" name="business_area" ng-model="vm.businessArea" class="form-control"
            		uib-typeahead="o as o.name for o in vm.businessAreas | filter:{name:$viewValue} | limitTo:5">
            	<span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.addBusinessArea()"><i class="glyphicon glyphicon-plus"></i></button>
                </span>
            </div>
           	<div class="multi-values">
           		<label ng-repeat="businessArea in vm.user.businessAreas" ng-click="vm.removeBusinessArea()">{{businessArea}}<span class="delete"><i class="glyphicon glyphicon-remove-sign"></i></span></label>
           	</div>
        </div>  
        <div class="form-group">
            <label class="control-label" for="field_department">Department</label>
            
            <input type="text" class="form-control"
				name="department" ng-model="vm.user.department" ng-maxlength="50">

			<div ng-show="editForm.department.$invalid">
				<p class="help-block" ng-show="editForm.department.$error.maxlength">
					This field cannot be longer than 50 characters.</p>
			</div>
            
        </div>
		<div class="form-group">
			<label for="suspended"> <input
				ng-disabled="vm.user.id === null" type="checkbox" id="suspended"
				name="suspended" ng-model="vm.user.suspended"> <span>Suspended</span>
			</label>
		</div>
		<div class="form-group">
			<label for="locked"> <input ng-disabled="vm.user.id === null"
				type="checkbox" id="locked" name="locked" ng-model="vm.user.locked">
				<span>Locked</span>
			</label>
		</div>
		<div class="form-group">
			<label for="activated"> <input
				ng-disabled="vm.user.id === null" type="checkbox" id="activated"
				name="activated" ng-model="vm.user.activated"> <span>Activated</span>
			</label>
		</div>

		<div class="form-group">
			<label>Profiles</label> <select class="form-control" multiple
				name="authority" ng-model="vm.user.authorities"
				ng-options="authority for authority in vm.authorities">
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
