<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 no-pad text-right">
                <button class="btn btn-default" ui-sref="df-published-fare-rates.new">
                    <span>
                        Create new DF Published Fare Rates
                    </span>
                </button>
            </div>
		</div>
	</div>
	<br />
	<div class="table-wrapper">
		<div class="table-responsive">
			<table class="jh-table table table-striped">
				<thead>
					<tr jh-sort="vm.predicate" ascending="vm.reverse"
						callback="vm.transition()">
						<th jh-sort-by="id"><span>ID</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="postCountry"><span>Post Country</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="travelDateFrom"><span>Travel Date From</span>
							<span class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="travelDateTo"><span>Travel Date To</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="rate"><span>Rate</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="dFPublishedFareRates in vm.dFPublishedFareRates track by dFPublishedFareRates.id">
						<td>{{$index + 1}}</td>
						<td>{{dFPublishedFareRates.postCountry}}</td>
						<td>{{dFPublishedFareRates.travelDateFrom}}</td>
						<td>{{dFPublishedFareRates.travelDateTo}}</td>
						<td>{{dFPublishedFareRates.rate}}</td>
						<td class="text-right">
							<div class="btn-group flex-btn-group-container">
								<button type="submit"
									ui-sref="df-published-fare-rates.edit({id:dFPublishedFareRates.id})"
									class="btn btn-primary btn-sm">
									<span class="glyphicon glyphicon-pencil"></span> <span
										class="hidden-sm-down"></span>
								</button>
								<button type="submit"
									ui-sref="df-published-fare-rates.delete({id:dFPublishedFareRates.id})"
									class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove-circle"></span> <span
										class="hidden-sm-down"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="text-center">
		<jhi-item-count page="vm.page" total="vm.queryCount"
			items-per-page="vm.itemsPerPage"></jhi-item-count>
		<uib-pagination class="pagination-sm" total-items="vm.totalItems"
			items-per-page="vm.itemsPerPage" ng-model="vm.page"
			ng-change="vm.loadAll()"></uib-pagination>
	</div>
</div>
