<div class="content-title">
	<h2>Competitor Monitoring</h2>
	<jhi-alert></jhi-alert>
</div>
<div class="panel">
	<div class="panel-body">
		<div class="filter-hero">
			<div class="filter-label semibold show">Hide Filter</div>
			<div class="filter-area">
				<div class="clearfix">
					<form name="queryForm" role="form" novalidate>
						<div class="col-md-3">
							<div class="form-group">
								<div class="custom-label semibold">Carrier</div>
								<input type="text" class="form-control" name="carrier"
								id="carrier" ng-model="vm.queryParams.carrier" uppercase />
							</div>
							<div class="form-group">
								<div class="custom-label semibold">Origin Destination</div>
								<input type="text" class="form-control" name="origdest"
									id="origdest" ng-model="vm.queryParams.origin" uppercase />
							</div>
							<div class="form-group">
								<div class="custom-label semibold">OW/RT</div>
								<select class="form-control" name="owrt" id="owrt"
									ng-model="vm.queryParams.owrt">
									<option value="{{value.key}}"
										ng-repeat="value in vm.owrts track by $index">{{value.value}}</option>
								</select>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="col-md-6">
								<div class="form-group">
									<div class="custom-label semibold">GA Rule No</div>
									<input type="text" class="form-control" name="ruleNo"
										id="ruleNo" ng-model="vm.queryParams.ruleNo"
										uppercase />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="custom-label semibold">OC Rule No</div>
									<input type="text" class="form-control" name="ocRuleNo"
										id="ocRuleNo" ng-model="vm.queryParams.ocRuleNo"
										uppercase />
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
										<div class="custom-label semibold">Source</div>
										<select class="form-control" name="source" id="source" ng-init="vm.queryParams.source = 'A'" ng-model="vm.queryParams.source">
											<option value="{{value.key}}" ng-repeat="value in vm.sources track by $index">{{value.value}}</option>
										</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Fare Basis</div>
									<input type="text" class="form-control" name="fareBasis"
										id="fareBasis" ng-model="vm.queryParams.fareBasis" />
								</div>
							</div>
							
							
						</div>
						
						<div class="col-md-6">
							<div class="form-group absolute-datepicker">
								<div class="custom-label semibold">Public/Private</div>
								<select class="form-control  no-lpad" name="publicPrivate" id="publicPrivate" ng-model="vm.queryParams.publicPrivate">
									<option value="{{value.key}}" ng-repeat="value in vm.publicPrivate track by $index">{{value.value}}</option>
								</select>
							</div>
							<div class="form-group absolute-datepicker">
								<div class="custom-label semibold">Travel Date</div>
								<div class="row no-mar">
									<div class="col-md-4 no-lpad">
										<input type="text" class="form-control"
											ng-click="vm.openCalendar($event, 'travelDateFrom')"
											is-open="vm.datePickerOpenStatus['travelDateFrom']"
											datetime-picker="{{vm.dateFormat}}" enable-time="false"
											name="travelDateFrom" id="datepicker"
											ng-model="vm.queryParams.travelDateFrom" placeholder="From" />
									</div>
									<div class="col-md-4 no-lpad">
										<input type="text" class="form-control"
											ng-click="vm.openCalendar($event, 'travelDateTo')"
											is-open="vm.datePickerOpenStatus['travelDateTo']"
											datetime-picker="{{vm.dateFormat}}" enable-time="false"
											name="travelDateTo" id="datepicker"
											ng-model="vm.queryParams.travelDateTo" placeholder="To" />
									</div>
									<div class="col-md-4 no-pad">
										<select class="form-control" name="travelDateOption"
											id="travelDateOption"
											ng-init="vm.queryParams.travelDateOption = vm.dateOptions[0].key"
											ng-model="vm.queryParams.travelDateOption">
											<option value="{{value.key}}"
												ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group absolute-datepicker">
								<div class="custom-label semibold">Sale Date</div>
								<div class="row no-mar">
									<div class="col-md-4 no-lpad">
										<input type="text" class="form-control"
											ng-click="vm.openCalendar($event, 'saleDateFrom')"
											is-open="vm.datePickerOpenStatus['saleDateFrom']"
											datetime-picker="{{vm.dateFormat}}" enable-time="false"
											name="saleDateFrom" id="datepicker"
											ng-model="vm.queryParams.saleDateFrom" placeholder="From" />
									</div>
									<div class="col-md-4 no-lpad">
										<input type="text" class="form-control"
											ng-click="vm.openCalendar($event, 'saleDateTo')"
											is-open="vm.datePickerOpenStatus['saleDateTo']"
											datetime-picker="{{vm.dateFormat}}" enable-time="false"
											name="saleDateTo" id="datepicker"
											ng-model="vm.queryParams.saleDateTo" placeholder="To" />
									</div>
									<div class="col-md-4 no-pad">
										<select class="form-control" name="saleDateOption"
											id="saleDateOption"
											ng-init="vm.queryParams.saleDateOption = vm.dateOptions[0].key"
											ng-model="vm.queryParams.saleDateOption">
											<option value="{{value.key}}"
												ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="pull-left col-md-6 no-lpad">
									<div class="checkbox-wrapper">
										<label> <input type="checkbox"
											name="includeConstructed"
											ng-model="vm.queryParams.includeConstructed"
											ng-disabled="true"> Calculate TFC
										</label> 
										<label> <input type="checkbox" name="appendResults"
											ng-model="vm.queryParams.appendResults" disabled="disabled">
											Lowest level only
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 clearfix">
							<div class="pull-right pv1">
								
								<button type="button" class="btn btn-default small mb1"
									ng-click="vm.loadAll()">Query</button>
								<button type="button" class="btn btn-default small mb1"
									ng-click="vm.generateGraph(vm.compMonitoring)"
									ng-disabled="vm.compMonitoring.length == 0 || vm.compMonitoring == null">Generate
									Chart</button>
								<button type="reset" ng-click="vm.reset()"
									class="btn btn-default small mb1">Reset</button>
								
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="table-wrapper table-afd" ng-if="vm.compMonitoring.length > 0">
			<div class="datatable-wrapper form-inline">
				<div class="table-responsive" style="overflow-y:hidden; max-height: initial; padding-bottom: 0">
					<div class="absolute-table">
						<table class="table table-striped table-bordered datatable table-header-fixed">
							<thead>
								<tr>
									<th  class="th-fixed">NO</th>
									<th  class="th-fixed">CARRIER</th>
									<th  class="th-fixed">TARIFF CODE</th>
									<th  class="th-fixed">TARIFF NO</th>
									<th  class="th-fixed">ORIG-DEST</th>
									<th  class="th-fixed">TRAVEL START</th>
									<th  class="th-fixed">TRAVEL END</th>
									<th  class="th-fixed">SALE START</th>
									<th  class="th-fixed">SALE END</th>
									<th  class="th-fixed">CABIN</th>
									<th  class="th-fixed">BOOKING CLASS</th>
									<th  class="th-fixed">OW / RT</th>
									<th  class="th-fixed">RULE NO</th>
									<th  class="th-fixed">SOURCE</th>
									<th  class="th-fixed">FARE CLASS</th>
									<th  class="th-fixed">CURR</th>
									<th  class="th-fixed">AMOUNT</th>
	<!-- 								<th ng-if="vm.showTFC">Error</th> -->
	<!-- 								<th ng-if="vm.showTFC">TFC Calc Date</th> -->
	<!-- 								<th ng-if="vm.showTFC">TFC Focus Date</th> -->
	<!-- 								<th ng-if="vm.showTFC">YQYR</th> -->
	<!-- 								<th ng-if="vm.showTFC">Taxes</th> -->
	<!-- 								<th  class="th-fixed">TFC <span ng-click="vm.showTFC = !vm.showTFC"><i -->
	<!-- 										ng-if="vm.showTFC" class="glyphicon glyphicon-minus"></i><i -->
	<!-- 										ng-if="!vm.showTFC" class="glyphicon glyphicon-plus"></i></span></th> -->
								</tr>
							</thead>
							<tbody id="tbody-afd" style="overflow-x:hidden">
								<tr class="tr-afd" 
								 ng-repeat="afdQuery in vm.compMonitoring track by afdQuery.fareId" ng-click="vm.selectedRow = afdQuery;"
									ng-class="{'selected': vm.selectedRow == afdQuery}">
									<td><a ui-sref="system-parameter-detail({id:afdQuery.id})">{{($index + 1)+((vm.page-1)*vm.itemsPerPage) }}</a></td>
									<td>{{afdQuery.carrierCode}}</td>
									<td>{{afdQuery.tariffCode}}</td>
									<td>{{afdQuery.tariffNo}}</td>
									<td>{{afdQuery.originCity}}-{{afdQuery.destinationCity}}</td>
									<td><span ng-if="afdQuery.travelStartDate != 'indef'">{{afdQuery.firstTravelDate
											| date:'ddMMMyyyy'}}</span></td>
									<td><span ng-if="afdQuery.travelEndDate != 'indef'">{{afdQuery.lastTravelDate
											| date:'ddMMMyyyy'}}</span></td>
									<td><span ng-if="afdQuery.saleStartDate != 'indef'">{{afdQuery.firstSaleDate
											| date:'ddMMMyyyy'}}</span></td>
									<td><span ng-if="afdQuery.saleEndDate != 'indef'">{{afdQuery.lastSaleDate
											| date:'ddMMMyyyy'}}</span></td>
									<td>{{afdQuery.cabin}}</td>
									<td><span ng-repeat="value in afdQuery.bookingClass track by $index">{{value}}<span ng-if="$index < afdQuery.bookingClass.length - 1">, </span></span></td>
									<td><span ng-if="afdQuery.owrt == '1'">OW</span><span
										ng-if="afdQuery.owrt == '2'">RT</span><span
										ng-if="afdQuery.owrt == '3'">OO</span></td>
									<td>{{afdQuery.ruleNo}}</td>
									<td>{{afdQuery.source}}</td>
									<td>{{afdQuery.fareClassCode}}</td>
									<td>{{afdQuery.currencyCode}}</td>
									<td>{{afdQuery.baseAmount}}</td>
	<!-- 								<td ng-if="vm.showTFC">=TFC=</td> -->
	<!-- 								<td ng-if="vm.showTFC">=TFC=</td> -->
	<!-- 								<td ng-if="vm.showTFC">=TFC=</td> -->
	<!-- 								<td ng-if="vm.showTFC">=TFC=</td> -->
	<!-- 								<td ng-if="vm.showTFC">=TFC=</td> -->
	<!-- 								<td>=TFC=</td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="text-center" ng-if="vm.compMonitoring.length > 0">
			<div class="form-group">
				<span ng-if="vm.compMonitoring.length < 2000">Showing {{vm.totalItems}} items.</span>
				<span ng-if="vm.compMonitoring.length == 2000" style="color:red">Maximum items exceeded. Showing {{vm.totalItems}} items.</span>
			</div>
			<br/>
		
			<div id="chartOptions" class="form-inline mb2" hidden="hidden" ng-if="vm.compMonitoring.length > 0">  
	           <div class="form-group" style="margin-left:10px; margin-bottom:10px; !important">
	            <label for="barThickness">Bar Thickness : </label>
	           <input id="barThickness" ng-model="vm.barThickness" type="text" class="number-only"></input>
	          </div> 
	
	          <div class="form-group" style="margin-left:10px; margin-bottom:10px; !important">
	            <label for="barOpacity">Bar Opacity : </label>
	           <input id="barOpacity" ng-model="vm.barOpacity" type="text" class="number-only"></input>
	          </div> 
	          
	          <div class="form-group" style="margin-left:10px; margin-bottom:10px; !important">
	          
	            <button type="button" class="btn btn-default small" ng-click="vm.generateGraph(vm.compMonitoring)">Re-Generate</button>
	            </div>
	        </div>
        
		</div>
		
		
        <div id="containerTitle" class="text-center wrapper-location mb1" hidden="hidden" ng-if="vm.compMonitoring.length > 0">
        	<div class="monitoring-location"><span>{{vm.queryParams.origin}}</span></div>
        </div>
		
		<div id="container" class="col-md-12 no-pad" style="height:600px;" hidden="hidden" ng-if="vm.compMonitoring.length > 0"></div>
		
		<div id="containerLegend" ng-if="vm.compMonitoring.length > 0" hidden="hidden" style="margin : 10px;">
			<div class="custom-label semibold">Color Legend : </div>
			<br/>
			<table>
				<tbody>
					<tr>
						<td valign="middle"><div style="background-color:red; width:50px; height:12px; float: left; margin-right:15px"></div><label>Y</label></td>
					</tr>
						
					<tr>
						<td valign="middle"><div style="background-color:green; width:50px; height:12px; float: left; margin-right:15px"></div><label>W</label></td>
					</tr>
					<tr>
						<td valign="middle"><div style="background-color:blue; width:50px; height:12px; float: left; margin-right:15px"></div><label>F</label></td>
					</tr>
					<tr>
						<td valign="middle"><div style="background-color:yellow; width:50px; height:12px; float: left; margin-right:15px"></div><label>J</label></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>