<div class="content-title">
	<h2>YQ/YR Query</h2>
	<jhi-alert></jhi-alert>
</div>

<div class="panel">
	<div class="panel-body">
		<div class="filter-hero">
			<div class="filter-label semibold show">Hide Filter</div>
			<div class="filter-area">
				<div class="clearfix">
					<form name="queryForm" role="form" novalidate>
						<div class="col-md-12 no-pad">
							<div class="col-md-3">	
						     	<div class="form-group">
									<div class="custom-label semibold">Carrier</div>
									<input type="text" class="form-control" name="carrier" id="carrier" ng-model="vm.queryParams.carrier" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Point of Sale</div>
									<input type="text" class="form-control" name="pointOfSale" id="pointOfSale" ng-model="vm.queryParams.pointOfSale" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Point of Ticketing</div>
									<input type="text" class="form-control" name="pointOfTicketing" id="pointOfTicketing" ng-model="vm.queryParams.pointOfTicketing" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Travel Date</div>
									<div class="absolute-datepicker">
										<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'travelDate')" 
											is-open="vm.datePickerOpenStatus['travelDate']" datetime-picker="{{vm.dateFormat}}" 
											enable-time="false" name="travelDate" id="datepicker" 
											ng-model="vm.travelDate"/>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Ticketing Date</div>
									<div class="absolute-datepicker">
										<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'ticketingDate')" 
										is-open="vm.datePickerOpenStatus['ticketingDate']" datetime-picker="{{vm.dateFormat}}" 
										enable-time="false" name="ticketingDate" id="datepicker" 
										ng-model="vm.ticketingDate"/>
									</div>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Origin</div>
									<span class="input-group">
										<input type="text" class="form-control" name="origin" id="origin" ng-model="vm.queryParams.origin" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Origin')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Destination</div>
									<span class="input-group">
										<input type="text" class="form-control" name="destination" id="destination" ng-model="vm.queryParams.destination" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Destination')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Via</div>
									<span class="input-group">
										<input type="text" class="form-control" name="via" id="via" ng-model="vm.queryParams.via" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Via')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Apply As</div>
									<select class="form-control" name="applyAs" id="applyAs" ng-model="vm.queryParams.applyAs" ng-init="vm.queryParams.applyAs = vm.applyAs[0].key">
										<option value="{{value.key}}" ng-repeat="value in vm.applyAs track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Val Carrier</div>
									<input type="text" class="form-control" name="valCarrier" id="valCarrier" ng-model="vm.queryParams.valCarrier" uppercase/>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Fare Class</div>
									<input type="text" class="form-control" name="fareClass" id="fareClass" ng-model="vm.queryParams.fareClass" farebasis/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Booking Class</div>
									<input type="text" class="form-control" name="bookingClass" id="bookingClass" ng-model="vm.queryParams.bookingClass"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Pax Type</div>
									<select class="form-control" name="paxType" id="paxType" ng-model="vm.queryParams.paxType">
										<option value="{{value.code}}" ng-repeat="value in vm.paxTypes track by $index">{{value.code}} - {{value.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">POS Code</div>
									<input type="text" class="form-control" name="posCode" id="posCode" ng-model="vm.queryParams.posCode"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Op Carrier</div>
									<input type="text" class="form-control" name="opCarrier" id="opCarrier" ng-model="vm.queryParams.opCarrier" uppercase/>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Ticket Designator</div>
									<input type="text" class="form-control" name="ticketDesignator" id="ticketDesignator" ng-model="vm.queryParams.ticketDesignator"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Flight Number</div>
									<input type="text" class="form-control" name="flightNumber" id="flightNumber" ng-model="vm.queryParams.flightNumber"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Equipment</div>
									<input type="text" class="form-control" name="equipment" id="equipment" ng-model="vm.queryParams.equipment"/>
								</div>
							</div>
							<div class="clearfix">
								<div class="pull-right pv1">
									<button type="button" class="btn btn-default small" ng-click="vm.query()" id="btn-afd-query">Query</button>
									<button type="reset" ng-click="vm.reset()" class="btn btn-default small">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="table-wrapper table-afd mb2">
			<div class="datatable-wrapper form-inline">
				<div class="table-responsive" style="overflow-y:hidden; max-height: initial; padding-bottom: 0">
					<div class="absolute-table">
						<table class="table table-striped table-bordered datatable table-header-fixed">
				            <thead class="thead-fixed">
				                <tr>
				                	<th class="th-fixed">ID</th>
				                    <th class="th-fixed">Carrier</th>
				                    <th class="th-fixed">TC</th>
				                    <th class="th-fixed">SC</th>
				                    <th class="th-fixed">Sequence</th>
				                    <th class="th-fixed">Fee Amount</th>
				                    <th class="th-fixed">Currency</th>
				                    <th class="th-fixed">Fee Percentage</th>
				                   	<th class="th-fixed">Fee Include Tax</th>
				                   	<th class="th-fixed">Fee Application</th>
				                   	<th class="th-fixed">Journey Direction</th>
				                   	<th class="th-fixed">Journey Loc 1</th>
				                   	<th class="th-fixed">Journey Loc 2</th>
				                   	<th class="th-fixed">Journey Via</th>
				                   	<th class="th-fixed">Journey Wholly Within</th>
				                   	<th class="th-fixed">Return To Origin</th>
				                   	<th class="th-fixed">Sector/Portion Flag</th>
				                   	<th class="th-fixed">Sector Direction</th>
				                   	<th class="th-fixed">Sector Loc 1</th>
				                   	<th class="th-fixed">Sector Loc 2</th>
				                   	<th class="th-fixed">Sector Via</th>
				                   	<th class="th-fixed">Stopover/Connection</th>
				                   	<th class="th-fixed">Connection Max Time</th>
				                   	<th class="th-fixed">Connections Exempt</th>
				                   	<th class="th-fixed">International/Domestic</th>
				                   	<th class="th-fixed">Point of Sale</th>
				                   	<th class="th-fixed">Point of Sale Code</th>
				                   	<th class="th-fixed">Point of Ticketing</th>
				                   	<th class="th-fixed">Pax Type</th>
				                   	<th class="th-fixed">RBD</th>
				                   	<th class="th-fixed">Fare Class</th>
				                   	<th class="th-fixed">Ticket Designator</th>
				                   	<th class="th-fixed">Carrier/Flight Application</th>
				                   	<th class="th-fixed">Val Carrier</th>
				                   	<th class="th-fixed">Equipment</th>
				                   	<th class="th-fixed">Travel Eff Date</th>
				                   	<th class="th-fixed">Travel Disc Date</th>
				                   	<th class="th-fixed">Ticket Eff Date</th>
				                   	<th class="th-fixed">Ticket Disc Date</th>
				                   	<th class="th-fixed">Comment</th>
				                </tr>
				         	</thead>
				         	<tbody id="tbody-afd" class="tbody-fixed">
				                <tr class="tr-afd" ng-repeat="yqyr in vm.yqyrs track by yqyr.id" ng-click="vm.selectedYqyr = yqyr" ng-class="{'selected': vm.selectedYqyr == yqyr}">
				                    <td>{{$index + 1}}</td>
				                    <td>{{yqyr.carrierCode}}</td>
				                    <td>{{yqyr.tc}}</td>
				                    <td>{{yqyr.sc}}</td>
				                    <td>{{yqyr.sequenceInt}}</td>
				                    <td><span ng-if="yqyr.feeAmount != 0">{{yqyr.feeAmount}}</span></td>
				                    <td>{{yqyr.currencyCode}}</td>
				                    <td><span ng-if="yqyr.feePct != 0">{{yqyr.feePct}}%</span></td>
				                    <td><span ng-if="yqyr.feeIncludeTax"><i class="glyphicon glyphicon-ok"></i></span></td>
				                    <td>{{yqyr.feeApplication}}</td>
				                    <td>{{yqyr.journeyDirection}}</td>
				                    <td>{{yqyr.journeyLoc1 | limitTo: 25}}<span ng-if="yqyr.journeyLoc1.length >= 25">...</span></td>
				                    <td>{{yqyr.journeyLoc2 | limitTo: 25}}<span ng-if="yqyr.journeyLoc2.length >= 25">...</span></td>
				                    <td>{{yqyr.journeyVia | limitTo: 25}}<span ng-if="yqyr.journeyVia.length >= 25">...</span></td>
				                    <td>{{yqyr.journeyWhollyWithin | limitTo: 25}}<span ng-if="yqyr.journeyWhollyWithin.length > 25">...</span></td>
				              		<td>{{yqyr.returnToOrigin}}</td>
				              		<td>{{yqyr.sectorPortionFlag}}</td>
				              		<td>{{yqyr.sectorDirection}}</td>
				              		<td>{{yqyr.sectorLoc1 | limitTo: 25}}<span ng-if="yqyr.sectorLoc1.length >= 25">...</span></td>
				              		<td>{{yqyr.sectorLoc2 | limitTo: 25}}<span ng-if="yqyr.sectorLoc2.length >= 25">...</span></td>
				              		<td>{{yqyr.sectorVia | limitTo: 25}}<span ng-if="yqyr.sectorVia.length >= 25">...</span></td>
				              		<td>{{yqyr.stopoverConnection}}</td>
				              		<td>{{yqyr.connectionMaxTime}}</td>
				              		<td><span ng-if="yqyr.connectionsExempt"><i class="glyphicon glyphicon-ok"></i></span></td>
				              		<td>{{yqyr.internationalDomestic}}</td>
				              		<td>{{yqyr.pointOfSale | limitTo: 25}}<span ng-if="yqyr.pointOfSale.length >= 25">...</span></td>
				              		<td>{{yqyr.pointOfSaleCode}}</td>
				              		<td>{{yqyr.pointOfTicketing | limitTo: 25}}<span ng-if="yqyr.pointOfTicketing.length >= 25">...</span></td>
				              		<td>{{yqyr.paxType}}</td>
				              		<td>{{yqyr.rbd}}</td>
				              		<td>{{yqyr.fareClass}}</td>
				              		<td>{{yqyr.ticketDesignator}}</td>
				              		<td>{{yqyr.carrierFlightApplication | limitTo: 25}}<span ng-if="yqyr.carrierFlightApplication.length >= 25">...</span></td>
				              		<td>{{yqyr.valCarrierCode | limitTo: 25}}<span ng-if="yqyr.valCarrierCode.length >= 25">...</span></td>
				              		<td>{{yqyr.equipment}}</td>
				              		<td><span ng-if="yqyr.travelEffDate != null && yqyr.travelEffDate != 'indef'">{{yqyr.travelEffDate | date:vm.dateFormat:vm.timezone}}</span></td>
				              		<td>
				              			<span ng-if="yqyr.travelDiscDate != null && yqyr.travelDiscDate != 'indef'">{{yqyr.travelDiscDate | date:vm.dateFormat:vm.timezone}}</span>
				              			<span ng-if="yqyr.travelDiscDate == 'indef'">NONE</span>
				              		</td>
				              		<td><span ng-if="yqyr.ticketEffDate != null && yqyr.ticketEffDate != 'indef'">{{yqyr.ticketEffDate | date:vm.dateFormat:vm.timezone}}</span></td>
				              		<td><span ng-if="yqyr.ticketDiscDate != null && yqyr.ticketDiscDate != 'indef'">{{yqyr.ticketDiscDate | date:vm.dateFormat:vm.timezone}}</span></td>
				              		<td>{{yqyr.comment | limitTo: 25}}<span ng-if="yqyr.comment.length >= 25">...</span></td>
				         		</tr>
				         		<tr infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.disableInfiniteScroll || vm.isLastPage || vm.isLoading" infinite-scroll-container="'#tbody-afd'"></tr>
				        	</tbody>
				       	</table>
				   	</div>
				   	<div class="text-center fixed-wrapper-inside">
						<div class="spinner" ng-if="vm.isLoading">
							<div class="rect1"></div>
							<div class="rect2"></div>
							<div class="rect3"></div>
							<div class="rect4"></div>
							<div class="rect5"></div>
						</div>
						<div class="center-div" ng-if="(vm.noDataAvailable || vm.yqyrs.length == 0) && !vm.isLoading">No Data Available</div>
						<div class="center-div" ng-if="vm.isLastPage && !vm.noDataAvailable">You have reached the end of the page &nbsp;<i style="font-size: 8px !important; top: 0" class="glyphicon glyphicon-chevron-up"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix" ng-if="vm.selectedYqyr != null">
			<div class="pull-left col-md-6 no-pad">
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Sub ID</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.subId}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Carrier</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.carrierCode}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Tax Code</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.tc}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Tax Sub Code</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.sc}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Sequence</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.sequenceInt}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Fee</div>
					<div class="col-md-6 no-pad"><span ng-if="vm.selectedYqyr.feeAmount == 0">FREE</span><span ng-if="vm.selectedYqyr.feeAmount != 0">{{vm.selectedYqyr.feeAmount}} {{vm.selectedYqyr.currencyCode}}</span></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Fee Percentage</div>
					<div class="col-md-6 no-pad"><span ng-if="vm.selectedYqyr.feePct != 0">{{vm.selectedYqyr.feePct}}%</span></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Fee Include Tax</div>
					<div class="col-md-6 no-pad"><span ng-if="vm.selectedYqyr.feeIncludeTax"><i class="glyphicon glyphicon-ok"></i></span></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Fee Application</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.feeApplication}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Pax Type</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.paxType}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">RBD</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.rbd}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Fare Class</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.fareClass}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Ticket Designator</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.ticketDesignator}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Journey Direction</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.journeyDirection}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Journey Loc 1</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.journeyLoc1 != null && vm.selectedYqyr.journeyLoc1 != ''">{{vm.selectedYqyr.journeyLoc1}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Journey Loc 2</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.journeyLoc2 != null && vm.selectedYqyr.journeyLoc2 != ''">{{vm.selectedYqyr.journeyLoc2}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Journey Via</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.journeyVia != null && vm.selectedYqyr.journeyVia != ''">{{vm.selectedYqyr.journeyVia}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Journey Wholly Within</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.journeyWhollyWithin != null && vm.selectedYqyr.journeyWhollyWithin != ''">{{vm.selectedYqyr.journeyWhollyWithin}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Return To Origin</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.returnToOrigin}}</div>
				</div>
				
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Comment</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.comment != null && vm.selectedYqyr.comment != ''">{{vm.selectedYqyr.comment}}</pre></div>
				</div>
			</div>
			<div class="pull-left col-md-5 col-md-offset-1 no-pad">
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Sector/Portion Flag</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.sectorPortionFlag}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Sector Direction</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.sectorDirection}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Sector Loc 1</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.sectorLoc1 != null && vm.selectedYqyr.sectorLoc1 != ''">{{vm.selectedYqyr.sectorLoc1}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Sector Loc 2</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.sectorLoc2 != null && vm.selectedYqyr.sectorLoc2 != ''">{{vm.selectedYqyr.sectorLoc2}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Sector Via</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.sectorVia != null && vm.selectedYqyr.sectorVia != ''">{{vm.selectedYqyr.sectorVia}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Stopover/Connection</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.stopoverConnection}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Connection Max Time</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.connectionMaxTime}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Connections Exempt</div>
					<div class="col-md-6 no-pad"><span ng-if="vm.selectedYqyr.connectionsExempt"><i class="glyphicon glyphicon-ok"></i></span></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">International/Domestic</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.internationalDomestic}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Point of Sale</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.pointOfSale != null && vm.selectedYqyr.pointOfSale != ''">{{vm.selectedYqyr.pointOfSale}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Point of Sale Code</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.pointOfSaleCode}}</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Point of Ticketing</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.pointOfTicketing != null && vm.selectedYqyr.pointOfTicketing != ''">{{vm.selectedYqyr.pointOfTicketing}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Travel Dates</div>
					<div class="col-md-6 no-pad">
						<span ng-if="vm.selectedYqyr.travelEffDate != null && vm.selectedYqyr.travelEffDate != 'indef'">{{vm.selectedYqyr.travelEffDate | date:vm.dateFormat:vm.timezone}}</span>
						to 
						<span ng-if="vm.selectedYqyr.travelDiscDate != null && vm.selectedYqyr.travelDiscDate != 'indef'">{{vm.selectedYqyr.travelDiscDate | date:vm.dateFormat:vm.timezone}}</span>
              			<span ng-if="vm.selectedYqyr.travelDiscDate == 'indef'">NONE</span>
					</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Ticket Dates</div>
					<div class="col-md-6 no-pad">
						<span ng-if="vm.selectedYqyr.ticketEffDate != null && vm.selectedYqyr.ticketEffDate != 'indef'">{{vm.selectedYqyr.ticketEffDate | date:vm.dateFormat:vm.timezone}}</span>
						<span ng-if="vm.selectedYqyr.ticketEffDate == 'indef'">NONE</span>
						to 
						<span ng-if="vm.selectedYqyr.ticketDiscDate != null && vm.selectedYqyr.ticketDiscDate != 'indef'">{{vm.selectedYqyr.ticketDiscDate | date:vm.dateFormat:vm.timezone}}</span>
              			<span ng-if="vm.selectedYqyr.ticketDiscDate == 'indef'">NONE</span>
					</div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Carrier/Flight Application</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.carrierFlightApplication != null && vm.selectedYqyr.carrierFlightApplication != ''">{{vm.selectedYqyr.carrierFlightApplication}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Val Cxr</div>
					<div class="col-md-6 no-pad"><pre ng-if="vm.selectedYqyr.valCarrierCode != null && vm.selectedYqyr.valCarrierCode != ''">{{vm.selectedYqyr.valCarrierCode}}</pre></div>
				</div>
				<div class="detail-group">
					<div class="header col-md-6 no-pad">Equipment</div>
					<div class="col-md-6 no-pad">{{vm.selectedYqyr.equipment}}</div>
				</div>
			</div>
		</div>
	</div>
</div>