<div class="content-title">
	<h2>YQ/YR Query</h2>
	<jhi-alert></jhi-alert>
</div>

<div class="panel">
	<div class="panel-body">
		<div class="filter-hero">
			<div class="filter-label semibold show">Hide Filter</div>
			<div class="filter-area">
				<div class="clearfix">
					<form name="queryForm" role="form" novalidate>
						<div class="col-md-12 no-pad">
							<div class="col-md-3">	
						     	<div class="form-group">
									<div class="custom-label semibold">Carrier</div>
									<input type="text" class="form-control" name="carrier" id="carrier" ng-model="vm.queryParams.carrier" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Point of Sale</div>
									<input type="text" class="form-control" name="pointOfSale" id="pointOfSale" ng-model="vm.queryParams.pointOfSale" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Point of Ticketing</div>
									<input type="text" class="form-control" name="pointOfTicketing" id="pointOfTicketing" ng-model="vm.queryParams.pointOfTicketing" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Travel Date</div>
									<div class="absolute-datepicker">
										<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'travelDate')" 
											is-open="vm.datePickerOpenStatus['travelDate']" datetime-picker="{{vm.dateFormat}}" 
											enable-time="false" name="travelDate" id="datepicker" 
											ng-model="vm.travelDate"/>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Ticketing Date</div>
									<div class="absolute-datepicker">
										<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'ticketingDate')" 
										is-open="vm.datePickerOpenStatus['ticketingDate']" datetime-picker="{{vm.dateFormat}}" 
										enable-time="false" name="ticketingDate" id="datepicker" 
										ng-model="vm.ticketingDate"/>
									</div>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Origin</div>
									<span class="input-group">
										<input type="text" class="form-control" name="origin" id="origin" ng-model="vm.queryParams.origin" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Origin')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Destination</div>
									<span class="input-group">
										<input type="text" class="form-control" name="destination" id="destination" ng-model="vm.queryParams.destination" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Destination')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Via</div>
									<span class="input-group">
										<input type="text" class="form-control" name="via" id="via" ng-model="vm.queryParams.via" uppercase/>
										<span class="input-group-addon" ng-click="$event.stopPropagation(); vm.selectCity('Via')">
											<i class="fa fa-folder"></i>
										</span>
									</span>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Apply As</div>
									<select class="form-control" name="applyAs" id="applyAs" ng-model="vm.queryParams.applyAs" ng-init="vm.queryParams.applyAs = vm.applyAs[0].key">
										<option value="{{value.key}}" ng-repeat="value in vm.applyAs track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Val Carrier</div>
									<input type="text" class="form-control" name="valCarrier" id="valCarrier" ng-model="vm.queryParams.valCarrier" uppercase/>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Fare Class</div>
									<input type="text" class="form-control" name="fareClass" id="fareClass" ng-model="vm.queryParams.fareClass" farebasis/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Booking Class</div>
									<input type="text" class="form-control" name="bookingClass" id="bookingClass" ng-model="vm.queryParams.bookingClass"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Pax Type</div>
									<select class="form-control" name="paxType" id="paxType" ng-model="vm.queryParams.paxType">
										<option value="{{value.code}}" ng-repeat="value in vm.paxTypes track by $index">{{value.code}} - {{value.name}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">POS Code</div>
									<input type="text" class="form-control" name="posCode" id="posCode" ng-model="vm.queryParams.posCode"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Op Carrier</div>
									<input type="text" class="form-control" name="opCarrier" id="opCarrier" ng-model="vm.queryParams.opCarrier" uppercase/>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Ticket Designator</div>
									<input type="text" class="form-control" name="ticketDesignator" id="ticketDesignator" ng-model="vm.queryParams.ticketDesignator"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Flight Number</div>
									<input type="text" class="form-control" name="flightNumber" id="flightNumber" ng-model="vm.queryParams.flightNumber"/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Equipment</div>
									<input type="text" class="form-control" name="equipment" id="equipment" ng-model="vm.queryParams.equipment"/>
								</div>
							</div>
							<div class="clearfix">
								<div class="pull-right pv1">
									<button type="button" class="btn btn-default small" ng-click="vm.query()" id="btn-afd-query">Query</button>
									<button type="reset" ng-click="vm.reset()" class="btn btn-default small">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="table-wrapper table-afd mb2">
			<div class="datatable-wrapper form-inline">
				<div class="table-responsive" style="overflow-y:hidden; max-height: initial; padding-bottom: 0">
					<div class="absolute-table">
						<table class="table table-striped table-bordered datatable table-header-fixed">
				            <thead>
				                <tr>
				                	<th class="th-fixed">ID</th>
				                    <th class="th-fixed">Carrier</th>
				                </tr>
				         	</thead>
				         	<tbody id="tbody-afd">
				                <tr class="tr-afd" ng-repeat="yqyr in vm.yqyrs track by yqyr.id" ng-click="vm.setSelectedRow($index, yqyr)" ng-class="{'selected': vm.selectedRows[$index] == yqyr}">
				                    <td>{{$index + 1}}</td>
				                    <td>{{yqyr.carrierCode}}</td>
				         		</tr>
				        	</tbody>
				       	</table>
				   	</div>
				</div>
			</div>
		</div>
	</div>
</div>