
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMasterTariffDomesticLabel">Create or edit a Master Tariff Domestic</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group mb0" ng-show="vm.masterTariffDomestic.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.masterTariffDomestic.id" readonly />
        </div>
        <div class="clearfix">
        	<h5 class="control-label">Fare Tariff</h5>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_fareTariffName">Name</label>
					<input type="text" class="form-control" name="fareTariffName" id="field_fareTariffName"
	                		ng-model="vm.masterTariffDomestic.fareTariff.name"/>
				</div>
        	</div>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_fareTariffCode">Code</label>
					<input type="text" class="form-control" name="fareTariffCode" id="field_fareTariffCode"
                   			ng-model="vm.masterTariffDomestic.fareTariff.code"/>
				</div>
     		</div>
        </div>
        <div class="clearfix">
        	<h5 class="control-label">Rule Tariff</h5>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_ruleTariffName">Name</label>
					<input type="text" class="form-control" name="ruleTariffName" id="field_ruleTariffName"
	                    ng-model="vm.masterTariffDomestic.ruleTariff.name"/>
				</div>
        	</div>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_ruleTariffCode">Code</label>
					<input type="text" class="form-control" name="ruleTariffCode" id="field_ruleTariffCode"
	                    ng-model="vm.masterTariffDomestic.ruleTariff.code"/>
				</div>
     		</div>
        </div>
        <div class="clearfix">
        	<h5 class="control-label">General Rules</h5>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_generalRulesName">Name</label>
					<div class="input-group">
						<input type="text" class="form-control" name="generalRulesName" id="field_generalRulesName"
		                    ng-model="vm.generalRulesName"
		                    uib-typeahead="o.name as o.generalRulesName for o in vm.masterTariffDomestic.generalRules | limitTo:5"/>
						<span class="input-group-addon" ng-click="vm.addGeneralRulesName()">
							<i class="fa fa-plus"></i>
						</span>
					</div>
				</div>
        	</div>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_generalRulesCode">Code</label>
					<div class="input-group">
						<input type="text" class="form-control" name="generalRulesCode" id="field_generalRulesCode"
		                    ng-model="vm.generalRulesCode"
		                    uib-typeahead="o.code as o.generalRulesCode for o in vm.masterTariffDomestic.generalRules | limitTo:5"/>
						<span class="input-group-addon" ng-click="vm.addGeneralRulesCode()">
							<i class="fa fa-plus"></i>
						</span>
					</div>
				</div>
     		</div>
        </div>
        <div class="clearfix">
        	<h5 class="control-label">Arbitary Tariff</h5>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_arbitaryTariffName">Name</label>
					<input type="text" class="form-control" name="arbitaryTariffName" id="field_arbitaryTariffName"
	                    ng-model="vm.masterTariffDomestic.arbitaryTariff.name"/>
				</div>
        	</div>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_arbitaryTariffCode">Code</label>
					<input type="text" class="form-control" name="arbitaryTariffCode" id="field_arbitaryTariffCode"
	                    ng-model="vm.masterTariffDomestic.arbitaryTariff.code"/>
				</div>
     		</div>
        </div>
        <div class="clearfix mb1">
        	<h5 class="control-label">Routing Tariff</h5>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_routingTariffName">Name</label>
					<input type="text" class="form-control" name="routingTariffName" id="field_routingTariffName"
	                    ng-model="vm.masterTariffDomestic.routingTariff.name"/>
				</div>
        	</div>
        	<div class="pull-left w50 ph5px">
        		<div class="form-group mb0">
					<label class="control-label" for="field_routingTariffCode">Code</label>
					<input type="text" class="form-control" name="routingTariffCode" id="field_routingTariffCode"
	                    ng-model="vm.masterTariffDomestic.routingTariff.code"/>
				</div>
     		</div>
        </div>
        
        <div class="ph5px">
        	<div class="form-group mb0">
	            <label class="control-label" for="field_gfsGlobalArea">Gfs Global Area</label>
	            <input type="text" class="form-control" name="gfsGlobalArea" id="field_gfsGlobalArea"
	                    ng-model="vm.masterTariffDomestic.gfsGlobalArea"/>
	        </div>
	        <div class="form-group mb0">
	            <label class="control-label" for="field_area">Area</label>
	            <input type="text" class="form-control" name="area" id="field_area"
	                    ng-model="vm.masterTariffDomestic.area"/>
	        </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>