<div>
	<div class="sideBar-push" >
		<nav class="sideBar sideBar-vertical sideBar-left" id="sideBar-s1">
			<!-- logo wrapper -->
			<div class="logo-wrapper">
				<h1  ui-sref="home">FMP</h1>
				<a ui-sref="home" class="dashboard">
					<i class="fa fa-home"></i>
				</a>
			</div>

			<!-- search  -->
			<div class="search-wrap">
				<i class="fa fa-search"></i>
				<input type="text" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'" value="" name="keywords" id="keywords" maxlength="60">
			</div>

			<!-- left menu -->
			<!-- left menu -->
		<ul>
		    <li class="menu-list has-sub">
		    	<a>
		    		<i class="fa fa-file-text"></i><span>Work Queue</span>
		    	</a>
		    	<div class="sub-menu">
		    		<ul>
		    		    <li>
		    		    	<a ui-sref="work-package" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Work Order</a>
		    		    </li>
		    		</ul>
		    	</div>
		    	<div class="tooltip">Work Order</div>
		    </li>
		    <li class="menu-list has-sub">
		    	<a>
		    		<i class="fa fa-list-alt"></i><span>Query</span>
		    	</a>
		    	<div class="sub-menu">
		    		<ul>
		    		    <li>
		    		    	<a ui-sref="afd-query" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> AFD Query </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="footnote-query" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Footnote Query</a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="rule-query" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Rule Query </a>
		    		    </li>
<!-- 		    		    <li> -->
<!-- 		    		    	<a ui-sref="yqyr-query" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> YQ/YR Query </a> -->
<!-- 		    		    </li> -->
						<li>
		    		    	<a ui-sref="routingquery" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Routing Query </a>
		    		    </li>
		    		</ul>
		    	</div>
		    	<div class="tooltip">Query</div>
		    </li>
		    <li class="menu-list has-sub">
		    	<a>
		    		<i class="fa fa-file-text"></i><span>Competitor Monitoring</span>
		    	</a>
		    	<div class="sub-menu">
		    		<ul>
		    		    <li>
		    		    	<a ui-sref="competitor-monitoring" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Competitor Monitoring</a>
		    		    </li>
		    		</ul>
		    	</div>
		    	<div class="tooltip">Competitor Monitoring</div>
		    </li>
		    <li class="menu-list" ng-click="vm.toggleMenu($event)">
		    	<a href="#" class="linkClick">
		    		<i class="fa fa-paper-plane-o"></i><span>Fare Recommendation</span>
		    	</a>
		    	<div class="tooltip">Fare Recommendation</div>
		    </li>
		    <li class="menu-list has-sub" ng-click="vm.toggleMenu($event)">
		    	<a>
		    		<i class="fa fa-list"></i><span>Entities</span>
		    	</a>
		    	<div class="sub-menu">
		    		<ul>
		    			<li>
		    		    	<a ui-sref="agent" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Agent </a>
		    		    </li>
		    			<li>
		    		    	<a ui-sref="agent-category" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Agent Category</a>
		    		    </li>
		    			<li>
		    		    	<a ui-sref="agent-groups" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Agent Group</a>
		    		    </li>
		    		 	<li>
		    		    	<a ui-sref="business-area" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Business Area </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="city" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> City </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="city-group" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> City Group</a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="currency" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Currency </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="fare-type" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Fare Type </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="master-tariff-domestic" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Master Tariff Domestic </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="passenger" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Passenger </a>
		    		    </li>
		    		    <!--<li>-->
		    		    	<!--<a ui-sref="review-level" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Review Level </a>-->
		    		    <!--</li>-->
		    		    <li>
		    		    	<a ui-sref="state" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> State </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="system-parameter" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> System Parameter </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="tariff-number" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Tariff Number </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="user-management" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> User Management </a>
		    		    </li>
		    		     <li>
		    		    	<a ui-sref="priority" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Priority </a>
		    		    </li>
		    		</ul>
		    	</div>
		    	<div class="tooltip">Entities</div>
		    </li>
		    <li class="menu-list has-sub" ng-click="vm.toggleMenu($event)">
		    	<a>
		    		<i class="fa fa-archive"></i><span>ATPCO Entities</span>
		    	</a>
		    	<div class="sub-menu">
		    		<ul>
		    			<li>
		    		    	<a ui-sref="atpco-master-fare-type" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Atpco Master Fare Type </a>
		    		    </li>
		    		    <li>
		    		    	<a ui-sref="atpco-master-fare-matrix" ng-click="vm.collapseNavbar()" class="linkClick"><i class="fa fa-circle"></i> Atpco Master Fare Matrix </a>
		    		    </li>
		    		</ul>
		    	</div>
		    	<div class="tooltip">ATPCO Entities</div>
		    </li>
		</ul>
		</nav>
	</div>

	<div class="content-header">
		<div class="clearfix">
			<a class="sidebar-toggle pull-left showLeftPush" id="show" data-toggle="push-menu">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</a>

	      	<div class="pull-right">
	            <ul class="top-right-nav">
	                <li>
	                    <a ui-sref="password"><i class="fa fa-user"></i>{{vm.loginInfo.firstName}}</a>
	                </li>
	                <li>
	                    <a ng-click="vm.logout()">Sign Out</a>
	                </li>
	            </ul>
	        </div>
		</div>
	</div>
</div>
<!-- <nav class="navbar navbar-default" role="navigation"> -->
<!--     <div class="container"> -->
<!--         <div class="navbar-header"> -->
<!--             <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()"> -->
<!--                 <span class="sr-only">Toggle navigation</span> -->
<!--                 <span class="icon-bar"></span> -->
<!--                 <span class="icon-bar"></span> -->
<!--                 <span class="icon-bar"></span> -->
<!--             </button> -->
<!--             <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()"> -->
<!--                 <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/> -->
<!--                 <span>Fmp</span> <span class="navbar-version">v{{VERSION}}</span> -->
<!--             </a> -->
<!--         </div> -->
<!--         <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()"> -->
<!--             <ul class="nav navbar-nav navbar-right"> -->
<!--                 <li ui-sref-active="active"> -->
<!--                     <a ui-sref="home" ng-click="vm.collapseNavbar()"> -->
<!--                         <span class="glyphicon glyphicon-home"></span> -->
<!--                         <span class="hidden-sm">Home</span> -->
<!--                     </a> -->
<!--                 </li> -->
<!--                 jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
<!--                 <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer"> -->
<!--                     <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu"> -->
<!--                         <span> -->
<!--                             <span class="glyphicon glyphicon-th-list"></span> -->
<!--                             <span class="hidden-sm"> -->
<!--                                 Entities -->
<!--                             </span> -->
<!--                             <b class="caret"></b> -->
<!--                         </span> -->
<!--                     </a> -->
<!--                     <ul class="dropdown-menu" uib-dropdown-menu> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="system-parameter" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-asterisk"></span>&nbsp; -->
<!--                                 <span>System Parameter</span> -->
<!--                             </a> -->
<!--                         </li> -->
<li ui-sref-active="active">
                                <a ui-sref="atpco-master-fare-matrix" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Atpco Master Fare Matrix</span>
                                </a>
                            </li>
<li ui-sref-active="active">
                                <a ui-sref="data-feed-fare-basis-group-mapping" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                    <span>Data Feed Fare Basis Group Mapping</span>
                                </a>
                            </li>
<!--                         jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="afd-query" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-asterisk"></span>&nbsp; -->
<!--                                 <span>AFD Query</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="yqyr-query" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-asterisk"></span>&nbsp; -->
<!--                                 <span>YQ/YR Query</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="work-packages" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-asterisk"></span>&nbsp; -->
<!--                                 <span>Work Packages</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                     </ul> -->
<!--                 </li> -->
<!--                 <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer"> -->
<!--                     <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu"> -->
<!--                         <span> -->
<!--                             <span class="glyphicon glyphicon-user"></span> -->
<!--                             <span class="hidden-sm"> -->
<!--                                 Account -->
<!--                             </span> -->
<!--                             <b class="caret"></b> -->
<!--                         </span> -->
<!--                     </a> -->
<!--                     <ul class="dropdown-menu" uib-dropdown-menu> -->
<!--                         <li ui-sref-active="active" ng-switch-when="true"> -->
<!--                             <a ui-sref="settings" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-wrench"></span>&nbsp; -->
<!--                                 <span>Settings</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active" ng-switch-when="true"> -->
<!--                             <a ui-sref="password" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-lock"></span>&nbsp; -->
<!--                                 <span>Password</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active" ng-switch-when="true"> -->
<!--                             <a href="" ng-click="vm.logout()" id="logout"> -->
<!--                                 <span class="glyphicon glyphicon-log-out"></span>&nbsp; -->
<!--                                 <span>Sign out</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active" ng-switch-when="false"> -->
<!--                             <a href="" ng-click="vm.login()" id="login"> -->
<!--                                 <span class="glyphicon glyphicon-log-in"></span>&nbsp; -->
<!--                                 <span>Sign in</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active" ng-switch-when="false"> -->
<!--                             <a ui-sref="register" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-plus-sign"></span>&nbsp; -->
<!--                                 <span>Register</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                     </ul> -->
<!--                 </li> -->
<!--                 <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer"> -->
<!--                     <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu"> -->
<!--                         <span> -->
<!--                             <span class="glyphicon glyphicon-tower"></span> -->
<!--                             <span class="hidden-sm">Administration</span> -->
<!--                             <b class="caret"></b> -->
<!--                         </span> -->
<!--                     </a> -->
<!--                     <ul class="dropdown-menu" uib-dropdown-menu> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="user-management" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-user"></span>&nbsp; -->
<!--                                 <span>User management</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="jhi-tracker" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-eye-open"></span>&nbsp; -->
<!--                                 <span>User tracker</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-dashboard"></span>&nbsp; -->
<!--                                 <span>Metrics</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-heart"></span>&nbsp; -->
<!--                                 <span>Health</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-list-alt"></span>&nbsp; -->
<!--                                 <span>Configuration</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="audits" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-bell"></span>&nbsp; -->
<!--                                 <span>Audits</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ui-sref-active="active"> -->
<!--                             <a ui-sref="logs" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-tasks"></span>&nbsp; -->
<!--                                 <span>Logs</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         <li ng-show="vm.swaggerEnabled" ui-sref-active="active"> -->
<!--                             <a ui-sref="docs" ng-click="vm.collapseNavbar()"> -->
<!--                                 <span class="glyphicon glyphicon-book"></span>&nbsp; -->
<!--                                 <span>API</span> -->
<!--                             </a> -->
<!--                         </li> -->
<!--                         jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
<!--                     </ul> -->
<!--                 </li> -->
<!--             </ul> -->
<!--         </div> -->
<!--     </div> -->
<!-- </nav> -->

