
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="publishedFareCommissionRatesLabel">Create
			or edit a Published Fare Commission Rates</h4>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group" ng-show="vm.publishedFareCommissionRates.id">
			<label for="id">ID</label> <input type="text" class="form-control"
				id="id" name="id" ng-model="vm.publishedFareCommissionRates.id"
				readonly />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_posCountry">POS
				Country</label> <input type="text" class="form-control" name="posCountry"
				id="field_posCountry"
				ng-model="vm.publishedFareCommissionRates.posCountry" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_travelDateFrom">Travel
				Date From</label> <input type="text" class="form-control"
				name="travelDateFrom" id="field_travelDateFrom"
				ng-model="vm.publishedFareCommissionRates.travelDateFrom" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_travelDateTo">Travel
				Date To</label> <input type="text" class="form-control" name="travelDateTo"
				id="field_travelDateTo"
				ng-model="vm.publishedFareCommissionRates.travelDateTo" />
		</div>
		<div class="form-group">
			<label class="control-label" for="field_rate">Rate</label> <input
				type="text" class="form-control" name="rate" id="field_rate"
				ng-model="vm.publishedFareCommissionRates.rate" />
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-back" data-dismiss="modal"
			ng-click="vm.clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
			class="btn btn-secondary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
