<div>
	<div class="content-title">
		<h2>Passengers</h2>
    	<jhi-alert></jhi-alert>
	</div>
	<div class="panel">
		<div class="panel-body">
			<div class="container-fluid">
		        <div class="row">
		            <div class="col-md-12 no-pad text-right">
		                <button class="btn btn-default" ui-sref="passenger.new" >
		                    <span >
		                        Create new Passenger
		                    </span>
		                </button>
		            </div>
		        </div>
		    </div>
		    <br/>
		    <div class="table-responsive">
		        <table class="jh-table table table-striped">
		            <thead>
		                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
		                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="code"><span>Code</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="passenger in vm.passengers track by passenger.id">
		                    <td><a ui-sref="passenger-detail({id:passenger.id})">{{passenger.id}}</a></td>
		                    <td>{{passenger.code}}</td>
		                    <td>{{passenger.name}}</td>
		                    <td>{{passenger.description}}</td>
		                    <td class="text-right">
		                        <div class="btn-group flex-btn-group-container">
		                            <button type="submit"
		                                    ui-sref="passenger-detail({id:passenger.id})"
		                                    class="btn btn-info btn-sm linkClick">
		                                <span class="glyphicon glyphicon-eye-open"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="passenger.edit({id:passenger.id})"
		                                    class="btn btn-primary btn-sm">
		                                <span class="glyphicon glyphicon-pencil"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="passenger.delete({id:passenger.id})"
		                                    class="btn btn-danger btn-sm">
		                                <span class="glyphicon glyphicon-remove-circle"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                        </div>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		    <div class="text-center">
		        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
		        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
		    </div>
		</div>
	</div>
    
</div>
