<div class="content-title">
	<h2>Tax Query</h2>
	<jhi-alert></jhi-alert>
</div>

<div class="panel">
	<div class="panel-body">
		<div class="filter-hero">
			<div class="filter-label semibold show">Hide Filter</div>
			<div class="filter-area">
				<div class="clearfix">
					<form name="queryForm" role="form" novalidate>
						<div class="col-md-12 no-pad">
							<div class="col-md-3">	
						     	<div class="form-group">
									<div class="custom-label semibold">Carrier</div>
									<input type="text" class="form-control" name="carrier" id="carrier" ng-model="vm.queryParams.carrier" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Nation</div>
									<input type="text" class="form-control" name="nation" id="nation" ng-model="vm.queryParams.nation" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Tax Code</div>
									<input type="text" class="form-control" name="taxCode" id="taxCode" ng-model="vm.queryParams.taxCode" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Tax Type</div>
									<input type="text" class="form-control" name="taxType" id="taxType" ng-model="vm.queryParams.taxType" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Tax Point Tag</div>
									<select class="form-control" name="taxPointTag" id="taxPointTag" ng-model="vm.queryParams.taxPointTag">
										<option value="{{value.key}}" ng-repeat="value in vm.taxPointTags track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Percent Flat Tag</div>
									<select class="form-control" name="percentFlatTag" id="percentFlatTag" ng-model="vm.queryParams.percentFlatTag">
										<option value="{{value.key}}" ng-repeat="value in vm.percentFlatTags track by $index">{{value.value}}</option>
									</select>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Tax Unit Tag</div>
									<select class="form-control" name="taxUnitTag" id="taxUnitTag" ng-model="vm.queryParams.taxUnitTag">
										<option value="{{value.key}}" ng-repeat="value in vm.taxUnitTags track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Sale Date</div>
									<div class="row no-mar">
										<div class="col-md-4 no-lpad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'saleDateFrom')"
												is-open="vm.datePickerOpenStatus['saleDateFrom']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="saleDateFrom" id="datepicker" 
												ng-model="vm.saleDateFrom" placeholder="From"/>
										</div>
										<div class="col-md-4 no-pad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'saleDateTo')"
												is-open="vm.datePickerOpenStatus['saleDateTo']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="saleDateTo" id="datepicker" 
												ng-model="vm.saleDateTo" placeholder="To"/>
										</div>
										<div class="col-md-4 no-rpad">
											<select class="form-control" name="saleDateOption" id="saleDateOption" ng-init="vm.queryParams.saleDateOption = vm.dateOptions[0].key" ng-model="vm.queryParams.saleDateOption">
												<option value="{{value.key}}" ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Travel Application</div>
									<select class="form-control" name="travelApplication" id="travelApplication" ng-model="vm.queryParams.travelApplication">
										<option value="{{value.key}}" ng-repeat="value in vm.travelApplications track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Travel Date</div>
									<div class="row no-mar">
										<div class="col-md-4 no-lpad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'travelDateFrom')"
												is-open="vm.datePickerOpenStatus['travelDateFrom']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="travelDateFrom" id="datepicker" 
												ng-model="vm.travelDateFrom" placeholder="From"/>
										</div>
										<div class="col-md-4 no-pad absolute-datepicker">
											<input type="text" class="form-control" ng-click="vm.openCalendar($event, 'travelDateTo')"
												is-open="vm.datePickerOpenStatus['travelDateTo']" datetime-picker="{{vm.dateFormat}}" 
												enable-time="false" name="travelDateTo" id="datepicker" 
												ng-model="vm.travelDateTo" placeholder="To"/>
										</div>
										<div class="col-md-4 no-rpad">
											<select class="form-control" name="travelDateOption" id="travelDateOption" ng-init="vm.queryParams.travelDateOption = vm.dateOptions[0].key" ng-model="vm.queryParams.travelDateOption">
												<option value="{{value.key}}" ng-repeat="value in vm.dateOptions track by $index">{{value.value}}</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Ticketed Point Tag</div>
									<select class="form-control" name="ticketedPointTag" id="ticketedPointTag" ng-model="vm.queryParams.ticketedPointTag">
										<option value="{{value.key}}" ng-repeat="value in vm.ticketedPointTags track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Point of Sale</div>
									<input type="text" class="form-control" name="pointOfSale" id="pointOfSale" ng-model="vm.queryParams.pointOfSale" uppercase/>
								</div>
							</div>
							<div class="col-md-3">	
								<div class="form-group">
									<div class="custom-label semibold">Point of Ticketing</div>
									<input type="text" class="form-control" name="pointOfTicketing" id="pointOfTicketing" ng-model="vm.queryParams.pointOfTicketing" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Security Table 183</div>
									<select class="form-control" name="securityTable183" id="securityTable183" ng-model="vm.queryParams.securityTable183">
										<option value="{{value.key}}" ng-repeat="value in vm.securityTable183s track by $index">{{value.value}}</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Journey From</div>
									<input type="text" class="form-control" name="journeyFrom" id="journeyFrom" ng-model="vm.queryParams.journeyFrom" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Journey To</div>
									<input type="text" class="form-control" name="journeyTo" id="journeyTo" ng-model="vm.queryParams.journeyTo" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Journey Include</div>
									<input type="text" class="form-control" name="journeyInclude" id="journeyInclude" ng-model="vm.queryParams.journeyInclude" uppercase/>
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Journey Wholly Within</div>
									<input type="text" class="form-control" name="journeyWhollyWithin" id="journeyWhollyWithin" ng-model="vm.queryParams.journeyWhollyWithin" uppercase/>
								</div>
							</div>
							<div class="clearfix">
								<div class="pull-right pv1">
									<button type="button" class="btn btn-default small" ng-click="vm.query()" id="btn-afd-query">Query</button>
									<button type="reset" ng-click="vm.reset()" class="btn btn-default small">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="table-wrapper table-afd mb2">
			<div class="datatable-wrapper form-inline">
				<div class="table-responsive" style="overflow-y:hidden; max-height: initial; padding-bottom: 0">
					<div class="absolute-table">
						<table class="table table-striped table-bordered datatable table-header-fixed">
				            <thead class="thead-fixed">
				                <tr>
				                	<th class="th-fixed">ID</th>
				                	<th class="th-fixed">Tax Carrier</th>
				                </tr>
				         	</thead>
				         	<tbody id="tbody-afd" class="tbody-fixed">
				                <tr class="tr-afd" ng-repeat="tax in vm.taxes track by tax.id" ng-click="vm.selectedTax = tax" ng-class="{'selected': vm.selectedTax == tax}">
				                    <td>{{$index + 1}}</td>
				                    <td>{{tax.carrierCode}}</td>
				         		</tr>
				         		<tr infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.disableInfiniteScroll || vm.isLastPage || vm.isLoading" infinite-scroll-container="'#tbody-afd'"></tr>
				        	</tbody>
				       	</table>
				   	</div>
				   	<div class="text-center fixed-wrapper-inside">
						<div class="spinner" ng-if="vm.isLoading">
							<div class="rect1"></div>
							<div class="rect2"></div>
							<div class="rect3"></div>
							<div class="rect4"></div>
							<div class="rect5"></div>
						</div>
						<div class="center-div" ng-if="(vm.noDataAvailable || vm.taxes.length == 0) && !vm.isLoading">No Data Available</div>
						<div class="center-div" ng-if="vm.isLastPage && !vm.noDataAvailable">You have reached the end of the page &nbsp;<i style="font-size: 8px !important; top: 0" class="glyphicon glyphicon-chevron-up"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>