
<div class="panel">
	<div class="panel-body">

		<div class="filter-hero">
			<div class="filter-label semibold show">Hide Filter</div>
			<div class="filter-area">
				<div class="clearfix">
					<form name="queryForm" role="form" novalidate>
						<div class="pull-left col-md-12 no-pad">
							<div class="pull-left col-md-6 no-lpad">
								<div class="form-group">
									<div class="custom-label semibold">Carrier</div>
									<input type="text" class="form-control" name="carrier" id="cxr"
										ng-model="vm.queryParams.cxr" uppercase />
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Rule Number</div>
									<input type="text" class="form-control" name="ruleNumber"
										id="ruleNo" ng-model="vm.queryParams.ruleNo" uppercase />
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Rule Type</div>
									<input type="text" class="form-control" name="ruleType"
										id="type" ng-model="vm.queryParams.type" uppercase />
								</div>
							</div>
							<div class="pull-right col-md-6 no-rpad">
								<div class="form-group">
									<div class="custom-label semibold">Source</div>
									<input type="text" class="form-control" name="source" id="src"
										ng-model="vm.queryParams.src" uppercase />
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Tariff</div>
									<input type="text" class="form-control" name="tariff"
										id="ruleTarNo" ng-model="vm.queryParams.ruleTarNo" uppercase />
								</div>
								<div class="form-group">
									<div class="custom-label semibold">Category</div>
									<select class="form-control" name="category" id="catNo" ng-model="vm.queryParams.catNo">
										<option value="">All</option>
										<option value="001">01 - Eligibility</option>
										<option value="002">02 - Day/Time</option>
										<option value="003">03 - Season App</option>
										<option value="004">04 - Flight App</option>
										<option value="005">05 - Adv Bkg</option>
										<option value="006">06 - Min Stay</option>
										<option value="007">07 - Max Stay</option>
										<option value="008">08 - Stopovers</option>
										<option value="009">09 - Transfers</option>
										<option value="010">10 - Comb'ty</option>
										<option value="011">11 - Blackouts</option>
										<option value="012">12 - Surcharges</option>
										<option value="013">13 - Accmp Tvl</option>
										<option value="014">14 - Tvl Rest</option>
										<option value="015">15 - Sale Rest</option>
										<option value="016">16 - Penalties</option>
										<option value="017">17 - Hi Int Pt</option>
										<option value="018">18 - Tkt Endorse</option>
										<option value="019">19 - Child Disc</option>
										<option value="020">20 - Tour Disc</option>
										<option value="021">21 - Agents Disc</option>
										<option value="022">22 - Other Disc</option>
										<option value="023">23 - Misc Tags</option>
										<option value="026">26 - Groups</option>
										<option value="027">27 - Tours</option>
										<option value="028">28 - Visit Cntry</option>
										<option value="029">29 - Deposits</option>
										<option value="031">31 - Vol Chgs</option>
										<option value="033">33 - Vol Refunds</option>
										<option value="035">35 - Neg Fares</option>
										<option value="050">50 - Rule App</option>
									</select>
								</div>
							</div>
							<div class="pull-right col-md-6 no-pad">
								<div class="form-group">
									<div class="pull-right query-button-wrapper">
										<button type="button" class="btn btn-default small pull-left"
											ng-click="vm.loadAll(); vm.hideDetail()">Query</button>
										<button type="button" class="btn btn-default small pull-left"
											ng-click="vm.hideDetail(); vm.clearFilter();">Clear</button>
										<button type="reset" ng-click="vm.reset(); vm.hideDetail()"
											class="btn btn-default small pull-left">Reset</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="table-wrapper">
			<div class="datatable-wrapper form-inline">
				<div class="table-responsive">
					<table class="table table-striped table-bordered datatable">
						<thead>
							<tr>
								<th>No</th>
								<th>CXR</th>
								<th>TAR NO</th>
								<th>RULE NO</th>
								<th>TYPE</th>
								<th>SRC</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ruleQuery in vm.ruleQueries" ng-click="vm.selectedRow = ruleQuery; vm.getRules(ruleQuery); vm.getRules2(ruleQuery); vm.showDetail()" ng-class="{'selected': vm.selectedRow == ruleQuery}">
								<td>{{$index + 1}}</td>
								<td>{{ruleQuery.cxr}}</td>
								<td>{{ruleQuery.tarNo}}</td>
								<td>{{ruleQuery.ruleNo}}</td>
								<td>{{ruleQuery.type}}</td>
								<td>{{ruleQuery.src}}</td>
							</tr>
							<!-- 							<tr ng-if="vm.selectedRow == afdQuery.atpcoFareId"> -->
							<!-- 								<div></div> -->
							<!-- 							</tr> -->
						</tbody>
					</table>
				</div>
				<div class="text-center">
					<jhi-item-count page="vm.page" total="vm.queryCount"
						items-per-page="vm.itemsPerPage"></jhi-item-count>
					<uib-pagination class="pagination-sm" total-items="vm.totalItems"
						items-per-page="vm.itemsPerPage" ng-model="vm.page"
						ng-change="vm.loadAll()"></uib-pagination>
				</div>
			</div>
		</div>
		
		<div class="table-wrapper">
			<div class="datatable-wrapper form-inline">
				<div class="table-responsive">
					<table class="table table-striped table-bordered datatable" id="tblDetail"  hidden="hidden">
						<thead>
							<tr>
								<th>NO</th>
								<th>CAT NO</th>
								<th>SEQ NO</th>
								<th>LOC 1 TYPE</th>
								<th>LOC 1</th>
								<th>LOC 2 TYPE</th>
								<th>LOC 2</th>
								<th>FARE BASIS</th>
								<th>FARE TYPE</th>
								<th>SSN</th>
								<th>DOW</th>
								<th>OWRT</th>
								<th>RTG NO</th>
								<th>FTNT</th>
								<th>EFFECTIVE DATE</th>
								<th>DISCONTINUE DATE</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rq in vm.ruleQueryCategories">
								<td>{{$index + 1}}</td>
								<td>{{rq.catNo}}</td>
								<td>{{rq.sequenceNo}}</td>
								<td>{{rq.geoType1}}</td>
								<td>{{rq.geoLoc1}}</td>
								<td>{{rq.geoType2}}</td>
								<td>{{rq.geoLoc2}}</td>
								<td>{{rq.fareClass}}</td>
								<td>{{rq.fareType}}</td>
								<td>{{rq.seasonType}}</td>
								<td>{{rq.dayOfWeekType}}</td>
								<td>{{rq.owrt}}</td>
								<td>{{rq.routingNo}}</td>
								<td>{{rq.footnote}}</td>
								<td>{{rq.effectiveDateObject | date:'medium'}}</td>
								<td><span ng-if="rq.discontinueDateObject=='indef'"></span><span ng-if="rq.discontinueDateObject!='indef'">{{rq.discontinueDateObject  | date:'medium'}}</span></td>
								
							</tr>
							<!-- 							<tr ng-if="vm.selectedRow == afdQuery.atpcoFareId"> -->
							<!-- 								<div></div> -->
							<!-- 							</tr> -->
						</tbody>
					</table>
				</div>
				
				<div class="additional-info-wrapper" id="ruleCategories" hidden="hidden"> 
           			<div class="additional-info" ng-click="vm.showCategoryDetail(cat)" ng-class="{'yellow': cat.catAttributes.length > 0 && cat.type != 'G', 'blue': cat.catAttributes.length > 0 && cat.type == 'G'}" ng-repeat="cat in vm.ruleQueryCategories2 track by cat.catNo">
           				{{cat.catNo}} {{cat.catName}} <span ng-if="cat.catAttributes.length > 0">({{cat.type}})</span>
           			</div>
           		</div>
<!-- 				<div class="text-center"> -->
<!-- 					<jhi-item-count page="vm.page" total="vm.queryCount" -->
<!-- 						items-per-page="vm.itemsPerPage"></jhi-item-count> -->
<!-- 					<uib-pagination class="pagination-sm" total-items="vm.totalItems" -->
<!-- 						items-per-page="vm.itemsPerPage" ng-model="vm.page" -->
<!-- 						ng-change="vm.loadAll()"></uib-pagination> -->
<!-- 				</div> -->
			</div>
		</div>

	</div>
</div>