<div class="content-title">
		<h2>Agents</h2>
		<jhi-alert></jhi-alert>
</div>
<div class="panel">
	<div class="panel-body">
		<!-- filter -->
		<div class="filter-hero">
			<div class="filter-label semibold show">
			Hide Filter
			</div>							
			<div class="filter-area">
				<div class="clearfix">
					<div class="pull-left w25 ph5px">	
				     	<div class="form-group">
							<label class="custom-label semibold" for="agentType">Agent Type</label>
					        <select class="form-control" name="agentType" id="agentType" ng-model="vm.agentType" ng-options="x for x in vm.optionAgentType"></select>
				        </div>
				     	<div class="form-group">
							<label class="custom-label semibold" for="agentCategory">Agent Category</label>
							<input type="text" class="form-control" name="agentCategory" ng-model="vm.agentCategory" id="agentCategory">
				        </div>
					</div>
					<div class="pull-left w25 ph5px">	
				   		<div class="form-group">
							<label class="custom-label semibold" for="posCountry">Pos Country</label>
					        <input type="text" class="form-control" name="posCountry" ng-model="vm.posCountry" id="posCountry">
				        </div>
				        <div class="form-group">
							<label class="custom-label semibold" for="agentName">Agent Name</label>
					        <input type="text" class="form-control" name="agentName" ng-model="vm.agentName" id="agentName">
				        </div>
			 		</div>
			 		<div class="pull-left w25 ph5px">	
				   		<div class="form-group">
							<label class="custom-label semibold" for="posCity">Pos City</label>
					        <input type="text" class="form-control" name="posCity" ng-model="vm.posCity" id="posCity">
				        </div>
				        <div class="form-group">
							<label class="custom-label semibold" for="iataCode">IATA Code</label>
					        <input type="text" class="form-control" name="iataCode" ng-model="vm.iataCode" id="iataCode">
				        </div>
			 		</div>
			 		<div class="pull-left w25 ph5px">
				 		<div class="form-group">
				            <label class="custom-label semibold" for="isDeleted">Is Deleted</label>
				            <select class="form-control" id="vm.isDeleted" ng-model="vm.isDeleted" ng-options="x for x in vm.optionDelete"></select>
				        </div>
				        <div class="clearfix">
				        	<div class="pull-right">
					        	<button type="submit" ng-click="vm.searchQuery()"  class="btn btn-primary btn-sm" style="margin-top: 35px">
						         	Query
							     </button>
							     <button type="submit" ng-click="vm.reset()"  class="btn btn-primary btn-sm" style="margin-top: 35px">
							         Reset
							     </button>
				        	</div>
				        </div>
				        
			        </div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
	        <div class="row">
	            <div class="no-padding-left">
	                <button class="btn btn-secondary" ui-sref="agent.new" >
	                    <span class="glyphicon glyphicon-plus"></span>
	                    <span >
	                        Create new Agent
	                    </span>
	                </button>
	                 <button class="btn btn-secondary" ng-click="vm.exportAgencies()">
	                    <span class="glyphicon glyphicon-upload" ></span>
	                    <span >
	                        Export
	                    </span>
	                </button>
	                <button class="btn btn-secondary" ng-click="vm.exportAllAgencies()">
	                    <span class="glyphicon glyphicon-upload" ></span>
	                    <span >
	                        Export All
	                    </span>
	                </button>
	                <button class="btn btn-secondary" ngf-select class="btn btn-default btn-block"
				               ngf-change="vm.importAgencies($file)" >
	                    <span class="glyphicon glyphicon-download"></span>
	                    <span >
	                        Import
	                    </span>
	                </button>
	            </div>
	        </div>
    	</div>
    	<br/>
    	<div class="table-wrapper">
    		<div class="table-responsive">
		        <table class="table table-stripped table-bordered datatable" jq-slider>
		            <thead>
		                <tr role="row" jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
		                    <th jh-sort-by="agentName">Agent Name <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="agentType">Agent Type <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="agentCategory">Agent Category <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="posCity">Pos City <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="posCountry">Pos Country <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="address">Address <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="telephone">Telephone <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="fax">Fax <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="email">Email <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="contact">Contact <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="iataCode">Iata Code <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="isDeleted">Is Deleted <span class="glyphicon glyphicon-sort"></span></th>
		                    <th jh-sort-by="isDeleted">PCC <span class="glyphicon glyphicon-sort"></span></th>
		                    <th></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="agent in vm.agents track by agent.id">
		                    <td>{{agent.agentName}}</td>
		                    <td>{{agent.agentType}}</td>
		                    <td>{{agent.agentCategory}}</td>
		                    <td>{{agent.posCity}}</td>
		                    <td>{{agent.posCountry}}</td>
		                    <td>{{agent.address}}</td>
		                    <td>{{agent.telephone}}</td>
		                    <td>{{agent.fax}}</td>
		                    <td>{{agent.email}}</td>
		                    <td>{{agent.contact}}</td>
		                    <td>{{agent.iataCode}}</td>
		                    <td>{{agent.isDeleted}}</td>
		                    <td>
		                    	<table class="sub-table"  ng-if="agent.agentPcc != null && agent.agentPcc.length > 0">
		                    		<thead>
		                    			<tr><th  colspan="2"><center>PCC</center></th></tr>
		                    			<tr>
		                    				<th>Pseudo City</th>
		                    				<th>CRS</th>
		                    			</tr>			                    			
		                    		</thead>
		                    		<tbody>
		                    			<tr ng-repeat="agentPcc in agent.agentPcc track by $index">
		                    				<td>{{agentPcc.pdeudoCity}}</td>
		                    				<td>
		                    					{{agentPcc.crs}}
		                    				</td>
		                    			</tr>
		                    		</tbody>
		                    	</table>	
		                    </td>
		                    <td class="text-right">
		                        <div class="btn-group flex-btn-group-container">
		                            <button type="submit"
		                                    ui-sref="agent-detail({id:agent.id})"
		                                    class="btn btn-info btn-sm">
		                                <span class="glyphicon glyphicon-eye-open"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="agent.edit({id:agent.id})"
		                                    class="btn btn-primary btn-sm">
		                                <span class="glyphicon glyphicon-pencil"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                            <button type="submit"
		                                    ui-sref="agent.delete({id:agent.id})"
		                                    class="btn btn-danger btn-sm">
		                                <span class="glyphicon glyphicon-remove-circle"></span>
		                                <span class="hidden-sm-down"></span>
		                            </button>
		                        </div>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	    	</div>
    	</div>
    	
    	<div class="text-center">
	        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
	        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
	    </div>
	</div>
</div>
